<app-explore-header type="experts" (query)="query$.next($event)"></app-explore-header>

<section class="filters d-flex align-items-center mb-3" [formGroup]="filterFormGroup">
  <div class="container">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Organizations</label>
          <app-tags-input [searchFunction]="autocompleteOrganizations" [loadTagsFunction]="loadOrganizations"
                          formControlName="organizationIds">
          </app-tags-input>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Territory</label>
          <app-multi-select
            [options]="countries$ | async"
            formControlName="countryCodes"></app-multi-select>
        </div>
      </div>
    </div>
  </div>
</section>

<app-page-loader *ngIf="loading$ | async"></app-page-loader>

<ng-container *ngIf="lectureWrapper$ | async as lectureWrapper">
  <section class="container" [hidden]="loading$ | async">
    <app-lecture-card [lecturePreview]="lecture"
                      [linkType]="'standard'"
                      *ngFor="let lecture of lectureWrapper.lecturePreviewDtos"></app-lecture-card>
  </section>
</ng-container>

<app-pagination [pageInfo]="pageInfo$ | async"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(lectureWrapper$ | async)?.numberOfAllItems"></app-pagination>
