<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<div class="p-4 border-top" [hidden]="loading$ | async">
  <h3 class="no-wrap ng-star-inserted mb-2">Recombee Service</h3>

  <div class="expert-card font-weight-normal font-size-sm text-black w-100 h-auto mb-2 py-1" style="min-height: 0">
    <div class="col-2">Organization</div>
    <div class="col-1">
      all
    </div>
    <div class="col-9 text-right d-flex justify-content-between" *ngIf="targets$ | async as targets">
      <ng-container *ngIf="organizations$ | async as organizations">
        <ng-container *ngFor="let target of targets">
          <button class="btn btn-success" (click)="reindexAll([target], organizations, false, $event)">{{ target }}</button>
        </ng-container>
        <button class="btn btn--blue" (click)="reindexAll(targets, organizations, false, $event)">Reindex all</button>
        <button class="btn btn-danger" (click)="reindexAll(targets, organizations, true, $event)">Reset columns and re-upload</button>
        <button class="btn btn-danger" (click)="resetAll(organizations)">Delete data</button>
      </ng-container>
    </div>
  </div>

  <div class="expert-card font-weight-normal font-size-sm text-black w-100 h-auto mb-2 py-1" style="min-height: 0"
       *ngFor="let row of reindexOptions$ | async">
    <div class="col-2">
      {{row.organization.organizationAbbrev || row.organization.organizationName }}
    </div>
    <div class="col-1">
      {{ row.recombeeIdentifier }}
    </div>
    <div class="col-9 text-right d-flex justify-content-between">
      <ng-container *ngFor="let target of row.targets">
        <button class="btn btn-outline-success" (click)="reindex([target], row.organization, false, $event)">{{ target }}</button>
      </ng-container>
      <button class="btn btn--blue" (click)="reindex(row.targets, row.organization, false, $event)">Reindex all</button>
      <button class="btn btn-danger" (click)="reindex(row.targets, row.organization, true, $event)">Reset columns and re-upload</button>
      <button class="btn btn-danger" (click)="reset(row.organization)">Delete data</button>
    </div>
  </div>
</div>
