
.license-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe6ed;
  min-height: 44px;
  padding-left: 2rem;

  .btn-trash{
    color: #e5383b;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: rgba(255,255,255);
  }
}



.example-viewport {
  height: 132px;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 600px;
  overflow: auto;
  scroll-behavior: smooth;
}



