<article class="card">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <div class="mb-1" *ngFor="let organizationType of organizationTypes" style="min-height: 150px">
    <div class="d-flex align-items-center justify-content-between">
      <h5>{{ organizationType.title }}</h5>
      <button class="btn"
              (click)="showExpertsModal(organizationType.licenseRole)">Add</button>
    </div>

    <ng-container  *ngIf="data$ | async as data">
      <cdk-virtual-scroll-viewport itemSize="44px" class="infinite example-viewport rounded">
        <div *ngFor="let row of data">
          <div *ngIf="row.licenceRole == organizationType.licenseRole">
            <div class="license-card" *cdkVirtualFor="let user of row.organizationUserDtos">
              <a [routerLink]="'expertDetail' | path: (user | expertCode)">{{ user.name }}</a>
              <button (click)="removeRole(user, organizationType.licenseRole)" class="btn-trash">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </div>
</article>
