<div *ngFor="let organization of organizationStructure$ | async">
  <div class="d-flex justify-content-start btn btn--gray" (click)="toggleExpand(organization)"
       [class.btn--light]="organization.organizationId != (organizationId$ | async)">
    <fa-icon [icon]="(organization.expanded$ | async) ? 'angle-down' : 'angle-right'" style="width: 1em"
             class="mr-2 flex-shrink-0 flex-grow-0"
             [class.invisible]="!organization.organizationUnits.length"></fa-icon>
    <a
      (click)="checkOrganizationLicense(organization)" class="text-overflow-ellipsis"
      [ngbTooltip]="organization.organizationName">
      {{organization.organizationAbbrev || organization.organizationName}}
    </a>
  </div>
  <div class="company-tree__wrapper">
    <app-organization-structure *ngIf="organization.organizationUnits.length > 0 && (organization.expanded$ | async)"
                                [currentOrganizationId]="organizationId$ | async"
                                [structure]="organization.organizationUnits">
    </app-organization-structure>
  </div>
</div>
