<div class="row mb-4 pb-4">
  <div class="col-12 col-lg-2 d-flex justify-content-lg-end">
    <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Experts</label>
  </div>
  <div class="col-12 col-lg-7 d-flex flex-column">
    <div class="d-flex align-items-center mb-2" *ngFor="let e of experts$ | async">
      <div class="w-100 mr-3">
        <button class="btn btn--gray font-weight-normal font-size-sm text-black w-100 justify-content-start"
                type="button">
          {{e.name}}
        </button>
      </div>
      <button class="btn-plain btn-plain-gray dropdown__delete" (click)="removeExpert(e)">
        <fa-icon icon="trash"></fa-icon>
      </button>
    </div>

    <div class="d-flex align-items-center mb-2" *ngFor="let notRegisteredExpert of notRegisteredExperts$ | async">
      <div class="w-100 mr-3">

        <button class="btn btn--gray font-weight-normal font-size-sm text-black w-100 justify-content-start"
                type="button"
                style="position: relative; padding-right: 32px;"
                [matMenuTriggerFor]="menu"
                (onMenuOpen)="setChosenExpert(notRegisteredExpert.expertName)">
          {{notRegisteredExpert.expertName}}
          <fa-icon class="exclamation-icon btn-plain btn-plain-gray" icon="exclamation-circle"
                   style="position: absolute; top: 50%; right: 8px; transform: translateY(-50%);"
                   title="Platform expert is not assigned"></fa-icon>
        </button>

        <mat-menu #menu="matMenu">
          <ng-container *ngIf="editExpertLoading | async; else expertsList">
            <app-page-loader></app-page-loader>
          </ng-container>
          <ng-template #expertsList>
            <mat-option *ngFor="let option of editExpertOptions" [value]="option" container="body"
                        [ngbTooltip]="option.name" (click)="makeExpertActive(option, notRegisteredExpert)">
              {{option.name}}
              <div class="sub-description" *ngIf="option.organizationDtos.length > 0">
                <ng-container *ngFor="let o of option.organizationDtos; let last=last">
                  {{o.organizationAbbrev || o.organizationName}}
                  <ng-container *ngIf="!last">,</ng-container>
                </ng-container>
              </div>
            </mat-option>
          </ng-template>
        </mat-menu>
      </div>

      <button class="btn-plain btn-plain-gray dropdown__delete"
              (click)="removeNotRegisteredExpert(notRegisteredExpert)">
        <fa-icon icon="trash"></fa-icon>
      </button>
    </div>

    <div class="d-flex align-items-center mt-2">

      <input class="input input--gray mr-3" [matAutocomplete]="expertsAutocomplete" [formControl]="searchExpertFc"
             placeholder="Search existing experts">

      <mat-autocomplete #expertsAutocomplete="matAutocomplete" (optionSelected)="addExpert($event.option.value)">
        <mat-option *ngFor="let option of expertOptions$ | async" [value]="option"
                    container="body"
                    [ngbTooltip]="option.name">
          {{option.name}}
          <div class="sub-description" *ngIf="option.organizationDtos.length > 0">
            <ng-container *ngFor="let o of option.organizationDtos; let last=last">
              {{o.organizationAbbrev || o.organizationName}}
              <ng-container *ngIf="!last">,</ng-container>
            </ng-container>
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</div>
