<div *ngFor="let organization of organizations">
  <a (click)="checkOrganizationLicense(organization)" class="link-dark">
    {{organization.organizationAbbrev || organization.organizationName}}
  </a>
</div>
