/**
 * Activity
 */

.activity {
  max-width: 1000px;
  font-size: $font-size-xs;
  overflow-x: scroll;

  &__header {
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #dfe6ed;
  }

  &__item {
    display: flex;
    min-height: 48px;

    .column-1 {
      min-height: 48px;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid #c1cad4;
        background: $white;
        border-radius: 100%;
        z-index: 1;
      }

      &::after {
        content: '';
        width: 2px;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: #c1cad4;
      }
    }
  }

  &__comment {
    background: #e4ebff;
    border-radius: 8px;
    margin-top: .5rem;
    padding: .5rem 1rem;
    line-height: 1.3;
    color: $black;
  }

  &__body {
    .column-2,
    .column-3,
    .column-4 {
      padding-top: .75rem;
    }
  }

  &__name,
  &__action {
    color: $black;
  }

  .column-1 {
    position: relative;
    flex: 0 0 50px;
  }

  .column-2 {
    display: flex;
    flex: 0 0 190px;
  }

  .column-3 {
    flex: 0 0 170px;
  }

  .column-4 {
    min-width: 580px;
    max-width: 580px;
  }

  .avatar {
    margin-right: .5rem;
  }
}
