/**
 * Activity card
 */

.activity-card {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  padding: .5rem .75rem;
  border: 1px solid #dfe6ed;
  font-size: $font-size-xs;
  border-radius: $btn-radius;

  &__name {
    color: $black;
  }

  &__date {
    margin-left: auto;
    align-self: flex-start;
  }

  .avatar {
    margin-right: .5rem;
  }
}
