/**
 * Aside
 */

.aside {
  max-width: 0;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(23, 23, 38, .15);
  min-height: 100%;
  z-index: 1;
  $this: &;

  &__navigation-toggle {
    display: inline-block;
    transform: rotate(180deg) translate(-100%, 0px);
    transition: margin .2s;
  }

  &__wrapper {
    position: fixed;
    top: 64px;
    width: 242px;
    transform: translateX(-100%);
    transition: $transition-base;
    min-height: calc(100vh - 64px);
  }

  &__label {
    display: block;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: #949ea9;
  }

  &__nav-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0 1rem 1.25rem;
    fill: #5e6771;
    cursor: pointer;

    &.open {
      background: #f4f7fa;

      > svg {
        transform: rotate(90deg);
      }

      #{$this}__accordion {
        display: flex;
        flex-direction: column;
        max-height: unset;
        padding-right: 1rem;
        margin-top: 1rem;
      }
    }

    &::after {
      content: url('~assets/images/selector.svg');
      display: none;
      position: absolute;
      left: 0;
    }

    > svg {
      margin-right: 1.5rem;
    }

    > figure {
      width: 24px;
      height: 24px;
      margin-right: 1.5rem;
      border: 1px solid #c1cad4;
      border-radius: 100%;
      overflow: hidden;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    > span {
      font-weight: $font-weight-bold;
      font-size: $font-size-xs;
    }

    &:hover {
      background: #f4f7fa;
    }

    &.active {
      fill: #303ffb;
      background: #f4f7fa;

      &::after {
        display: block;
      }
    }
  }

  &__sub-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    font-size: .8125rem;
    font-weight: $font-weight-bold;
    padding-left: calc(24px + 1.5rem);
    border-radius: $btn-radius;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &:not(.disabled):hover {
      background: $white;
    }

    &.disabled {
      color: #999fa6;
      cursor: not-allowed;
    }

    &.active {
      background: $white;
      color: $black;

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        left: 1.5rem;
        background: $blue;
        border-radius: 100%;
      }
    }
  }

  &__accordion {
    overflow: hidden;
    flex: 0 0 100%;
    max-height: 0;
  }

  &__close {
    cursor: pointer;
  }

  &.open {
    flex: 0 0 242px;
    max-width: unset;

    .aside__wrapper {
      transform: none;
      overflow-y: scroll;
      height: 100%;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    }

    .aside__wrapper::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }

    .aside__navigation-toggle {
      margin-right: 0;
      transform: none;
    }
  }

  @include media-breakpoint-down('md') {
    display: none;
  }

  app-organization-structure-navigation {
    display: block;
    max-width: 242px;

    .btn--lighter {
      background: #f6f6f6 !important;

      &:hover {
        background: $gray-100 !important;
      }
    }

    a {
      color: $gray-800;

      &:hover {
        color: $gray-600;
      }
    }

    .company-tree__wrapper {
      padding-left: 0;
    }

    .dropright-wrapper {
      position: relative;

      .dropright {
        position: absolute;
        left: 100%;
        top: 0;
        background: white;
        visibility: hidden;
        opacity: 0;
        transition: $transition-base;
        min-width: 250px;
        font-family: $font-family-base;

        .aside__sub-item {
          padding-right: 2em;
        }

        .dropright-title {
          background: $gray-100;
          color: $gray-900;
          padding: 1em 2em;
          line-height: 1;
        }

        .dropright-content {
          background: white;
          border-width: 0 1px 1px 1px;
          border-color: $gray-100;
          border-style: solid;

          .aside__sub-item {
            padding: 0.5em 2em;
            &::before {
              left: 0.5rem;
            }
          }
        }
      }

      &:hover {
        .dropright {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
