/**
 * Attachments
 */

.attachments {
  width: 100%;
  padding: 1.5rem .5rem 1rem .5rem;
  border: 1px dashed #b7b7bf;
  border-radius: $btn-radius;
  font-size: .75rem;

  &__drop-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;

    > input {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }

    span {
      color: $blue;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    min-height: 64px;
    border: 1px solid #dfe6ed;
    border-radius: 6px;
    margin-bottom: .5rem;
    padding: 1rem;
    cursor: pointer;

    > .btn {
      display: none;
      width: 32px;
      height: 32px;
      margin-left: auto;
    }

    &:hover {
      background: #e4ebff;

      .btn {
        display: flex;
      }
    }
  }

  &__file-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    cursor: pointer;

    > span {
      color: $black;
    }
  }
}
