/**
 * Avatar
 */

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 2px solid $white;
  background: #fff;
  border-radius: 100%;
  color: #5e6771;
  flex-grow: 0;
  flex-shrink: 0;
  $this: &;

  > img {
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  &.circle {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 2px solid $blue;
    background: #eff2f5;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      border: 2px solid $white;
      border-radius: 100%;
    }
  }

  &__badge {
    display: none;
  }

  &.certified {
    #{$this}__badge {
      display: block;
      position: absolute;
      top: -1px;
      right: -3px;
      z-index: 1;
      border-radius: 1em;
      background: white;
      line-height: 0.9;
    }
  }

  &__xs {
    width: 24px;
    height: 24px;
    border: 1px solid #c1cad4;
  }

  &__md {
    width: 96px !important;
    height: 96px !important;
  }

  &__lg {
    position: relative;
    width: 180px;
    height: 180px;
    border: 20px solid $white;

    fa-icon {
      font-size: 100px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -12px;
      left: -12px;
      width: 164px;
      height: 164px;
      border: 4px solid #c1cad4;
      border-radius: 100%;
    }
  }

  &__count {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 32px;
    padding-right: 7px;
    padding-left: 7px;
    z-index: 1;
    bottom: -25px;
    background: $white;
    color: $black;
    box-shadow: 0 2px 4px 0 rgba(23, 23, 38, .15);
    border-radius: 16px;
  }
}
