/**
 * Backdrop
 */

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #171726;
  opacity: .44;
  z-index: 499;

  &.show {
    display: block;
  }
}
