/**
 * Buttons
 */

.btn {
  position: relative;
  display: inline-flex;
  height: 40px;
  padding: 0 1rem;
  font-size: .875rem;
  font-weight: $font-weight-bold;
  align-items: center;
  justify-content: center;
  border-radius: $btn-radius;
  transition: background .2s ease-in-out, color .2s ease-in-out;
  cursor: pointer;
  //border: none;
  //background: none;
  white-space: nowrap;
  font-family: $font-family-base;

  @each $color, $value in $colors {
    &.btn--#{$color} {
      @include button-states($value);

      @if $color == 'white' {
        background: rgba($white, .11);
        color: $white;
      } @else if $color == 'light-blue' {
        color: $blue;
        background: $value;
      } @else if $color == 'dark-gray' {
        color: $body-color;
        background: $value;
      } @else if $color == 'gray' {
        color: $body-color;
        background: $value;
      } @else if $color == 'light' {
        color: #5e6771;
        background: $value;
        border: 1px solid #c1cad4;

        &:focus {
          box-shadow: 0 0 0 .2rem rgba($black, .2);
          outline: none;
        }
      } @else {
        background: $value;
        color: $white;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    pointer-events: none;
  }

  &--xs {
    height: 24px;
    font-size: .75rem;
  }

  &--sm {
    height: 32px;
    font-size: .8125rem;
  }

  &--md {
    height: 48px;
    font-size: $font-size-sm;
  }

  &--lg {
    height: 56px;
    font-size: $font-size-sm;
  }

  &--counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 18px;
    height: 18px;
    border-radius: 100%;
    background: $white;
    font-size: .6875rem;
    font-weight: $font-weight-bolder;
    color: $body-color;
  }

  &--filter {
    border: 1px solid $black;
    margin-right: .75rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border-radius: 20px;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  > svg {
    flex: 0 0 auto;
  }

  &__upload {
    width: 32px;
    height: 32px;
    background: $white !important;
    border-radius: $btn-radius;
    right: .25rem !important;
  }
}
