/**
 * Card
 */

.card {
  height: 100%;
  position: relative;
  padding: 1.5rem;
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
  border-radius: 8px;
  font-size: $font-size-sm;

  &__title {
    font-size: 1.0625rem;
  }

  &__more {
    top: 1.25rem;
    right: 1.5rem;
    position: absolute;
  }

  &__badge {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 25px;
    color: white;

    @each $color, $value in $colors {
      &--#{$color} {
        background: $value;
        box-shadow: 0 0 0 5px rgba($value, .25);
      }
    }
  }

  &__count {
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

  .pagination {
    margin-bottom: 0 !important;
  }
}

.not-implemented .card{
  background: darken($white, 10%);
  & button {
    display: none;
  }
}
