/**
 * Checkbox
 */

.checkbox {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 4px;
  $this: &;

  &:hover input ~ #{$this}__checkmark {
    background: #c1cad4;
  }

  & > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ #{$this}__checkmark {
      background: $blue;
      border-color: $blue;

      & ~ svg {
        display: block;
        fill: $white;
      }
    }

    &:indeterminate ~ #{$this}__checkmark {
      background: $blue;
      border-color: $blue;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 10px;
        height: 2px;
        background: $white;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #c1cad4;
    transition: all .2s;
    border-radius: 4px;
  }

  > svg {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: none;
    transition: fill .2s;
  }
}
