/**
 * Comment
 */

.comment {
  max-width: 800px;
  margin-bottom: 1.5rem;
  font-size: $font-size-sm;
  $this: &;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .avatar {
      margin-right: .5rem;
    }
  }

  &__link {
    margin-right: .5rem;
  }

  &__body {
    position: relative;
    margin-left: 2rem;
    padding: 1rem 1.5rem;
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    p {
      line-height: 1.5;
    }
  }

  &--new {
    #{$this}__body::after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: .5rem;
      right: .5rem;
      background: $blue;
      border-radius: 100%;
    }
  }
}
