/**
 * Company tree
 */

.company-tree {
  max-height: 40px;
  overflow: hidden;

  &__wrapper {
    position: relative;
    padding-left: .75rem;
    border-left: 2px solid #c1cad4;

    .btn {
      a {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &::after {
      //
    }
  }

  svg {
    margin-right: .75rem;
  }

  span {
    text-align: left;
  }

  .btn {
    width: 100%;
    height: unset;
    min-height: 40px;
    justify-content: flex-start;
    white-space: unset;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  &.open {
    max-height: unset;

    .btn--gray > svg {
      transform: rotate(90deg);
    }
  }

  .btn--light {
    position: relative;
    margin: .25rem 0;

    > svg {
      display: none;
    }

    &::before {
      content: '';
      width: 13px;
      height: 2px;
      background: #c1cad4;
      position: absolute;
      left: -13px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:first-child {
      margin-top: .5rem;
    }

    &:last-child::after {
      content: '';
      width: 15px;
      height: calc(50% + 4px);
      position: absolute;
      background: $white;
      bottom: -5px;
      left: -20px;
    }

    &.active {
      background: #eff2f5;

      > svg {
        display: block;
      }

      > span {
        position: relative;
        padding-left: 1rem;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          background: #303ffb;
          position: absolute;
          left: 0;
          border-radius: 100%;
        }
      }
    }
  }
}
