/**
 * Recent searches
 */

.data-table {
  font-size: $font-size-xs;
  overflow-x: auto;

  &__wrapper {
    //min-width: 600px;
  }

  &__header {
    margin-bottom: .5rem;
    background: #eff2f5;
    border-radius: 6px;
    font-size: .75rem;
    color: $black;

    th {
      padding: 15px 10px;
      min-height: 32px;
      font-weight: 400;

      &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }

  &__switch {
    cursor: pointer;

    svg {
      fill: #8590b3;
      margin: 1px 0;

      &.active {
        fill: #303ffb;
      }
    }
  }

  &__row {
    box-shadow: inset 0 -1px 0 0 #eff2f5;

    td {
      padding: 5px 10px;
    }

    &:hover {
      background: #e4ebff;
    }
  }

  .row {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  &.border {
    padding: .75rem;
    border: 1px solid #dfe6ed;
    border-radius: $btn-radius;
  }
}
