/**
 * Dropdown
 */

.dropdown {
  position: relative;
  $this: &;

  &__body {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 400px;
    left: 0;
    padding: .5rem 0;
    font-size: .875rem;
    background: $white;
    border: 1px solid #c1cad4;
    border-radius: $btn-radius;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;

    > li {
      cursor: pointer;
      padding: .5rem 1rem;

      &:hover {
        background: #c1cad4;
      }
    }
  }

  &__tag {
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: $btn-radius;
    background: $white;
    margin: .25rem;
    padding: 0 .5rem;
    font-weight: $font-weight-base;
    font-family: $font-size-sm;
  }

  &__delete {
    cursor: pointer;
    fill: #949ea9;

    &:hover {
      fill: $black;
    }
  }

  &.open {
    #{$this}__body {
      display: block;
    }
  }

  .btn {
    width: 100%;
    height: unset;
    min-height: 40px;
    position: relative;
    justify-content: space-between;
    font-weight: $font-weight-base;
    z-index: 1;
  }

  b {
    color: $black;
  }
}
