/**
 * Expert link
 */

.expert-link {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: .25rem;
  cursor: pointer;

  > span {
    font-size: $font-size-xs;
  }

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__company-img {
    max-height: 24px;
  }

  &:hover {
    > span {
      font-weight: $font-weight-bold;
    }
  }
}
