/**
 * Expert card
 */
$expert-card-spacer: 1rem !default;

.expert-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .75rem;
  align-items: center;
  width: 100%;
  padding: $expert-card-spacer;
  box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
  background: $white;
  border-radius: 8px;
  color: $black;
  transition: box-shadow .2s;
  min-height: 88px;
  position: relative;
  $this: &;

  @include media-breakpoint-up('xl') {
    padding: 0 1.5rem;
    flex-wrap: nowrap;
  }

  &__name {
    width: 350px;
    //overflow: scroll;

    @include media-breakpoint-up('lg') {
      margin-right: 1rem;
    }

    @media (min-width: 1500px) {
      margin-right: 2rem;
    }

    @media (max-width: 576px) {
      width: 320px;
    }
  }

  &__link {
    font-size: $font-size-sm;
    color: #949ea9;

    &:hover {
      color: $body-color;
    }
  }

  &__tags {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 300px;

    @include media-breakpoint-up('lg') {
      margin-right: 1rem;
    }

    @media (min-width: 1500px) {
      margin-right: 3rem;
    }

    .tag {
      margin: .25rem;
    }
  }

  &__action,
  &__stats {
    flex: 0 0 160px;
    display: flex;
    justify-content: space-between;

    fa-icon {
      color: $body-color;
      font-size: 130%;
      margin-right: 5px;
    }

    //@include media-breakpoint-up('lg') {
    //  margin-right: 1rem;
    //}
    //
    //@media (min-width: 1500px) {
    //  margin-right: 3rem;
    //}
  }

  @include media-breakpoint-down('sm') {
    &__action {
      position: absolute;
      right: $expert-card-spacer;
      top: $expert-card-spacer;
    }
  }

  &__graph {
    width: 165px;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;

    > * {
      max-width: 100%;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__cta {
    margin-left: auto;
    display: none;
  }

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(23, 23, 38, .15);

    #{$this}__cta {
      display: block;
    }
  }

  &.expert-card-header {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
  }
}
