/**
 * Expert detail
 */

.expert-detail {
  border-radius: 8px;
  background: $white;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);

  &__header {
    position: relative;
    width: 100%;
    height: 180px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__edit {
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;

    @include media-breakpoint-down('xs') {
      top: 1.5rem;
      bottom: auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;

    .avatar {
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);

      &.left {
        left: 2.5rem;
        transform: unset;
      }
    }
  }

  &__title {
    font-size: .875rem;
    text-align: center;
  }

  &__company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    color: $black;
    width: max-content;
    flex-shrink: 0;
    max-width: 300px;

    @include media-breakpoint-up('sm') {
      flex-direction: row;
      margin: 0 1rem;
    }

    > img {
      width: 40px;
      height: auto;
      margin-right: .5rem;
    }

    //> span {
    //  text-align: center;

    //@include media-breakpoint-up('sm') {
    //max-width: 160px;
    //text-align: left;
    //}
    //}
  }

  &__tags {
    display: flex;
    max-width: 866px;
    margin: 0 auto;
    overflow: auto;

    @include media-breakpoint-up('md') {
      flex-wrap: wrap;
      justify-content: center;
    }

    .btn {
      @include media-breakpoint-up('sm') {
        margin: .5rem;
      }
    }
  }
}

.projects {

  .expers-list {

    li {
      @include media-breakpoint-down('lg') {
        margin-bottom: 1rem;
      }
    }

    &.projects__nav {
      justify-content: flex-start;
    }
  }
}
