/**
 * Filters
 */

.filters {
  width: 100%;
  background: $white;
  min-height: 105px;
  box-shadow: 0 3px 4px 0 rgba(23, 23, 38, .15);
  border-top: 1px solid #dfe6ed;
  padding: 1rem 0;

  .filter {
    display: flex;
    flex-direction: column;
    $this: filter;

    label {
      margin-bottom: .5rem;
      font-weight: $font-weight-bold;
      font-size: .75rem;
      white-space: nowrap;
    }
  }

  .btn--primary {
    flex: 1 0 auto;
    align-self: flex-end;
  }

  .btn--blue {
    align-self: flex-end;
  }

  .col-12 {
    margin: .5rem 0;

    @include media-breakpoint-up('sm') {
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
