/**
 * Finance table
 */

.finances-table {
  width: 100%;
  border: 1px solid #dfe6ed;
  padding: .5rem;
  border-radius: 6px;
  overflow-x: scroll;

  table {
    width: 100%;
    min-width: 720px;
    border-collapse: collapse;
    font-size: $font-size-xs;

    thead tr {
      height: 32px;
    }

    th,
    td {
      padding: 0 .5rem;
    }

    th {
      font-weight: $font-weight-base;
      text-align: left;
      background: #dfe6ed;

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    tbody tr {
      height: 44px;
      border-bottom: 1px solid #dfe6ed;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .btn--white {
    padding-right: .5rem;
    background: $white;
    color: $black;
    font-weight: $font-weight-base;
  }

  .input {
    padding: 0 .5rem;
  }
}
