/**
 * Hamburger
 */

.hamburger {
  padding: 15px 0;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 0 0 .5rem;
  overflow: visible;

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up('lg') {
    display: none;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    width: 32px;
    height: 4px;
    background-color: $white;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;

    &::before,
    &::after {
      width: 32px;
      height: 4px;
      content: "";
      display: block;
      background-color: $white;
      position: absolute;
      transition-property: transform;
      transition-duration: .15s;
      transition-timing-function: ease;
    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }

  &.is-active {
    .hamburger-inner {
      background-color: $white;

      &::before,
      &::after {
        background-color: $white;
      }
    }
  }

  &.hamburger--spring {
    .hamburger-inner {
      top: 2px;
      transition: background-color 0s .13s linear;

      &::before {
        top: 10px;
        transition: top .1s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);
      }

      &::after {
        top: 20px;
        transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);
      }
    }

    &.is-active .hamburger-inner {
      transition-delay: .22s;
      background-color: transparent !important;

      &::before {
        top: 0;
        transition: top .1s .15s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .22s cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, 10px, 0) rotate(45deg);
      }

      &::after {
        top: 0;
        transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .22s cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, 10px, 0) rotate(-45deg);
      }
    }
  }
}

.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative;
}
