/**
 * Header
 */

.header {
  width: 100%;
  height: 64px;
  z-index: 10;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: flex-start;
  background: $blue;

  &__logo {
    max-width: 142px;

    @include media-breakpoint-down('md') {
      margin-right: auto;
    }
  }

  &__search {
    flex: 0 1 325px;

    @include media-breakpoint-down('md') {
      display: none;
    }
  }

  &__search-suggestion {
    padding: 8px 16px !important;
    font-size: 90% !important;
  }

  .notification {
    display: none;
  }

  .has-notification .notification {
    display: block;
  }

  .btn--white:hover {
    color: $black;
  }
}
