/**
 * Infinite scroll
 */

.infinite {
  max-height: 1000px;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-color: #0A4C95 #C2D2E4;  // for Firefox
  scrollbar-width: thin;  // for Firefox

  &__stats {
    font-size: small;
  }

  /* total width */
  &::-webkit-scrollbar {
    background-color: rgba(0,0,0,0);
    width: 8px;
    height: 8px;
    z-index: 999999;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 8px;
    border: 0 solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display:none;
  }

  /* scrollbar when element is hovered */
  &:hover::-webkit-scrollbar-thumb {
    background-color: $blue;
    border: 2px solid #F2F5F9;
  }

  /* scrollbar when scrollbar is hovered */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $blue;
    border: 2px solid #F2F5F9;
  }
}
