/**
 * Input
 */

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    padding: 0;
    position: absolute;
    right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 0;

    &:focus {
      outline: none;
    }
  }
}

.input {
  width: 100%;
  height: 40px;
  font-size: $font-size-sm;
  border-radius: $btn-radius;
  padding: 0 1rem 0 1rem;

  &::placeholder {
    color: $gray-500;
  }

  @each $color, $value in $colors {
    &--#{$color} {
      background: $value;

      @include input-states($value);
    }
  }

  &--sm {
    height: 28px;
  }

  &--lg {
    height: 48px;
  }
}
