/**
 * Members
 */

.members {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin-right: 10px;

  @include media-breakpoint-down('md') {
    margin-top: .5rem;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px !important;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #eff2f5;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}
