/**
 * Modal
 */

.modal {
  display: block;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  overflow-x: auto;
  overflow-y: auto;

  &__dialog {
    display: flex;
    align-items: center;
    max-width: 900px;
    min-height: calc(100% - 6rem);
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1.5rem;
    border-bottom: 1px solid #dfe6ed;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-radius: $border-radius $border-radius 0 0;

    > .btn {
      width: 40px;
      height: 40px;
    }
  }

  &__body {
    padding: 1.75rem 1.5rem;

    p {
      line-height: 21px;
      font-size: $font-size-sm;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem 1rem 1.5rem;
    border-top: 1px solid #dfe6ed;
  }

  &__section-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem 1rem 1.5rem;
    border-bottom: 1px solid #dfe6ed;
    position: sticky;
    bottom: 0;
    background: white;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &__content {
    width: 100%;
    border-radius: 8px;
    background: $white;
  }

  label {
    font-size: $font-size-xs;
    line-height: 1.2;
  }
}
