/**
 * Navbar
 */

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: stretch;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(23, 23, 38, .15);

  @include media-breakpoint-down('lg') {
    overflow-x: scroll;
  }

  &__item {
    position: relative;
    display: flex;
    padding: 0 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    font-size: $font-size-sm;
    color: $gray-800;
    text-decoration: none !important;

    &:hover {
      color: $gray-600;
    }

    > svg {
      margin-bottom: .25rem;
    }

    fa-icon {
      font-size: 130%;
    }

    &.active {
      color: $black;
      border-bottom: 4px solid $blue;
    }

    &.notification::after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 0;
      right: 10px;
      background: $blue;
      border-radius: 100%;
    }
  }
}
