/**
 * Organizational structure
 */

.org-structure {
  &__wrapper {
    max-height: 220px;
    overflow: scroll;
  }

  .btn {
    width: 100%;
    justify-content: flex-start;

    &:focus {
      box-shadow: none;
    }
  }

  svg {
    margin-right: .75rem;
    transform: rotate(-90deg);
  }

  &__first-level {
    max-height: 32px;
    overflow: hidden;

    &.open {
      max-height: unset;

      > .btn > svg {
        transform: rotate(0);
      }
    }
  }

  &__second-level {
    max-height: 32px;
    overflow: hidden;
    margin: .25rem 0;
    padding-left: 1rem;

    &.open {
      max-height: unset;

      > .btn > svg {
        transform: rotate(0);
      }
    }
  }

  &__item {
    height: 32px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    font-size: $font-size-xs;
    border-left: 2px solid #c1cad4;
  }
}
