/**
 * Overview
 */

.overview {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-start;
  margin-top: 3px;

  > fa-icon {
    width: 22px;
    margin: -3px 0;
    color: $gray-500;
    font-size: 110%;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
  }

  > p {
    line-height: 1.5;
  }
}
