/**
 * Pagination
 */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-sm;

  > input {
    width: 40px;
    height: 40px;
    border-radius: $btn-radius;
    text-align: center;
  }
}
