/**
 * Profile option
 */

.profile-option {
  display: flex;
  min-height: 44px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding: 0 1rem;
  font-size: $font-size-xs;
  border: 1px solid #dfe6ed;
  border-radius: 6px;

  &.hide {
    margin-top: 1rem;
    background: #eff2f5;
    border: none;
    color: $red;
  }
}
