/**
 * Project card
 */

.project-card {
  position: relative;
  margin-bottom: .75rem;
  padding: 1rem;
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
  border-radius: 8px;
  overflow: hidden;
  $this: &;

  .btn_default {
    cursor: default !important;

    &:hover, &:active {
      background: rgba($green, .16) !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }


  &:hover {
    box-shadow: 0 5px 10px 0 rgba(23, 23, 38, .15);

    #{$this}__cta {
      display: flex;
      justify-content: flex-end;
    }
  }

  @include media-breakpoint-up('xl') {
    min-height: 136px;
  }

  p {
    line-height: 21px;
    font-size: $font-size-sm;
  }

  &__cta {
    display: none;

    .btn {
      width: unset;
    }

    @include media-breakpoint-down('lg') {
      margin-top: .5rem;
      text-align: left;
      order: 2;
    }
  }

  &__description {
    max-height: (5em*$line-height-base);
    overflow: hidden;
    position: relative;
  }

  &__description,
  &__link {
    font-size: $font-size-xs;
    margin-bottom: .5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .75rem;

    b {
      color: $black;
    }
  }

  &__data {
    display: inline;
    font-size: .75rem;

    div {
      margin-right: 5%;
    }
  }

  &::before {
    content: '';
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  @each $color, $value in $colors {
    &.#{$color} {
      &::before {
        background: $value;
      }
    }
  }

  .checkbox {
    margin-top: .25rem;
    flex: 0 0 18px;
  }
}
