/**
 * Projects
 */

.projects {
  &__nav {
    display: flex;
    justify-content: center;
    height: 113px;
    padding-top: 1rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
  }

  &__nav-widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding-top: 1rem;
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
  }

  &__scrollable {
    overflow: auto;
    scroll-behavior: smooth;
  }

  &__body {
    background: #f2f5f9;
    border-top: 1px solid #dfe6ed;
    box-shadow: 0 1px 3px 0 rgba(23, 23, 38, .15);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    max-height: 1050px;
    .loader-overlay {
      &:before {
        background: #f2f5f9 !important;
      }
    }
  }
}

