/**
 * Saved search
 */

.saved-search {
  display: flex;
  height: 44px;
  align-items: center;
  margin-bottom: .5rem;
  padding: 0 .5rem;
  border-radius: 6px;
  font-size: $font-size-xs;
  border: 1px solid #dfe6ed;
  cursor: pointer;
  $this: &;

  &__cta {
    display: none;
    width: 28px;
    height: 28px;
  }

  &:hover {
    background: #e4ebff;
    color: $blue;

    #{$this}__cta {
      display: flex;
    }
  }
}
