.special-abilities-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: .3%;
  pointer-events: none;
  >* {
    pointer-events: auto;
  }
}

@media only screen and (max-width: 480px) {
  .special-abilities-bar {
    display: block;
    left: 60%;
  }
}

@media only screen and (min-width: 481px) {
 .special-abilities-bar {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  body:hover .special-abilities-bar {
    opacity: 1;
    visibility: visible;
  }
}
