/**
 * Switch
 */

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 18px;
  margin-bottom: 0;
  $this: &;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #949ea9;
    border-radius: 34px;
    transition: .4s;

    &::before {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      left: 4px;
      bottom: 3px;
      background: white;
      border-radius: 50%;
      transition: .4s;
      box-shadow: 0 1px 4px 0 rgba(32, 34, 34, .16);
    }
  }

  &__tooltip {
    width: 238px;
    position: absolute;
    right: -40px;
    padding: .5rem .75rem;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $white;
    background: $body-color;
    border-radius: 4px;
    text-transform: none;
    transform: translateY(calc(-100% - 15px));
    visibility: hidden;
    opacity: 0;
    transition: all .2s;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      right: 50px;
      bottom: -6px;
      background: $body-color;
      transform: rotate(45deg);
    }
  }

  input:checked + #{$this}__slider {
    background: $blue;
  }

  input:checked + #{$this}__slider::before {
    transform: translateX(13px);
  }

  &:hover {
    #{$this}__tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}
