/**
 * Tag
 */

.tag {
  display: flex;
  align-items: center;
  margin-right: .35rem;
  height: 25px;
  padding: 0 .75rem;
  white-space: nowrap;
  border: 1px solid rgba($cobalt, .31);
  background: $white;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: $font-weight-bold;
  color: $cobalt;
  cursor: pointer;
  font-size: .75rem;

  @each $color, $value in $colors {
    &.#{$color} {
      color: $value;
      background: rgba($value, .16);
      border: none;

      @include tag-states($value);
    }
  }
}
