/**
 * Tooltip
 */

.tooltip {
  display: inline-block;
  position: relative;
  color: $body-color;
  cursor: pointer;
  $this: &;

  &__text {
    display: none;
    position: absolute;
    top: -5px;
    left: 20px;
    padding: .05rem .5rem;
    font-size: .75rem;
    color: $white;
    border-radius: $btn-radius;
    background: $black;
    white-space: nowrap;
    z-index: 10;
  }

  &:hover {
    #{$this}__text {
      display: block;
    }
  }
}
