.top-filters {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.filter_wrapper {
  position: relative;
}

.btn.collapsible-controller {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0;
  text-align: left;
  font-weight: 100;
  font-size: $font-size-xs;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .dropdown-icon-filter {
    font-size: $font-size-xs;
    margin-left: 5px;
    transition: all 0.75s 0s;

    &.chevron-toggle-up {
      transform: rotate(180deg);
    }

    &.chevron-toggle-down {
      transform: rotate(0deg);
    }
  }
}
