/**
 * Global
 */

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: $black;
}

h1 {
  font-weight: $font-weight-bolder;
  letter-spacing: -.4px;

  @include rfs(2.5rem, font-size);
  @include rfs(3.75rem, line-height);
}

h2 {
  font-weight: $font-weight-bolder;
  letter-spacing: -.3px;

  @include rfs(2.25rem, font-size);
  @include rfs(3.375rem, line-height);
}

h3 {
  font-size: 1.3125rem;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: $font-size-sm;
}

h5 {
  font-size: .75rem;
  font-weight: $font-weight-bold;
}

input {
  font-size: $font-size-base;
  font-family: $font-family-base;
  border: none;
  outline: none;
}

.text-center {
  text-align: center;
}

.text-lg-left {
  @include media-breakpoint-up('lg') {
    text-align: left;
  }
}

p {
  margin: 0;
  line-height: 28px;
}

figure {
  margin: 0;
}

.border-bottom {
  border-bottom: 1px solid #2f2f31;
}

.overflow-hidden {
  overflow-y: hidden;
}
