<section class="bg-white p-2 border-bottom">
  <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
    <div class="container ml-0">
      <div class="row mx-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <!--<div class="filter">
            <label>Search</label>
            <div class="input-group">
              <input class="input input&#45;&#45;gray" aria-label="Search" formControlName="query">
              <button type="submit" class="text-muted">
                <fa-icon icon="search"></fa-icon>
              </button>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </section>
</section>
<app-infinite-scroll [loading$]="loading$"
                     [loadDataFunction]="loadData"
                     [resetDataFunction]="resetData"
                     [mergeWrappersFunction]="mergeWrappers"
                     [filterFormGroup]="filterFormGroup"
                     widgetType="COMMERCIALIZATION_PROJECT"
>
  <ng-container *ngIf="commercializationProjectWrapper">
    <ng-container *ngIf="(loading$ | async) == false">

      <section class="container-fluid px-4 pt-2">
        <app-commercialization-card *ngFor="let project of commercializationProjectWrapper.evidenceCommercializationDtos"
                                    linkType="widget"
                                    [project]="project">
        </app-commercialization-card>
      </section>
    </ng-container>
  </ng-container>
</app-infinite-scroll>
