<div class="modal__content">
  <div class="modal__header d-flex flex-column align-items-start pb-0">
    <h3 class="modal__title">Claim expert</h3>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
      <label class="font-weight-bold mb-2 mb-lg-0">Search Experts</label>
    </div>
    <div class="col-12 col-lg-10 d-flex align-items-center">
      <input [formControl]="searchFormControl" aria-label="Name" class="input input--gray">
    </div>
  </div>
  <app-page-loader *ngIf="loading$ | async"></app-page-loader>
  <div [hidden]="loading$ | async">
    <ng-container *ngIf="experts$ | async as experts">
      <div *ngIf="experts.length == 0" class="no-result-note">
        <ng-container *ngIf="experts.length == 0">
          <ng-container *ngIf="searchFormControl.value">
            No expert matches your query
          </ng-container>
          <ng-container *ngIf="!searchFormControl.value">
            Search for experts to add
          </ng-container>
        </ng-container>
      </div>
      <div *ngFor="let expert of experts" class="expert-card">
        <figure class="avatar circle mr-4 flex-shrink-0 flex-grow-0">
          <img [altSrc]="'images/avatar.png' | assets" [src]="expert.userId | userImg" appOptionalImg>
          <fa-icon class="avatar__badge text-success-light" icon="check-circle"></fa-icon>
        </figure>
        <div class="expert-card__name">
          <a [routerLink]="'expertDetail' | path:expert.expertCode"
             class="font-size-sm font-weight-bold"
             queryParamsHandling="merge">{{expert.fullName}}</a>
          <div>
            <ng-container *ngIf="expert.organizationBaseDtos as organizations">
              <a *ngIf="organizations[0] as organization"
                 [routerLink]="'organizationDetail' | path: organization.organizationId"
                 class="font-size-sm">
                {{organization.organizationAbbrev || organization.organizationName}}
              </a>
              <a *ngIf="organizations.length > 1" [ngbPopover]="organizationsPopover"
                 class="expert-card__link text-nowrap">
                + {{organizations.length - 1}} more
              </a>
              <ng-template #organizationsPopover>
                <app-organizations-popover [organizations]="organizations">
                </app-organizations-popover>
              </ng-template>
            </ng-container>
          </div>
          <div>
            <ng-container *ngIf="expert.itemPreviewDtos as items">
              <a *ngIf="items[0] as item">
                {{item.itemName}}
              </a>
              <a *ngIf="items.length > 1"> +{{items.length - 1}} more</a>
            </ng-container>
          </div>
        </div>
        <div class="actions text-right ml-auto">
          <button *ngIf="expert.saving$ | async; else actionButtons" class="btn" disabled>
            <app-loader></app-loader>
            Claiming
          </button>
          <ng-template #actionButtons>
            <button *ngIf="expert.claimed$ | async; else addButton" class="btn btn-success">Claimed</button>
            <ng-template #addButton>
              <button (click)="claimExpert(expert)" class="btn btn-primary">Claim</button>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>

</div>

<div class=" modal__footer">
  <button (click)="close()" class="btn btn--gray mr-2" type="button">
    Close
  </button>

</div>
