<section class="w-100">
  <app-widget-filter-wrapper>
    <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 pt-3 pb-md-3">
              <label>Outcomes types</label>
              <app-multi-select
                [options]="itemTypeGroups$ | async"
                formControlName="resultTypeGroupIds"
              ></app-multi-select>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Participating organizations</label>
              <app-tags-input
                formControlName="participatingOrganizationIds"
                placeholder="Search organization"
                [loadTagsFunction]="loadOrganizations"
                [searchFunction]="autocompleteOrganizations"
              ></app-tags-input>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Participating experts</label>
              <app-tags-input
                formControlName="expertCodes"
                placeholder="Search expert"
                [loadTagsFunction]="loadExperts"
                [searchFunction]="autocompleteExperts"
              ></app-tags-input>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Year from</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="yearFrom">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{
                    year
                    }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Year to</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="yearTo">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{
                    year
                    }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </app-widget-filter-wrapper>
  <app-infinite-scroll [loading$]="loading$"
                       [loadDataFunction]="loadData"
                       [resetDataFunction]="resetData"
                       [mergeWrappersFunction]="mergeWrappers"
                       widgetType="RESEARCH_OUTCOME"
                       [filterFormGroup]="filterFormGroup"
  >
    <ng-container *ngIf="itemWrapper as wrapper">
      <ng-container *ngIf="(loading$ | async) == false">
          <section class="container-fluid px-4 pt-2">
            <ng-container *ngFor="let item of wrapper.itemPreviewDtos; let i = index;">
              <app-outcome-card
                [itemPreview]="item"
                [ownerOrganizationId]="organizationId"
                [sendRequestEnabled]="true"
                [position]="i"
                linkType="widget"
                (keyword$)="kwUpdate = $event"
              >
              </app-outcome-card>
            </ng-container>
          </section>
      </ng-container>
    </ng-container>
  </app-infinite-scroll>
</section>
