<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">{{title || multiple ? 'Upload files' : 'Upload file'}}</h3>
  </div>
  <div class="modal__body">
    <div class="mb-2">
      <app-file-preview [file]="file" *ngFor="let file of filePreviews$ | async">
        <button class="btn-plain btn-plain-gray" (click)="removeFile(file)">
          <fa-icon icon="trash"></fa-icon>
        </button>
      </app-file-preview>
    </div>

    <app-file-drop [multiple]="!!multiple" [fileType]="fileType"
                   (fileUrlUpdated)="previewUrl$.next($event)"
                   (filesUpdated)="files$.next($event)">
    </app-file-drop>

    <ng-container *ngIf="!!preview">
      <figure class="avatar avatar__lg overflow-hidden m-auto" *ngIf="previewUrl$ | async as previewUrl">
        <img [src]="previewUrl" appOptionalImg>
      </figure>
    </ng-container>
  </div>

  <div class="modal__footer">
    <ng-container *ngIf="(uploading$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="submit()">
        Upload
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="uploading$ | async">
      <app-loader></app-loader>
      Uploading
    </button>
  </div>
</div>
