<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="maxValue$ | async as maxValue">
    <div class="simple-bar-chart" *ngIf="data.length > 0">
      <div class="simple-bar-chart__bars">
        <div class="bar" *ngFor="let bar of data" [ngStyle]="{height: (bar.value / maxValue * 100) + '%'}"
             ngbTooltip="{{bar.label}}: {{bar.value}} {{bar.value == 1 ? (itemName || itemNamePlural) : (itemNamePlural || itemName)}}"
             container="body">
        </div>
      </div>
      <div class="simple-bar-chart__labels">
        <div class="label-start">{{minLabel$ | async}}</div>
        <div class="label-end" *ngIf="(minLabel$ | async) != (maxLabel$ | async)">{{maxLabel$ | async}}</div>
      </div>
    </div>
  </ng-container>
</ng-container>
