<div class="row mb-3" [formGroup]="filterFormGroup">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
    <div class="filter">
      <label>Search outcomes</label>
      <div class="btn btn--light btn--input">
        <input class="input" aria-label="Search" formControlName="query">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="filter">
      <label>Outcomes types</label>
      <app-multi-select
        [options]="itemTypeGroups$ | async"
        formControlName="resultTypeGroupIds"></app-multi-select>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="filter">
      <label>Year from</label>
      <div class="btn btn--light btn--dropdown">
        <mat-select formControlName="yearFrom">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let year of years" [value]="year">{{
            year
            }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="filter">
      <label>Year to</label>
      <div class="btn btn--light btn--dropdown">
        <mat-select formControlName="yearTo">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let year of years" [value]="year">{{
            year
            }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>


<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="expertItemsWrapper$ | async as expertItemsWrapper">
    <app-outcome-card [itemPreview]="item" *ngFor="let item of expertItemsWrapper.itemPreviewDtos"
                      linkType="widget">
    </app-outcome-card>
    <p class="no-result-note" *ngIf="expertItemsWrapper.numberOfAllItems == 0">
      No results for your criteria
    </p>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(expertItemsWrapper$ | async)?.numberOfAllItems">
</app-pagination>
