<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="container pt-5 pl-4" style="max-width: 1500px" [hidden]="loading$ | async">
  <div *ngIf="organization$ | async as organization" class="mb-4 d-flex align-items-end">
    <div>
      <h3 class="no-wrap">
        {{organization.organizationName}}
        <app-organization-type [organizationId$]="organizationId$"></app-organization-type>
        <span class="d-block text-muted text-sm font-weight-normal">Organization dashboard</span>
      </h3>
    </div>
    <!-- err-->
    <div class="btn ml-auto custom-control custom-switch">
      <input (change)="updateGdpr($event)" [defaultChecked]="!!organization.gdpr" class="custom-control-input"
             id="customSwitches" type="checkbox">
      <label class="custom-control-label" for="customSwitches">GDPR</label>
    </div>
    <a [routerLink]="'organizationSettings' | path: (organizationId$ | async)" class="btn btn--light-blue">
      Settings
    </a>
    <a class="btn btn--primary" [routerLink]="'organizationDetail' | path: (organizationId$ | async)">
      View public profile
    </a>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="expertStatistics$ | async as expertStatistics">
      <app-counter-tile title="Experts" icon="users" color="primary" (click)="openExpertCreateModal($event)"
                        [count]="expertStatistics.numberOfExperts"></app-counter-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="outcomeStatistics$ | async as outcomeStatistics">
      <app-counter-tile title="Outcomes" icon="file-alt" color="orange" (click)="createNewOutcome($event)"
                        [count]="outcomeStatistics.numberOfAllItems"></app-counter-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="projectStatistics$ | async as projectStatistics">
      <app-counter-tile title="Research projects" icon="microscope" color="purple" (click)="createNewProject($event)"
                        [count]="projectStatistics.numberOfAllProjects"></app-counter-tile>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="commercializationStatistics$ | async as commercializationStatistics">
      <app-counter-tile title="Commercialization projects" icon="rocket" color="primary" (click)="createNewCommercialization($event)"
                        [count]="commercializationStatistics.numberOfAllProjects"></app-counter-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="opportunityStatistics$ | async as opportunityStatistics">
      <app-counter-tile title="Opportunities" icon="archway" color="orange" (click)="createNewOpportunity($event)"
                        [count]="opportunityStatistics.numberOfAllOpportunities"></app-counter-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="equipmentStatistics$ | async as equipmentStatistics">
      <app-counter-tile title="Equipment/Services" icon="atom" color="purple" (click)="createNewEquipment($event)"
                        [count]="equipmentStatistics.numOfAllItems"></app-counter-tile>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="memberStatistics$ | async as memberStatistics">
      <app-counter-tile *ngIf="memberStatistics.allowedMembers" title="Members" icon="users" color="primary" (click)="addNewMember($event)"
                        [count]="memberStatistics.memberCount"></app-counter-tile>
      <app-counter-tile *ngIf="!memberStatistics.allowedMembers" title="Memberships" icon="users" color="primary" (click)="notImplementedYetTileFunction($event)"
                        [count]="memberStatistics.membershipCount"></app-counter-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4 not-implemented">
    <app-counter-tile title="Supervisions" icon="glasses" color="orange" (click)="notImplementedYetTileFunction($event)"
                      [count]="0"></app-counter-tile>
  </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4 not-implemented">
    <app-counter-tile title="Lectures" icon="graduation-cap" color="purple" (click)="notImplementedYetTileFunction($event)"
                      [count]="0"></app-counter-tile>
  </div>

    <div class="col-12 col-md-4 col-xl-8 mb-4"  *ngIf="outcomeStatistics$ | async as outcomeStatistics">
      <ng-container *ngIf="(loading$ | async) == false">
        <app-research-results-statistics-tile [outcomeStatistics]="outcomeStatistics"
                                              [organizationId]="organizationId$ | async">
        </app-research-results-statistics-tile>
      </ng-container>
    </div>

    <div class="col-12 col-md-4 col-xl-4 mb-4" *ngIf="outcomeStatistics$ | async as outcomeStatistics">
      <app-outcome-statistics-tile [outcomeStatistics]="outcomeStatistics"
                                   [organizationId]="organizationId$ | async">
      </app-outcome-statistics-tile>
    </div>

    <div class="col-12 col-md-12 col-xl-8 mb-4" *ngIf="projectStatistics$ | async as projectStatistics">
      <ng-container *ngIf="(loading$ | async) == false">
        <app-project-statistics-tile [projectStatistics]="projectStatistics"
                                     [organizationId]="organizationId$ | async">
        </app-project-statistics-tile>
      </ng-container>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <app-public-profile-options>
      </app-public-profile-options>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <ng-container *ngIf="(loading$ | async) == false">
      <app-organization-licences>
      </app-organization-licences>
      </ng-container>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <app-keyword-statistics-tile [organizationId]="organizationId$ | async"></app-keyword-statistics-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <app-expert-search-statistics-tile [organizationId]="organizationId$ | async"></app-expert-search-statistics-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <app-expert-visitation-statistics-tile
        [organizationId]="organizationId$ | async"></app-expert-visitation-statistics-tile>
    </div>
    <div class="col-12 col-md-6 col-xl-4 mb-4">
      <app-public-profile-options>
      </app-public-profile-options>
    </div>
    <ng-container *ngIf="myMemberships$ | async as myMemberships">
      <div class="col-12 col-md-6 col-xl-4 mb-4" *ngIf="myMemberships.length">
        <app-my-memberships [myMemberships]="myMemberships"></app-my-memberships>
      </div>
    </ng-container>
  </div>
</section>
