<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="projectDetail$ | async as projectDetail">
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-0">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h3 class="mb-2">{{projectDetail.name}}</h3>
        </div>
        <div class="d-flex align-items-center">
          <app-login-verification>
            <button type="button" class="btn btn--blue" (click)="openEditProjectModal(projectDetail)">
              <fa-icon icon="pencil-alt" class="mr-2"></fa-icon>
              Edit
            </button>
          </app-login-verification>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="d-flex overflow-scroll">
          <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.OVERVIEW"
              [replaceUrl]="true"
              [routerLink]="[]" [queryParams]="{mode: modes.OVERVIEW}">
            Overview
          </li>
          <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.OUTCOMES"
              [replaceUrl]="true"
              [routerLink]="[]" [queryParams]="{mode: modes.OUTCOMES}">
            Outcomes
          </li>
          <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.DOCUMENTS"
              [replaceUrl]="true"
              [routerLink]="[]" [queryParams]="{mode: modes.DOCUMENTS}">
            Documents
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="container bg-white h-100 pt-4 pl-4" *ngIf="(mode$ | async) == modes.OVERVIEW">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Main info</h4>
        </div>
        <div class="overview" *ngIf="projectDetail.projectNumber">
          <fa-icon icon="tag" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{projectDetail.projectNumber}}
          </span>
        </div>
        <div class="overview" *ngIf="projectDetail.projectProgram && projectDetail.projectProgram.projectProgramName">
          <fa-icon icon="graduation-cap" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{projectDetail.projectProgram.projectProgramName}}
          </span>
        </div>
        <div class="overview" *ngIf="projectDetail.projectLink">

          <span class="font-size-xs">
            <a [href]="projectDetail.projectLink" target="_blank">
              <fa-icon icon="link" class="mr-2"></fa-icon>Project Link</a>
          </span>
        </div>
        <div class="overview mb-4">
          <fa-icon icon="file-alt" class="mr-2"></fa-icon>
          <div>
            <p class="font-size-xs text-justify text-break">
              {{projectDetail.description}}
            </p>
            <div class="tags d-flex flex-wrap">
              <button class="tag cobalt mr-1 mb-1 text-break"
                      *ngFor="let keyword of projectDetail.keywords">{{keyword}}</button>
            </div>
          </div>
        </div>

        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Project finances</h4>
        </div>
        <div class="data-table border mb-4">
          <div class="data-table__wrapper">
            <table>
              <thead class="data-table__header">
              <tr>
                <th>Organization</th>
                <th class="text-center" *ngFor="let year of years$ | async">{{year}}</th>
              </tr>
              </thead>
              <tbody>
              <tr class="data-table__row" *ngFor="let organization of projectDetail.organizationBaseDtos">
                <td>{{organization?.organizationAbbrev || organization?.organizationName}}</td>
                <td class="text-right text-nowrap" *ngFor="let year of years$ | async">
                  {{projectDetail.organizationFinanceMap  | getProperty: year | number}}
                  CZK
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-4">
          <div class="overview">
            <h4>Confidentiality</h4>
          </div>
          <div>
            <button class=" ml-1 tag {{projectDetail.confidentiality | confidentialityColor}}">
              {{projectDetail.confidentiality | confidentialityTitle}}
            </button>
          </div>
        </div>
        <div class="mb-4" *ngIf="projectDetail.startDate || projectDetail.endDate">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Dates</h4>
          </div>
          <div class="font-size-xs">
            <table>
              <tr *ngIf="projectDetail.startDate">
                <td class="pr-3">Project start date:</td>
                <td class="text-black">{{projectDetail.startDate | baseDate}}</td>
              </tr>
              <tr *ngIf="projectDetail.endDate">
                <td class="pr-3">Project end date:</td>
                <td class="text-black">{{projectDetail.endDate | baseDate}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Project organizations</h4>
          </div>
          <app-organization-preview
            *ngFor="let organization of projectDetail.organizationBaseDtos"
            linkType="standard"
            [organization]="organization"></app-organization-preview>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Experts</h4>
          </div>
          <app-expert-links [experts]="projectDetail.projectExperts"></app-expert-links>
        </div>
      </div>
    </div>
  </section>

  <section class="container bg-white h-100 pt-4 pl-4" *ngIf="(mode$ | async) == modes.OUTCOMES">
    <div class="no-result-note" *ngIf="projectDetail.itemPreviewDtos.length == 0">
      The project has no outcome yet
    </div>
    <app-outcome-card [itemPreview]="outcome" *ngFor="let outcome of projectDetail.itemPreviewDtos" linkType="standard">

    </app-outcome-card>
  </section>

  <section class="container bg-white h-100 pt-4 pl-4" *ngIf="(mode$ | async) == modes.DOCUMENTS">
    <app-page-loader *ngIf="documentsLoading$ | async"></app-page-loader>
    <div *ngIf="documents$ | async as documents" [hidden]="documentsLoading$ | async">
      <div class="text-right mb-3">
        <button class="btn btn-success" (click)="uploadDocument(projectDetail.projectId)">
          <fa-icon icon="plus" class="mr-2"></fa-icon>
          Add document
        </button>
      </div>
      <div class="no-result-note" *ngIf="documents.length == 0">
        This project has no document yet
      </div>
      <app-file-preview [file]="document" *ngFor="let document of documents">
        <button class="btn btn--xs btn-danger ml-2" type="button"
                (click)="deleteFile(projectDetail.projectId, document)" [disabled]="document.deleting$ | async">
          Delete
        </button>
      </app-file-preview>
    </div>
  </section>
</section>
