<app-user-settings-header></app-user-settings-header>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>

<form class="bg-white px-4 py-4" [formGroup]="formGroup" (submit)="updateConsents()" [hidden]="loading$ | async">

  <div *ngFor="let consent of consents$ | async; let indexOfConsent=index">
    <p class="mb-3 ng-star-inserted" style="font-size: .875rem;" *ngIf="indexOfConsent==1">Allow us to transfer your personal data from your profile:</p>
    <div class="row mb-3">
      <div class="col-12 col-md-4" [ngStyle]="{'margin-left': indexOfConsent > 0 ? '25px' : ''}">
        <mat-slide-toggle [formControlName]="consent.consentId">
          {{consent.consentTitle}}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <button class="btn" *ngIf="saving$ | async" disabled>
        <app-loader></app-loader>
        Saving
      </button>
      <button class="btn btn--blue" *ngIf="(saving$ | async) == false" type="submit">
        Update consents
      </button>
    </div>
  </div>
</form>
