<aside class="sidebar" [class.open]="sidebarOpen$ | async">
  <h2 class="js-switch active" *ngIf="(sidebarMode$ | async) == sidebarModes.RESET_PASSWORD; else loginOrRegister">
    Forgotten password
  </h2>
  <ng-template #loginOrRegister>
    <h2 class="js-switch mr-3 mr-lg-5" (click)="sidebarMode$.next(sidebarModes.LOG_IN)"
        [class.active]="(sidebarMode$ | async) === sidebarModes.LOG_IN">Sign In</h2>
    <h2 class="js-switch" (click)="sidebarMode$.next(sidebarModes.REGISTER)"
        [class.active]="(sidebarMode$ | async) === sidebarModes.REGISTER">Register</h2>
  </ng-template>
  <svg class="sidebar__close js-close">
    <use xlink:href="#close"></use>
  </svg>
  <form class="mt-3 mt-lg-5" *ngIf="(sidebarMode$ | async) === sidebarModes.REGISTER" [formGroup]="registerFormGroup"
        novalidate>
    <label for="name">Name</label>
    <input id="name" placeholder="Your name" name="name" type="text" formControlName="fullName">
    <label for="email">Email</label>
    <input id="email" placeholder="Your email" name="email" type="email" formControlName="email">
    <label for="password">Password</label>
    <input id="password" placeholder="Your password" name="password" type="password" formControlName="password">

    <ng-container *ngIf="claimSuggestions$ | async as claimSuggestions">
      <ng-container *ngIf="claimSuggestions.length > 0">
        <label class="d-flex align-items-center">
          <span>Suggested profiles to claim</span>
          <fa-icon class="ml-2" icon="info-circle"
                   ngbTooltip="Select automatically created profiles that seems to be yours"></fa-icon>
        </label>

        <div class="preview-list mb-3">
          <div *ngFor="let profile of claimSuggestions"
               [class.preview-list-item-success]="profile.selected$ | async"
               class="preview-list-item" (click)="profile.selected$.next(!profile.selected$.value)">
            <div class="row align-items-start">
              <div class="col-4 d-flex align-items-center">
                <div class="checkbox-style mr-2">
                  <fa-icon icon="check" *ngIf="profile.selected$ | async"></fa-icon>
                </div>
                {{profile.fullName}}
              </div>
              <div class="col-4">
          <span *ngIf="profile.organizationBaseDtos.length > 0">
            {{profile.organizationBaseDtos[0].organizationAbbrev || profile.organizationBaseDtos[0].organizationName}}
            <a *ngIf="profile.organizationBaseDtos.length - 1 as others" [ngbPopover]="popover"
               (click)="$event.stopPropagation()">
              +{{others}} more
            </a>
            <ng-template #popover>
              <app-organizations-popover [organizations]="profile.organizationBaseDtos"></app-organizations-popover>
            </ng-template>
          </span>
              </div>
              <div class="col-4">
                <a [ngbPopover]="popover" placement="left" container="body" popoverClass="outcome-preview-popover"
                   (click)="$event.stopPropagation()">
                  Show outcomes
                </a>
                <ng-template #popover>
                  <div [class.border-bottom]="!last" *ngFor="let outcome of profile.itemPreviewDtos; let last = last">
                    <div class="row align-items-start">
                      <div class="col-6">
                        {{outcome.itemName}}
                      </div>
                      <div class="col-4">
                        {{outcome.itemTypeId | outcomeType | async}}
                      </div>
                      <div class="col-2">
                        {{outcome.year}}
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <button type="submit" class="btn btn--lg btn--primary" *ngIf="(loading$ | async) == false" (click)="register()">
      Sign up
    </button>
    <button disabled class="btn btn--lg" *ngIf="loading$ | async">
      <app-loader></app-loader>
      Signing up
    </button>
    <p class="my-4">Or connect with socials</p>
    <button type="button" class="btn btn--lg btn--red mb-4" (click)="loginWithSocial(socialServices.GOOGLE)">
      Sign up with Google
    </button>
    <button type="button" class="btn btn--lg btn--azure" (click)="loginWithSocial(socialServices.LINKED_IN)">
      Sign up with Linkedin
    </button>
    <p>By clicking "Sign up”, you agree to our <a href="https://www.find.experts.ai/terms" target="_blank">Terms and Conditions</a>.</p>
  </form>
  <form class="mt-3 mt-lg-5" *ngIf="(sidebarMode$ | async) === sidebarModes.LOG_IN" [formGroup]="loginFormGroup"
        novalidate>
    <label for="email2">Email</label>
    <input id="email2" placeholder="Your email" name="email" type="email" formControlName="username">
    <label for="password2">Password</label>
    <input id="password2" placeholder="Your password" name="password" type="password" formControlName="password">
    <button type="submit" class="btn btn--lg btn--primary" (click)="login()" *ngIf="(loading$ | async) == false">Sign
      in
    </button>
    <button disabled class="btn btn--lg" *ngIf="loading$ | async">
      <app-loader></app-loader>
      Signing in
    </button>
    <p class="my-4"><a (click)="sidebarMode$.next(sidebarModes.RESET_PASSWORD)">Forgotten password?</a></p>
    <button type="button" class="btn btn--lg btn--red mb-4" (click)="loginWithSocial(socialServices.GOOGLE)">
      Sign in with Google
    </button>
    <button type="button" class="btn btn--lg btn--azure" (click)="loginWithSocial(socialServices.LINKED_IN)">
      Sign in with Linkedin
    </button>
    <p>By clicking "Sign in”, you agree to our <a href="https://www.find.experts.ai/terms" target="_blank">Terms and Conditions</a>.</p>
  </form>

  <form class="mt-3 mt-lg-5" *ngIf="(sidebarMode$ | async) === sidebarModes.RESET_PASSWORD"
        [formGroup]="forgottenPasswordFormGroup"
        novalidate>
    <ng-container *ngIf="passwordResetSuccess$ | async; else resetPasswordForm">
      <span class="d-flex justify-content-center align-items-center text-success">
        <fa-icon icon="check-circle" class="text-x-lg mr-2"></fa-icon>
        <span>Reset password link has been sent to your email address</span>
      </span>
    </ng-container>
    <ng-template #resetPasswordForm>
      <label for="email3">Email</label>
      <input id="email3" placeholder="Your registration email" name="email" type="text" formControlName="email">
      <button type="submit" class="btn btn--lg btn--primary" *ngIf="(loading$ | async) == false"
              (click)="resetPassword()">
        Reset password
      </button>
      <button disabled class="btn btn--lg" *ngIf="loading$ | async">
        <app-loader></app-loader>
        Resetting password
      </button>
    </ng-template>
    <p class="my-4"><a (click)="sidebarMode$.next(sidebarModes.LOG_IN)">Return to login</a></p>
  </form>
</aside>

<div class="backdrop" [class.show]="sidebarOpen$ | async" (click)="close()"></div>
