<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">{{options.title}}</h3>
  </div>
  <div class="modal__body">
    <p [innerHTML]="options.content"></p>
  </div>
  <div class="modal__footer">
    <button type="button" class="btn mr-2 btn-{{options.confirmClass}}" (click)="close()">
      {{options.confirmLabel}}
    </button>

    <button type="button" class="btn btn-{{options.declineClass}}" (click)="dismiss()">
      {{options.declineLabel}}
    </button>
  </div>
</div>
