<div class="row mb-3" [formGroup]="filterFormGroup">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="filter">
      <label>Search outcomes</label>
      <div class="btn btn--light btn--input">
        <input class="input" aria-label="Search" formControlName="query">
      </div>
    </div>
  </div>
</div>

<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="evidenceLectureWrapper$ | async as expertLecturesWrapper">
    <app-lecture-card [lecturePreview]="lectures"
                      [linkType]="'standard'"
                      *ngFor="let lectures of expertLecturesWrapper.lecturePreviewDtos">
    </app-lecture-card>
    <p class="no-result-note" *ngIf="expertLecturesWrapper.numberOfAllItems == 0">
      No results for your criteria
    </p>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(evidenceLectureWrapper$ | async)?.numberOfAllItems">
</app-pagination>
