<section class="bg-white">
  <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
    <h3>Organizations</h3>
    <div *ngIf="selectedOrganization$ | async as selected">
      <span class="text-muted">Edited organization:</span> {{selected.organizationAbbrev || selected.organizationName}}
      <button class="btn-plain btn-plain-success" (click)="selectedOrganization$.next(null)"
              ngbTooltip="Finish modifications for this organization">
        <fa-icon icon="check"></fa-icon>
      </button>
    </div>
    <div *ngIf="updateMode$ | async as updateMode; else editButtons">
      <button class="btn btn-success mr-2" (click)="updateMode$.next(null); selectedOrganization$.next(null)">
        {{updateMode == 'replace' ? 'Replacement finished' : 'Structure finished'}}
      </button>
    </div>
    <ng-template #editButtons>
      <div>
        <button class="btn btn--blue mr-2" (click)="updateMode$.next('replace')">
          Replace organizations
        </button>

        <button class="btn btn--blue mr-2" (click)="updateMode$.next('structure')">
          Update structure
        </button>

        <button class="btn btn-success" (click)="editOrganization()">
          Create organization
        </button>
      </div>
    </ng-template>
  </div>
  <div *ngIf="(updateMode$ | async) == 'structure'">

  </div>
  <section class="filters d-flex align-items-center px-4" [formGroup]="filterFormGroup">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Search organizations</label>
          <div class="btn btn--light btn--input">
            <input class="input" aria-label="Search" formControlName="query">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <div class="filter">
          <label>Search type</label>
          <div class="btn btn--light btn--dropdown">
            <mat-select formControlName="exactMatch">
              <mat-option [value]="false">Partial match</mat-option>
              <mat-option [value]="true">Exact match</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <div class="filter">
          <label>Replacement state</label>
          <div class="btn btn--light btn--dropdown">
            <mat-select formControlName="replacementState">
              <mat-option value="ALL">All</mat-option>
              <mat-option value="VALID">Valid only</mat-option>
              <mat-option value="REPLACED">Replaced only</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <div class="filter">
          <label>Countries</label>
          <app-multi-select [options]="countries$ | async" formControlName="countryCodes"></app-multi-select>
        </div>
      </div>
      <div class="col-12">
        <mat-checkbox formControlName="invalidLicencesOnly">Invalid licences</mat-checkbox>
        <mat-checkbox formControlName="activeLicencesOnly" class="ml-4">Valid licences</mat-checkbox>
        <mat-checkbox formControlName="onlyWithoutCountry" class="ml-4">Without country</mat-checkbox>
      </div>
    </div>
  </section>
</section>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<ng-container *ngIf="data$ | async as wrapper">
  <ng-container *ngIf="(loading$ | async) == false">
    <section class="px-4 pt-3">
      <div class="expert-card min-h-none py-3 align-items-start"
           *ngFor="let organization of organizations$ | async">
        <div class="col-5">
          <div><a
            class="{{organization.substituteOrganizationId ? 'text-crossed-out' : ''}}"
            [routerLink]="'organizationDetail' | path: organization.organizationId">{{organization.organizationName}}</a>
          </div>
          <div><a
            class="{{organization.substituteOrganizationId ? 'text-crossed-out' : ''}}"
            [routerLink]="'organizationDetail' | path: organization.organizationId">{{organization.organizationAbbrev}}</a>
          </div>
          <div *ngIf="organization.substituteOrganizationId">
            Replaced by <a [routerLink]="'organizationDetail' | path: organization.substituteOrganizationId">
            {{organization.substituteOrganizationAbbrev || organization.substituteOrganizationName}}
          </a>
          </div>
        </div>
        <div class="col-1">
          <div class="d-flex justify-content-between">
            <span class="text-muted">Country:</span>
            <span>{{organization.countryCode}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="text-muted">Rank:</span>
            <span>{{organization.rank}}</span>
          </div>
        </div>
        <div class="col-4">
          <ng-container *ngIf="organization.upperOrganizations | notEmpty">
            <div class="text-muted">
              Parent organization
            </div>
            <div *ngFor="let o of organization.upperOrganizations">
              <a
                [routerLink]="'organizationDetail' | path: o.organizationId">{{o.organizationAbbrev || o.organizationName}}</a>
            </div>
          </ng-container>
          <ng-container *ngIf="organization.lowerOrganizations | notEmpty">
            <div class="text-muted">
              Organization units
            </div>
            <div *ngFor="let o of organization.lowerOrganizations">
              <a
                [routerLink]="'organizationDetail' | path: o.organizationId">{{o.organizationAbbrev || o.organizationName}}</a>
              <button class="btn-plain btn-plain-danger" (click)="removeOrganizationUnit(organization, o)"
                      [disabled]="saving$ | async"
                      *ngIf="(updateMode$ | async) == 'structure'">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="organization.affiliatedOrganizations | notEmpty">
            <div class="text-muted">
              Affiliated organizations
            </div>
            <div *ngFor="let o of organization.affiliatedOrganizations">
              <a
                [routerLink]="'organizationDetail' | path: o.organizationId">{{o.organizationAbbrev || o.organizationName}}</a>
              <button class="btn-plain btn-plain-danger" (click)="removeOrganizationUnit(organization, o)"
                      [disabled]="saving$ | async"
                      *ngIf="(updateMode$ | async) == 'structure'">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="col-2 text-right">
          <ng-container *ngIf="(updateMode$ | async) == null">
            <button class="btn btn--blue mr-2" (click)="editOrganization(organization)">
              Edit
            </button>
            <button class="btn {{organization.hasValidLicence ? 'btn-success' : 'btn-danger'}}"
                    (click)="editLicences(organization)">
              Licences
            </button>
            <button class="btn {{organization.hasAllowedSearch? 'btn-success':'btn-danger'}}"
                    (click)="toggleSearch(organization)">
              {{organization.hasAllowedSearch ? "Forbid" : "Allow"}} search
            </button>
            <button class="btn {{organization.membersAllowed? 'btn-success':'btn-danger'}}"
                    (click)="toggleMembers(organization)">
              Make {{organization.membersAllowed ? "classic" : "member" }} organization
            </button>
          </ng-container>
          <ng-container *ngIf="(updateMode$ | async) && (selectedOrganization$ | async) == null">
            <button class="btn btn--blue mb-1" (click)="selectedOrganization$.next(organization)">
              <ng-container *ngIf="(updateMode$ | async) == 'structure'">Parent organization</ng-container>
              <ng-container *ngIf="(updateMode$ | async) == 'replace'">Set as substitute organization</ng-container>
            </button>
          </ng-container>
          <ng-container *ngIf="selectedOrganization$ | async as selected">
            <ng-container
              *ngIf="(updateMode$ | async) == 'replace' && selected.organizationId != organization.organizationId">
              <button class="btn btn-danger" (click)="replaceOrganization(organization, selected)"
                      [disabled]="saving$ | async">
                Replace this organization
              </button>
            </ng-container>
            <ng-container
              *ngIf="(updateMode$ | async) == 'structure' && selected.organizationId != organization.organizationId && (organization.parentOrganizationIds | contains: selected.organizationId) == false">
              <button class="btn btn--blue mb-1" (click)="updateStructure(selected, organization, relations.PARENT)"
                      [disabled]="saving$ | async">
                Organization unit
              </button>
              <button class="btn btn--blue" (click)="updateStructure(selected, organization, relations.AFFILIATED)"
                      [disabled]="saving$ | async">
                Affiliated organization
              </button>
              <button class="btn btn--blue" *ngIf="selected.membersAllowed"
                      (click)="updateStructure(selected,organization,relations.MEMBER)" [disabled]="saving$ | async">
                Organization member
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
  <app-pagination [pageInfo]="pageInfo$ | async"
                  [hidden]="loading$ | async"
                  [numberOfResults]="wrapper.numberOfAllItems"
                  (pageChanged)="pageInfo$.next($event)"></app-pagination>
</ng-container>
