<div class="vh-100 d-flex justify-content-center align-items-center">
  <div>
    <div class="mb-4 text-center">
      <fa-icon [icon]="['fas', 'heart-broken']" size="5x" class="text-warning"></fa-icon>
    </div>
    <div class="text-center">
      <h1>We're sorry to see you go.</h1>
      <p>You have successfully unsubscribed to take it back click the button bellow.</p>
      <button class="btn btn-primary btn--blue" type="submit" (click)="resubscribe()">Resubscribe</button>
<!--      <a class="btn btn-primary btn&#45;&#45;blue" href="https://experts.ai/widgets/organizations/314353?opportunity=&outcomeListMode=OPPORTUNITY&page=1">All Opportunities</a>-->
    </div>
  </div>
</div>
