.special_bar{
  height: 2rem;
  width: 12rem;
  margin-top: .5rem;
}
.special_icon {
  transform: scale(1.1);
  user-select: none;
  color: white;
}

.icon_bg {
  user-select: none;
  width: 2rem;
  background-color: rgba(148, 158, 169, 0.8);
  border-radius: 50%;
}
.icon_bg:hover {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .special_icon {
    transform: scale(1);
  }
  .special_bar{
    height: 1.2rem;
    width: 8rem;
    margin-top: 1.5rem;
  }
  .icon_bg {
    width: 1.5rem;
    margin-right: 7%;
  }
}
