<div class="d-flex justify-content-around  special_bar" *ngIf="!scroll">
  <div class="icon_bg d-flex align-items-center justify-content-center">
    <mat-icon class="special_icon" aria-hidden="true" aria-label="Full screen" matTooltip="Full screen" fontIcon="share" (click)="fullScreen()">fullscreen</mat-icon>
  </div>
  <div class="icon_bg d-flex  align-items-center justify-content-center" >
    <mat-icon *ngIf="!showCopiedTooltip; else copied" class="special_icon" aria-hidden="false" aria-label="share widget url" fontIcon="home" [matTooltip]="shareTooltipText" (click)="copyToClipboard()" >share</mat-icon>
    <ng-template #copied>
      <mat-icon class="special_icon" aria-hidden="false" aria-label="share widget url" fontIcon="home" [matTooltip]="shareTooltipTextCopied" (click)="copyToClipboard()" >share</mat-icon>
    </ng-template>
  </div>
  <div class="icon_bg d-flex align-items-center justify-content-center" *ngIf="showSubscribe">
    <mat-icon class="special_icon" aria-hidden="false" aria-label="subscribe to notifications" [matTooltip]="subscribeTooltipText"  fontIcon="home" (click)="open()">
      notifications_active
    </mat-icon>
  </div>
</div>
