/**
 * Global
 */

html {
  overflow-x: hidden;
}

body.mat-typography { //updated by MK
  font-size: 16px;
  line-height: 1.6;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: $black;
  }

  h1 {
    font-weight: $font-weight-bolder;
    letter-spacing: -.4px;

    @include rfs(2.5rem, font-size);
    @include rfs(3.75rem, line-height);
  }

  h2 {
    font-weight: $font-weight-bolder;
    letter-spacing: -.3px;

    @include rfs(2.25rem, font-size);
    @include rfs(3.375rem, line-height);
  }

  h3 {
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

  h4,
  h5 {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }

  h6 {
    font-size: .8125rem;
  }

  &.modal-open {
    //overflow: hidden;
    //position: relative;
    //max-height: 100%;
    //width: 100%;
  }
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  color: $body-color;
  background: #eaeff3;
  //padding-top: 64px;

  .is-loading {
    header,
    section,
    footer {
      display: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: $blue;
    cursor: pointer;

    &:hover {
      color: darken($blue, 20%);
    }
  }

  input {
    font-size: $font-size-base;
    font-family: $font-family-base;
    border: none;
    outline: none;
  }

  .text-center {
    text-align: center;
  }

  .text-lg-left {
    @include media-breakpoint-up('lg') {
      text-align: left;
    }
  }

  p {
    margin: 0;
    line-height: 28px;
  }

  figure {
    margin: 0;
  }

  .border-bottom {
    border-bottom: 1px solid #dfe6ed;
  }

  .overflow-hidden {
    overflow-y: hidden;
  }

  .font-size-sm {
    font-size: $font-size-sm !important;
  }

  .font-size-xs {
    font-size: $font-size-xs !important;
  }

  .font-weight-normal {
    font-weight: $font-weight-base !important;
  }

  .font-weight-bold {
    font-weight: $font-weight-bold;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .overflow-scroll {
    overflow-x: auto;
  }

  .overflow-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 2px;
  }

  .overflow-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .overflow-scroll::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: $blue;
  }

  .text-success {
    color: $success;
  }

  .text-right {
    text-align: right;
  }

  @each $color, $value in $colors {
    .text-#{$color} {
      color: $value !important;
    }
  }

  @each $color, $value in $colors {
    .bg-#{$color} {
      background: $value !important;
    }
  }

  .w-100 {
    width: 100%;
  }

  .box-shadow {
    box-shadow: 0 2px 4px 0 rgba(23, 23, 38, .15);
  }

  .no-wrap {
    white-space: nowrap;
  }

  .border-0 {
    border: none !important;
  }

  .row {
    flex: 0 0 100%;
  }

  .h-100 {
    min-height: 100vh;
  }

  label {
    display: block;
    font-size: .75rem;
    font-weight: $font-weight-bold;
  }

}
