html, body, app-root, app-platform, main {
  display: flex;
  min-height: 100%;
  width: 100%;

  app-header {
    display: flex;
  }

}

app-platform {
  main > .main-content {
    padding-top: 64px;
  }
}

app-root > *:not(router-outlet) {
  width: 100%;
}
