@import 'node_modules/@angular/material/theming';

@include mat-core();

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-blue);
$my-custom-accent: mat-palette($mat-green);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);
