/**
 * Variables
 */

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';

// Colors
$primary: #00c96a;
$blue: #303ffb;
$light-blue: #d4ddfc;
$cobalt: #3645f4;
$azure: #287fdd;
$black: #171726;
$white: #fff;
$green: #00a380;
$orange: #ff9131;
$red: #f04037;
$purple: #a564d3;

$gray-100: #eff2f5;
$gray-200: #dfe6ed;

$colors: (
  'primary' : $primary,
  'blue' : $blue,
  'light-blue' : $light-blue,
  'green' : $green,
  'cobalt' : $cobalt,
  'azure' : $azure,
  'red' : $red,
  'purple' : $purple,
  'orange' : $orange,
  'gray' : $gray-100,
  'dark-gray' : $gray-200,
  'light' : $white,
  'black' : $black,
);

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1352px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px
) !default;

// Body
$body-color: #5e6771;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 3),
      6: ($spacer * 3.5),
      7: ($spacer * 4),
      8: ($spacer * 5),
      9: ($spacer * 6),
      10: ($spacer * 7),
    ),
    $spacers
);

// Typography
$font-family-base: 'Poppins', sans-serif;

$font-weight-base: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$font-size-base: 1rem;
$font-size-xs: .875rem;
$font-size-sm: .9375rem;
$font-size-lg: 1.125rem;

$rfs-breakpoint: 960px;

// Buttons
$btn-radius: 8px;
