<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Edit organization</h3>
  </div>
  <div class="modal__body" [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Organization Name</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" formControlName="organizationName">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Organization Abbreviation</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Abbrev" formControlName="organizationAbbrev">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Country</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <mat-select formControlName="countryCode" class="input input--gray">
          <mat-option *ngFor="let country of countries$ | async" [value]="country.countryCode">
            {{country.countryName}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="save()">
        Save
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
