@mixin button-states($color) {
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($color, .4);
    outline: none;
  }

  &:hover {
    background: darken($color, 4.5%);
  }

  &:active {
    background: darken($color, 10%);
  }
}

@mixin input-states($color) {
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($color, .4);
  }
}

@mixin tag-states($color) {
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($color, .4);
    outline: none;
  }

  &:hover {
    background: rgba($color, .36);
  }

  &:active {
    background: rgba($color, .46);
  }
}
