<div class="tags-input {{type == 'filled' ? 'input input--gray' : 'btn btn--light btn--input'}}">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let tag of tags$ | async"
      selectable="true"
      removable="true"
      [matTooltip]="tag.descriptionLong || ''"
      (removed)="remove(tag)">
      <span class="chip-content">{{tag.description}}</span>
      <fa-icon matChipRemove icon="times"></fa-icon>
    </mat-chip>
    <input
      [placeholder]="placeholder"
      [formControl]="inputFormControl"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addInline($event)"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      (focus)="loadList()"
    >
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of options$ | async" [value]="option"
                [matTooltip]="option.descriptionLong || ''">
      {{option.description}}
      <div class="sub-description" *ngIf="option.subDescription">
        {{option.subDescription}}
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
