<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Add project</h3>
  </div>
  <div class="modal__body">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Search projects</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" [formControl]="searchFormControl">
      </div>
    </div>
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngIf="projects$ | async as projects">
        <div class="no-result-note" *ngIf="projects.length == 0">
          <ng-container *ngIf="projects.length == 0">
            <ng-container *ngIf="searchFormControl.value">
              No project matches your query
            </ng-container>
            <ng-container *ngIf="!searchFormControl.value">
              Search for the projects to add
            </ng-container>
          </ng-container>
        </div>
        <app-project-card *ngFor="let project of projects" [project]="project">
          <div class="actions text-right">
            <button class="btn" disabled *ngIf="project.loading$ | async; else actionButtons">
              <app-loader></app-loader>
              Adding
            </button>
            <ng-template #actionButtons>
              <button class="btn btn-success" *ngIf="project.added$ | async; else addButton">Added</button>
              <ng-template #addButton>
                <button class="btn btn-primary" (click)="addProject(project)">Add</button>
              </ng-template>
            </ng-template>
          </div>
        </app-project-card>
      </ng-container>
    </div>
  </div>
</div>

<div class=" modal__footer">
  <button class="btn btn--gray mr-2" type="button" (click)="close()">
    Close
  </button>
  <button class="btn btn--blue" type="button" (click)="createNew()">
    Create new project
  </button>
</div>
