<div class="btn btn--light btn--dropdown">
  <mat-select multiple [formControl]="internalFormControl"
              [placeholder]="noValueMeansAll ? 'All' : 'No value selected'">
    <mat-select-trigger>
      <ng-container *ngIf="showAllSelectedValues">
        <span *ngFor="let value of internalFormControl.value; let last = last">
          {{value.description}}
          <ng-container *ngIf="!last">, </ng-container>
        </span>
      </ng-container>

      <ng-container *ngIf="!showAllSelectedValues">
        <span class="mat-select-placeholder" *ngIf="allSelected$ | async">
          All
        </span>
        <ng-container *ngIf="internalFormControl.value?.length > 0 && (allSelected$ | async) == false">
          {{internalFormControl.value[0].description}}
          <span *ngIf="internalFormControl.value?.length > 1" class="example-additional-selection">
          (+{{internalFormControl.value.length - 1}} more)
        </span>
        </ng-container>
      </ng-container>
    </mat-select-trigger>
    <ng-container *ngIf="options$ | async as options">
      <mat-option [value]="option" *ngFor="let option of options">
        {{option.description}}
      </mat-option>
    </ng-container>
  </mat-select>
</div>
