<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="contactKey === 'requestInformation'" class="mb-2">
    <strong>The organization or expert hasn't allowed to view their profile yet...
      <br>
      Write the message and we help you to contact them.
    </strong>
  </div>
  <form [formGroup]="contactForm">
    <div class="form-group" *ngIf="contactKey=='requestWidgetOutcome'
    || contactKey=='contactExpertWidget'
    || contactKey=='requestWidgetProject'
    || contactKey=='requestInformation'
    || contactKey=='applyForOpportunity'
    || contactKey=='contactUs'
    || contactKey=='requestEquipment'">
      <label for="emailAddress">Email</label>
      <div class="input-group">
        <input id="emailAddress" class="form-control" formControlName="senderEmail" placeholder="Your email">
      </div>
    </div>
    <div class="form-group">
      <label for="textMessage">Content</label>
      <div class="input-group">
          <textarea id="textMessage" class="form-control" formControlName="message" placeholder="Type your message">
          </textarea>
      </div>
      <mat-checkbox *ngIf="contactKey==='applyForOpportunity'" type="checkbox" formControlName="agreeTerms"
                    id="agreeTerms" class="amateur mt-2" color="primary">
      </mat-checkbox>
      By clicking “Apply” you agree that the university via <a href="https://www.unico.ai">UNICO.ai</a> CZ, <br>
      will process your personal data to transfer your application to the partner  <br /> and your potential employer.
      For more info, see the Personal Data Protection <br /> of the university.
    </div>

    <ngx-recaptcha2 *ngIf="siteKey$ | async as siteKey"
                    [siteKey]="siteKey"
                    formControlName="recaptcha">
    </ngx-recaptcha2>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)=constructSendMail()>
    <fa-icon icon="paper-plane" class="mr-2"></fa-icon>
    <div *ngIf="contactKey==='contactExpertWidget'; else other_modal">Apply</div>
    <ng-template #other_modal>Send</ng-template>
  </button>
</div>
