<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Add outcome</h3>
  </div>
  <div class="modal__body">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Search outcomes</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" [formControl]="searchFormControl">
      </div>
    </div>
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngIf="outcomes$ | async as outcomes">
        <div class="no-result-note" *ngIf="outcomes.length == 0">
          <ng-container *ngIf="outcomes.length == 0">
            <ng-container *ngIf="searchFormControl.value">
              No outcome matches your query
            </ng-container>
            <ng-container *ngIf="!searchFormControl.value">
              Search for the outcomes to add
            </ng-container>
          </ng-container>
        </div>
        <app-outcome-card *ngFor="let outcome of outcomes" [itemPreview]="outcome" [linkType]="'standard'">
          <div class="actions text-right">
            <button class="btn" disabled *ngIf="outcome.loading$ | async; else actionButtons">
              <app-loader></app-loader>
              Adding
            </button>
            <ng-template #actionButtons>
              <button class="btn btn-success" *ngIf="outcome.added$ | async; else addButton">Added</button>
              <ng-template #addButton>
                <button class="btn btn-primary" (click)="addOutcome(outcome)">Add</button>
              </ng-template>
            </ng-template>
          </div>
        </app-outcome-card>
      </ng-container>
    </div>
  </div>
</div>

<div class="modal__footer" style="display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; align-items: center;">
    <input type="file" style="display:none" #fileInput multiple="false" [accept]="validExtensions.join(',')">
    <button class="btn btn--gray mr-auto" type="button" (click)="onFileImport()" style="margin-right: 1rem;">
      <fa-icon icon="upload" class="mr-2"></fa-icon>
      Import
    </button>
    <span class="text ml-4">
      Supported extensions: {{ validExtensions.join(', ') }}
    </span>
  </div>
  <div style="display: flex; align-items: center;">
    <div class="loader mr-2" style="height: 30px; width: 30px;" *ngIf="importing$ | async">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
    <button class="btn btn--gray mr-2" type="button" (click)="close()">
      Close
    </button>
    <button class="btn btn--blue" type="button" (click)="createNew()">
      Create new outcome
    </button>
  </div>
</div>
