<section class="w-100">
  <div class="d-flex align-items-center box-shadow pl-4 py-2 bg-white mb-3 flex-wrap">
    <button class="btn btn-outline-primary mr-2" (click)="workspacesToFilter$.next([])"
            [class.btn--blue]="(workspacesToFilter$ | async)?.length === 0">
      All workspaces
    </button>
    <button class="btn btn--blue mr-2 my-1" *ngFor="let workspace of workspaces$ | async"
            [class.btn--light]="((workspacesToFilter$ | async) | contains: workspace.workspaceName) == false"
            (click)="toggleWorkspace(workspace)">
      {{workspace.workspaceName}}
    </button>
  </div>
  <section class="container px-4">
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngFor="let rowWrapper of searchHistoryDtos$ | async">
        <app-search-history-row *ngIf="(rowWrapper.deleted$ | async) == false" [row]="rowWrapper.row">

          <button class="btn-plain btn-plain-gray"
                  [ngbPopover]="menu"
                  popoverClass="workspace-select-popover"
                  autoClose="outside"
                  ngbTooltip="Edit workspaces"
                  [disabled]="rowWrapper.saving$ | async">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>

          <ng-template #menu>
            <div style="min-width: 200px">
              <ng-container *ngIf="rowWrapper.workspaces$ | async as rowWorkspaces">
                <ng-container *ngFor="let workspace of workspaces$ | async">
                  <div class="d-flex justify-content-between w-100 btn btn--gray mb-2 align-items-center pr-1"
                       [ngbTooltip]="(rowWorkspaces | contains:workspace.workspaceName) ? 'Remove from workspace' : 'Add to workspace'"
                       (click)="toggleRowWorkspace(rowWrapper, workspace.workspaceName)"
                       [class.bg-success-light]="rowWorkspaces | contains:workspace.workspaceName">
                    {{workspace.workspaceName}}
                    <button
                      class="btn-plain btn-plain-blue"
                      [class.btn-plain-danger]="rowWorkspaces | contains:workspace.workspaceName">
                      <fa-icon class="text-base" icon="plus"
                               *ngIf="(rowWorkspaces | contains:workspace.workspaceName) == false"></fa-icon>
                      <fa-icon class="text-base" icon="times"
                               *ngIf="rowWorkspaces | contains:workspace.workspaceName"></fa-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-container>
              <div class="d-flex border-top pt-2">
                <input class="input input--gray" [formControl]="rowWrapper.newWorkspaceFc">
                <button class="btn-plain btn-plain-success"
                        (click)="addNewWorkspace(rowWrapper)">
                  <fa-icon icon="plus" class="ml-2 text-base"></fa-icon>
                </button>
              </div>
            </div>
          </ng-template>

          <button class="btn-plain btn-plain-gray"
                  type="button"
                  ngbTooltip="Remove from favorite searches"
                  [disabled]="rowWrapper.saving$ | async"
                  (click)="updateRow(rowWrapper, false, rowWrapper.workspaces$.value)">
            <fa-icon icon="trash"></fa-icon>
          </button>

          <div class="workspaces d-flex flex-wrap">
            <ng-container *ngIf="rowWrapper.workspaces$ | async as workspaces">
              <ng-container *ngIf="workspaces.length > 0">
              <span class="tag tag--sm cobalt mr-1 mb-1" *ngFor="let workspace of rowWrapper.workspaces$ | async">
                  {{workspace}}
              </span>
              </ng-container>
            </ng-container>
          </div>
        </app-search-history-row>
      </ng-container>

      <app-pagination *ngIf="searchHistoryWrapper$ | async as wrapper"
                      [pageInfo]="pageInfo$ | async"
                      [numberOfResults]="wrapper.numberOfResults"
                      (pageChanged)="pageInfo$.next($event)"></app-pagination>
    </div>
  </section>
</section>
