<div class="btn btn--gray font-weight-normal font-size-sm text-black w-100 h-auto mb-2">
  <div class="row align-items-center">
    <div class="col-auto text-left pl-0 pr-0">
      <fa-icon [icon]="file.fileType | fileIcon"></fa-icon>
    </div>
    <div class="col-6 text-break text-left">
      <a [href]="file.downloadUrl" target="_blank" *ngIf="file.downloadUrl">
        {{file.fileName}}
      </a>
      <div *ngIf="!file.downloadUrl">
        {{file.fileName}}
      </div>
      <div class="text-muted" *ngIf="file.fileDescription">
        {{file.fileDescription}}
      </div>
    </div>
    <div class="col-3 text-right">
      {{file.fileSize | fileSize}}
    </div>
    <div class="col-2 text-right pr-0 py-2 ml-auto">
      <a class="btn btn--xs btn-primary" [href]="file.downloadUrl" target="_blank" *ngIf="file.downloadUrl">
        Download
      </a>
      <ng-content></ng-content>
    </div>
  </div>
</div>
