<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Organization</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="contactForm">
      <div class="form-group">
        <label for="emailAddress">Email</label>
        <div class="input-group">
          <input id="emailAddress" class="form-control" formControlName="senderEmail" placeholder="Your email">
        </div>
      </div>
      <div class="form-group">
        <label for="textMessage">Content</label>
        <div class="input-group">
          <textarea id="textMessage" class="form-control" formControlName="message" placeholder="Type your message">
          </textarea>
        </div>
      </div>
      <ngx-recaptcha2 *ngIf="siteKey$ | async as siteKey"
                      [siteKey]="siteKey"
                      formControlName="recaptcha">
      </ngx-recaptcha2>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="send()">
      <fa-icon icon="paper-plane" class="mr-2"></fa-icon>
      Send
    </button>
  </div>
</ng-template>

<ng-container *ngIf="organizationDetail$ | async as organizationDetail">
  <section class="container-fluid mb-4 p-0" [hidden]="loading$ | async">
    <div class="expert-detail">
      <div class="expert-detail__header">
        <img
          [src]="(organizationDetail.organizationId | organizationImg: 'XL':'COVER') + ((reloadImgUrl$ | async) || '')"
          appOptionalImg [altSrc]="'images/expert-bg.jpg' | assets" alt="Graphic">
      </div>
      <div class="expert-detail__body">
        <span class="avatar avatar__lg left">
          <img [src]="(organizationDetail.organizationId | organizationImg: 'M') + ((reloadImgUrl$ | async) || '')"
               appOptionalImg
               [altTemplate]="organizationIcon"
               [alt]="organizationDetail.organizationName + ' logo'">
          <ng-template #organizationIcon>
            <fa-icon icon="university"></fa-icon>
          </ng-template>
        </span>

        <div class="row mt-4">
          <div class="col-12 col-lg-8 d-flex flex-column">
            <div class="d-flex mb-3">
              <h3 class="mr-3" style="margin-top: 64px">{{organizationDetail.organizationName}}</h3>
            </div>
            <p class="mb-3">
              {{organizationDetail.organizationDescription}}
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <div class="d-flex align-items-center mb-2" *ngIf="organizationDetail.web">
              <fa-icon class="text-x-lg mr-2" icon="globe"></fa-icon>
              <a [href]="organizationDetail.web | webAddress" target="_blank">{{organizationDetail.web}}</a>
            </div>
            <div class="d-flex align-items-center mb-2" *ngIf="organizationDetail.phone">
              <fa-icon class="text-x-lg mr-2" icon="phone"></fa-icon>
              <a href="tel:{{organizationDetail.phone}}">{{organizationDetail.phone}}</a>
            </div>
            <div class="d-flex align-items-center mb-2"
                 *ngIf="organizationDetail.street || organizationDetail.city || organizationDetail.countryName">
              <fa-icon class="text-x-lg mr-2" icon="home"></fa-icon>
              <span>{{organizationDetail.street}}
                <ng-container
                  *ngIf="organizationDetail.street && (organizationDetail.city || organizationDetail.countryName)">, </ng-container>
                {{organizationDetail.city}}
                <ng-container *ngIf="organizationDetail.city && organizationDetail.countryName">, </ng-container>
                {{organizationDetail.countryName}}</span>
            </div>
            <div>
              <button class="btn btn-lg btn-success" (click)="open(content)">
                <fa-icon icon="envelope" class="mr-2"></fa-icon>
                Contact
              </button>
            </div>
            <!--            <div class="d-flex align-items-center mb-2"-->
            <!--                 *ngIf="expertStatistics$ | async as expertStatistics">-->
            <!--              <fa-icon class="text-x-lg mr-2" icon="users"></fa-icon>-->
            <!--              {{expertStatistics.numberOfExperts | shortNumber}}-->
            <!--            </div>-->
            <h4 class="mt-4 mb-3">Organization structure</h4>
            <div>
              <app-organization-structure [structure]="organizationStructure$ | async"
                                          [currentOrganizationId]="organizationDetail.organizationId">
              </app-organization-structure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<app-page-loader *ngIf="(loading$ | async)"></app-page-loader>

