<div *ngFor="let organization of userOrganizations$ | async">
  <div class="dropright-wrapper">
    <div class="d-flex justify-content-start btn btn--gray border-radius-0 border-0"
         (click)="toggleOpen(organization)"
         [class.btn--lighter]="organization.organizationId != (activeOrganizationId$ | async)">
      <fa-icon [icon]="(organization.expanded$ | async) ? 'angle-down' : 'angle-right'" style="width: 1em"
               class="mr-2 flex-grow-0 flex-shrink-0"
               [class.invisible]="!organization.subOrganizations.length"></fa-icon>
      <a [routerLink]="'organizationDashboard' | path: organization.organizationId" class="text-overflow-ellipsis">
        {{organization.organizationAbbrev || organization.organizationName}}
      </a>
    </div>
    <div class="dropright"> <!--*ngIf="organization.organizationId != (activeOrganizationId$ | async)"-->
      <div class="dropright-title">
        {{organization.organizationAbbrev || organization.organizationName}}
      </div>
      <div class="dropright-content">
        <div *ngTemplateOutlet="organizationMenu"></div>
      </div>
    </div>
  </div>
  <ng-template #organizationMenu>
    <a class="aside__sub-item"
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="active"
       [routerLink]="'organizationDashboard' | path: organization.organizationId">
      Overview
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.EXPERTS]">
      Experts
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.OUTCOMES]">
      Outcomes
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.PROJECTS]">
      Projects
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.COMMERCIALIZATION]">
      Commercialization
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.OPPORTUNITY]">
      Opportunities
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.EQUIPMENT]">
      Equipment/services
    </a>
    <a class="aside__sub-item"
       routerLinkActive="active"
       *ngIf="organization.memberOrganization"
       [routerLink]="[paths.EVIDENCE, paths.ORGANIZATIONS, organization.organizationId, paths.MEMBERS]">
      Members
    </a>
  </ng-template>
  <div class="company-tree__wrapper" *ngIf="(organization.expanded$ | async)">
    <ng-container *ngIf="(activeOrganizationId$ | async) == organization.organizationId">
      <div *ngTemplateOutlet="organizationMenu"></div>
    </ng-container>
    <app-organization-structure-navigation *ngIf="organization.subOrganizations.length > 0"
                                           [structure]="organization.subOrganizations">
    </app-organization-structure-navigation>
  </div>
</div>
