<div *ngIf="organizationTypeWrapper$ | async as wrapper">
  <div *ngIf="showSelect">
    <span class="text-muted text-sm font-weight-normal">
      <mat-select
        class="organization-type__select"
        [value]="selectedId"
        placeholder="Select type"
        (selectionChange)="setOrganizationType($event)"
        >
        <mat-option (click)="onBlur()" *ngFor="let type of wrapper.organizationTypeDtos" [value]="type.id">{{ type.name }}</mat-option>
      </mat-select>
    </span>
  </div>
    <span *ngIf="! showSelect" (click)="onFocus()" class="text-muted text-sm font-weight-normal">{{ organizationTypeName }}</span>
</div>
