<section class="bg-white">
  <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
    <h3>Add users to {{ role }}</h3>
  </div>
  <section class="filters d-flex align-items-center px-4" [formGroup]="filterFormGroup">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Search users</label>
          <div class="btn btn--light btn--input">
            <input class="input" aria-label="Search" formControlName="query">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<ng-container *ngIf="data$ | async as wrapper">
  <ng-container *ngIf="(loading$ | async) == false">
    <section class="px-4 pt-3">
      <div class="expert-card min-h-none py-3 align-items-start"
           *ngFor="let user of wrapper.adminUserDtos">
        <div class="col-10">
          <div>
            <a target="_blank"
               [routerLink]="'expertDetail' | path: (user | expertCode)">{{ user.firstName }} {{ user.lastName }}</a>
            ({{ user.email }})
            <button class="btn btn-primary mr-auto" (click)="addRole(user)">add</button>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
  <app-pagination [pageInfo]="pageInfo$ | async"
                  [hidden]="loading$ | async"
                  [numberOfResults]="wrapper.numberOfUsers"
                  (pageChanged)="pageInfo$.next($event)"></app-pagination>
</ng-container>
