<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">{{(opportunity$ | async) ? 'Edit opportunity' : 'Create new opportunity'}}</h3>
  </div>
  <div [formGroup]="formGroup" class="modal__body">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Name</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input aria-label="Name" class="input input--gray" formControlName="opportunityName">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Keywords</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-tags-input [customTags]="true" [searchFunction]="lookupKeywords" class="w-100"
                        formControlName="opportunityKw" type="filled"></app-tags-input>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Opportunity type</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <mat-select aria-label="domain" class="input input--gray" formControlName="opportunityType">
          <mat-option *ngFor="let domain of opportunityTypes$ | async"
                      [value]="domain.id">{{domain.name}}</mat-option>
        </mat-select>

      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Job type</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <div class="row">
          <div *ngFor="let type of jobTypes$ | async" class="col-3">
            <mat-checkbox (change)="checkChange($event,type)" [checked]="jobs[type.id]">{{type.name}}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>




    <div  *ngIf="isTopMemberOrganization$ | async" class="row pt-4 border-top">
      <div class="col-12 col-lg-2 d-flex justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Organization</label>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column">
        <ng-container *ngIf="organizationsModalList$?.value && organizationsModalList$.value.length > 0">
          <div *ngFor="let o of organizationsModalList$ | async" class="d-flex align-items-center mb-2">
            <div class="w-100 mr-3">
              <button class="btn btn--gray font-weight-normal font-size-sm text-black w-100 justify-content-start"
                      type="button">
                {{o.organizationName}}
              </button>
            </div>
            <button (click)="removeOrganization(o)" class="btn-plain btn-plain-gray dropdown__delete">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </div>
        </ng-container>

        <div *ngIf=" organizationsModalList$?.value && organizationsModalList$.value.length===0" class="d-flex align-items-center mb-2">

          <input [formControl]="searchOrganizationFc" [matAutocomplete]="organizationsAutocomplete" class="input input--gray mr-3"
                 placeholder="Search organizations">

          <mat-autocomplete #organizationsAutocomplete="matAutocomplete" (optionSelected)="addOrganization($event)">
            <mat-option *ngFor="let option of organizationOptions$ | async" [ngbTooltip]="option.organizationName"
                        [value]="option"
                        container="body">
              {{option.organizationName}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>





    <div class="row pt-4 border-top">
      <div class="col-12 col-lg-2 d-flex justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Experts</label>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column">
        <ng-container *ngIf="experts$?.value && experts$.value.length > 0">
          <div *ngFor="let e of experts$ | async" class="d-flex align-items-center mb-2">
            <div class="w-100 mr-3">
              <button class="btn btn--gray font-weight-normal font-size-sm text-black w-100 justify-content-start"
                      type="button">
                {{e.name}}
              </button>
            </div>
            <button (click)="removeExpert(e)" class="btn-plain btn-plain-gray dropdown__delete">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </div>
        </ng-container>

        <div *ngIf=" experts$?.value && experts$.value.length===0" class="d-flex align-items-center mb-2">

          <input [formControl]="searchExpertFc" [matAutocomplete]="expertsAutocomplete" class="input input--gray mr-3"
                 placeholder="Search experts">

          <mat-autocomplete #expertsAutocomplete="matAutocomplete" (optionSelected)="addExpert($event)">
            <mat-option *ngFor="let option of expertOptions$ | async" [ngbTooltip]="option.name"
                        [value]="option"
                        container="body">
              {{option.name}}
              <div *ngIf="option.organizationDtos.length > 0" class="sub-description">
                <ng-container *ngFor="let o of option.organizationDtos; let last=last">
                  {{o.organizationAbbrev || o.organizationName}}
                  <ng-container *ngIf="!last">,</ng-container>
                </ng-container>
              </div>
            </mat-option>
          </mat-autocomplete>

          <!--          <button class="btn btn&#45;&#45;light-blue" type="button">-->
          <!--            <fa-icon icon="plus" class="mr-2"></fa-icon>-->
          <!--            Create new-->
          <!--          </button>-->
        </div>
      </div>
    </div>


    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Description</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityDescription" rows="10"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Technical requirements</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityTechReq" rows="6"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Formal requirements</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityFormReq" rows="6"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Other requirements</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityOtherReq" rows="6"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Benefits</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityBenefit" rows="4"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Wage</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityWage" rows="1"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">External link</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityExtLink" rows="1"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Place of work</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityLocation" rows="1"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Home office</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="opportunityHomeOffice" rows="1"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Signup date</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <div class="input input--gray input--gray-wrapper">
          <input #d1="ngbDatepicker" (click)="d1.toggle()"
                 aria-label="Start date" formControlName="opportunitySignupDate" ngbDatepicker>
          <button (click)="d1.toggle()" class="btn btn-primary">
            <fa-icon icon="calendar"></fa-icon>
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Start date</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <div class="input input--gray input--gray-wrapper">
          <input #d2="ngbDatepicker" (click)="d2.toggle()"
                 aria-label="Start date" formControlName="opportunityJobStartDate" ngbDatepicker>
          <button (click)="d2.toggle()" class="btn btn-primary">
            <fa-icon icon="calendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="modal__section-footer">
      <ng-container *ngIf="(saving$ | async) == false">
        <button (click)="dismiss()" class="btn btn--gray mr-2" type="button">
          Cancel
        </button>
        <button (click)="saveChanges()" class="btn btn--blue" type="button">
          Save
        </button>
      </ng-container>
      <button *ngIf="saving$ | async" class="btn" disabled>
        <app-loader></app-loader>
        Saving
      </button>
    </div>

  </div>
</div>
