<section class="hero">
  <div class="row">
    <div class="col-sm left-preview">
      <picture class="left-preview__experts-text">
        <img [src]="'homepage-images/experts-text-white.png' | assets"  alt="experts-text">
      </picture>
      <div>
        <h2 class="left-preview__heading">Smart search engine <br /> of university expertise <br /> on the website</h2>
        <a class="btn btn-lg left-preview__button first-button" href="https://www.find.experts.ai">Demo</a>
        <button class="btn btn-lg left-preview__button second-button" (click)="openContactModal()">Contact us</button>
      </div>
    </div>
  </div>
  <img class="hero__shape" [src]="'homepage-images/hero-shape.svg' | assets" alt="Shape">
</section>
<app-login-sidebar class="login-page"></app-login-sidebar>
