<app-preview
  *ngIf="showPreview && (hasGdpr$ | async)"
  (keyword$)="updateQuery($event)"
  [organizationId]="organizationId"
></app-preview>
<special-abilities-bar class="special-abilities-bar" [showSubscribe]="true"></special-abilities-bar>
<section class="container-fluid mb-1 p-0">
  <section *ngIf="showList && (hasGdpr$ | async)">
    <section class="bg-white p-2 border-bottom section__widget">
      <section class="d-flex align-items-center">
        <div class="container-fluid ml-0 px-0 px-sm-3">
          <div class="row mx-0 mt-2 mb-2">
            <div class="d-md-none row mb-2 mb-md-0 mx-0">
              <div class="d-flex">
                <a href="https://www.find.experts.ai/" target="_blank">
                  <img class="section__widget-logo" [src]="'icons/logo.png' | assets" alt="experts.ai">
                </a>
              </div>
            </div>
            <div class="col-3 col-sm-3 col-md-1 col-lg-1 pl-0">
              <div class="filter">
                <div class="d-flex mt-2">
                  <b>Search</b>
                  <fa-icon
                    icon="info-circle"
                    matTooltip="Start typing to filter out items containing given characters or keyword. You can also use advanced search such as 'complex' AND 'query'"
                    class="ml-2"
                  ></fa-icon>
                </div>
              </div>
            </div>
              <div class="col-9 col-sm-9 col-md-3 col-lg-3 mx-md-2 pr-0">
                <div class="filter">
                  <form (ngSubmit)="onSubmit()">
                    <div class="input-group" [formGroup]="filterFormGroup">
                      <input class="input input--gray" formControlName="query"/>
                      <button type="submit" class="text-muted">
                        <fa-icon icon="search"></fa-icon>
                      </button>
                    </div>
                  </form>
                </div>
              </div>

            <div class="ml-auto d-none d-md-flex">
              <a href="https://www.find.experts.ai/" target="_blank">
                <img class="section__widget-logo" [src]="'icons/logo.png' | assets" alt="experts.ai">
              </a>
            </div>
          </div>
          <div *ngIf="['EXPERT', 'RESEARCH_OUTCOME','RESEARCH_PROJECT', 'OPPORTUNITY'].includes(currentOutcomeListMode)" class="d-flex flex-lg-wrap overflow-scroll mb-4 pt-2">
            <button class="btn btn--filter mb-2" *ngFor="let keyword of organizationKeywords$ | async"
                    container="body"
                    (click)="updateQuery(keyword.keyword)"
                    [ngbTooltip]="keyword.keyword + ': ' + (keyword.occurrence | shortNumber) + ' occurrences'">
              {{keyword.keyword}}
            </button>
          </div>
        </div>
      </section>
    </section>
    <div class="projects">
      <ul
        class="bg-white d-flex justify-content-xl-center overflow-scroll"
        *ngIf="showModeSelection"
      >
        <ng-container *ngFor="let mode of listModeDetails">
          <li
            class="navbar__item text-center mx-3 my-3 cursor-pointer"
            *ngIf="availableModes[mode.outcomeListMode]"
            (click)="setListModeType(mode.outcomeListMode)"
            [class.active]="currentOutcomeListMode == mode.outcomeListMode"
          >
            <fa-icon class="d-block text-x-lg" [icon]="mode.icon"></fa-icon>
            {{ mode.title }}
          </li>
        </ng-container
        >
      </ul>
      <div class="projects__body pb-2" *ngIf="currentOutcomeListMode">
        <app-commercialization
          *ngIf="currentOutcomeListMode == 'COMMERCIALIZATION_PROJECT'"
          [organizationId]="organizationId"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
          [kwUpdate]="kwSearchChange"
        ></app-commercialization>

        <app-widget-outcomes
          *ngIf="currentOutcomeListMode == 'RESEARCH_OUTCOME'"
          [organizationId]="organizationId"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
          [kwUpdate]="kwSearchChange"
        ></app-widget-outcomes>

        <app-projects
          *ngIf="currentOutcomeListMode == 'RESEARCH_PROJECT'"
          [organizationId]="organizationId"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
          [kwUpdate]="kwSearchChange"
        ></app-projects>

        <app-widget-experts
          *ngIf="currentOutcomeListMode == 'EXPERT'"
          [organizationId]="organizationId"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
          [kwUpdate]="kwSearchChange"
        ></app-widget-experts>
        <app-widget-lectures
          *ngIf="currentOutcomeListMode == 'LECTURE'"
          [organizationId]="organizationId"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
          [kwUpdate]="kwSearchChange"
        ></app-widget-lectures>
        <app-widget-equipment
          *ngIf="currentOutcomeListMode == 'EQUIPMENT'"
          [organizationId]="organizationId"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
          [kwUpdate]="kwSearchChange"
        ></app-widget-equipment>
        <app-widget-opportunity
          *ngIf="currentOutcomeListMode == 'OPPORTUNITY'"
          [organizationId]="organizationId"
          [kwUpdate]="kwSearchChange"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']"
        ></app-widget-opportunity>
        <app-widget-organization
          *ngIf="currentOutcomeListMode == 'ORGANIZATION_CHILDREN'"
          [organizationId]="organizationId"
          [kwUpdate]="kwSearchChange"
          [parentFormGroupQueryControl]="this.filterFormGroup.controls['query']">
        </app-widget-organization>

      </div>
    </div>
  </section>
</section>
