<section class="w-100">
  <section class="bg-white p-2 border-bottom">
    <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <!--<div class="filter">
              <label>Search outcomes</label>
              <div class="input-group">
                <input class="input input&#45;&#45;gray" aria-label="Search" formControlName="query">
                <button type="submit" class="text-muted">
                  <fa-icon icon="search"></fa-icon>
                </button>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-infinite-scroll [loading$]="loading$"
                       [loadDataFunction]="loadData"
                       [resetDataFunction]="resetData"
                       [mergeWrappersFunction]="mergeWrappers"
                       [filterFormGroup]="filterFormGroup"
                       widgetType="LECTURE"
  >
    <ng-container *ngIf="lectureWrapper as wrapper">
      <ng-container *ngIf="(loading$ | async) == false">
        <section class="container-fluid px-4 pt-2">
          <ng-container *ngFor="let lecture of wrapper.lecturePreviewDtos">
            <app-lecture-card [lecturePreview]="lecture"
                              [organizationId]="organizationId"
                              linkType="widget">
            </app-lecture-card>
          </ng-container>
        </section>
      </ng-container>
    </ng-container>
  </app-infinite-scroll>
</section>
