<app-header></app-header>

<main class="d-flex">
  <aside app-navigation *ngIf="((userOrganizations$ | async) || []) as userOrganizations" class="aside"
         (navigationToggle)="navigationOpen$.next($event)"
         [class.open]="userOrganizations.length > 0 && (navigationOpen$ | async)"
         [userOrganizations]="userOrganizations">
  </aside>
  <section class="w-100 main-content">
    <router-outlet></router-outlet>
  </section>
</main>

<app-login-sidebar></app-login-sidebar>
