.btn {
  fa-icon {
    font-size: 20px;
    line-height: 1;
  }

  &[disabled] {
    background: $gray-300;
    border: none;
    cursor: not-allowed;
    color: $gray-500;

    app-loader {
      display: flex;
      margin-right: 8px;
      font-size: 150%;

      circle {
        stroke-width: 5px;
        stroke: $gray-800;
      }
    }
  }
}

.btn-plain {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;

  &.btn-plain-gray {
    color: $gray-500;

    &:hover {
      color: $gray-700;
    }
  }

  &.btn-plain-blue {
    color: $blue;

    &:hover {
      color: darken($blue, 10%);
    }
  }

  &.btn-plain-danger {
    color: $danger;

    &:hover {
      color: darken($danger, 10%);
    }
  }

  &.btn-plain-success {
    color: $success;

    &:hover {
      color: darken($success, 10%);
    }
  }
}
