.checkbox-style {
  border: 1px solid $gray-400;
  border-radius: 3px;
  color: $success;
  width: 1em;
  height: 1em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  > * {
    font-size: 80%;
  }
}

.mat-slide-toggle-content {
  font-weight: 500;
}
