.expand-btn {
  background-color: #eff2f5;
  color: #5e6771;
  appearance: none;
  border: none;
  outline: none;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 22px;
  height: 22px;
  padding: 0;
  text-align: center;
  border-radius: 3px;
}
