.input-table {
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px $gray-100; /* this draws the table border  */
  border-radius: $border-radius-lg;
  overflow: hidden;
  border-collapse: collapse;

  thead {
    tr {
      th {
        padding: 0.3rem 0.5rem;
        background: $gray-100;
        font-weight: normal;
      }
    }
  }

  tbody {
    tr {
      td {
        border-width: 1px 0;
        border-style: solid;
        border-color: $gray-100;
        overflow: hidden;
        width: 0;
        height: 0;

        &.plain-cell {
          padding: 0 0.5rem;
        }

        &.input-cell {
          padding: 5px 4px;

          input {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            display: flex;
            background: $gray-100;
          }
        }
      }
    }
  }
}
