.btn--input {
  padding: 0;
  display: block;
  overflow: hidden;
  height: auto;
  max-height: none;

  input {
    height: 38px;
    background: none;
    font-size: $font-size-sm;


    &::placeholder {
      color: $gray-500;
    }
  }
}

input, .mat-select, select, textarea {
  &.ng-invalid.ng-touched {
    border: 3px solid red;
  }
}

.input.input--gray {
  &.mat-select {
    padding-right: 1rem;
    line-height: 40px;
  }

  .btn.btn--light.btn--dropdown {
    padding: 0;
    border: 0;
    background: none;

    .mat-select-trigger {
      padding: 0;
    }
  }

  &.input--gray-wrapper {
    padding: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    input {
      @extend .input;
      flex-grow: 1;
      background: none;
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
