.preview-list {
  display: block;
  border: 1px solid $gray-300;
  border-radius: 5px;

  .preview-list-item {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin: 5px;

    &:hover {
      background: $gray-100;
    }

    &.preview-list-item-success {
      background-color: fade_out($success, 0.9);

      &:hover {
        background-color: fade_out($success, 0.85);
      }
    }
  }
}
