/**
 * Section
 */
.section {
  &__widget {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &__widget-logo {
    max-height: 22px;
    margin-top: 9px;
    width: auto;
    opacity: 0.66;

    @include media-breakpoint-up('md') {
      max-height: 24px;
      margin-top: 8px;
    }
  }
}
