.simple-bar-chart {
  display: flex;
  flex-direction: column;

  &__bars {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 2em;

    .bar {
      display: flex;
      margin: 0 1px;
      width: 30px;
      height: 0;
      min-height: 2px;
      background: $gray-600;
      transition: background-color 0.3s;
      animation: raiseBar 0.5s;

      @keyframes raiseBar {
        0% {
          height: 0;
        }
      }

      &:hover {
        background: $gray-500;
      }
    }
  }

  &__labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 75%;
    color: $gray-600;
    line-height: 1;
    margin-top: 3px;
  }

}
