.text-success-light {
  color: #00C96A !important;
}

.text-lg {
  font-size: 120% !important;
}

.text-x-lg {
  font-size: 150% !important;
}

.text-sm {
  font-size: 80% !important;
}

.text-base {
  font-size: 100% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-disabled {
  cursor: not-allowed !important;
}

.no-result-note {
  text-align: center;
  font-size: 120%;
  font-weight: 300;
  color: $gray-500;
  padding: 1.6em 0;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.comma-separated {
  > * {
    &:not(:last-child):after {
      content: ', ';
      display: inline;
    }
  }
}

.link-dark {
  color: $gray-800;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $gray-700;
    text-decoration: underline;
  }
}

.text-break {
  white-space: break-spaces !important;
}

.min-w-100 {
  min-width: 100% !important;
}

.bg-success-light {
  background-color: lighten($success, 50%) !important;
}

.hover-bg-lightgray {
  &:hover {
    background-color: $gray-100 !important;
  }
}

.min-h-none {
  min-height: 0 !important;
}

.text-crossed-out {
  text-decoration: line-through;
}
