<ng-template #content let-contactModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Organization</h4>
    <button type="button" class="close" aria-label="Close" (click)="contactModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="contactForm">
      <div class="form-group">
        <label for="textMessage">Content</label>
        <div class="input-group">
          <textarea id="textMessage" class="form-control" formControlName="message" placeholder="Type your message">
          </textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="contactModal.close('Save click')"
            [disabled]="!contactForm.valid">
      <fa-icon icon="paper-plane" class="mr-2"></fa-icon>
      Send
    </button>
  </div>
</ng-template>

<ng-container *ngIf="organizationDetail$ | async as organizationDetail">
  <section class="container mt-5 mb-4" [hidden]="loading$ | async">
    <div class="expert-detail">
      <div class="expert-detail__header">
        <img
          [src]="(organizationDetail.organizationId | organizationImg: 'XL':'COVER') + ((reloadImgUrl$ | async) || '')"
          appOptionalImg [altSrc]="'images/expert-bg.jpg' | assets" alt="Graphic">
        <button class="expert-detail__edit btn btn--light-blue mr-2" *ngIf="editable$ | async"
                (click)="changeCoverImg(organizationDetail)">
          <fa-icon icon="camera" class="mr-2"></fa-icon>
          Edit cover
        </button>
      </div>
      <div class="expert-detail__body">
        <span class="avatar avatar__lg left">
          <img [src]="(organizationDetail.organizationId | organizationImg: 'M') + ((reloadImgUrl$ | async) || '')"
               appOptionalImg
               [altTemplate]="organizationIcon"
               [alt]="organizationDetail.organizationName + ' logo'">
          <ng-template #organizationIcon>
            <fa-icon icon="university"></fa-icon>
          </ng-template>
        </span>
        <div style="min-height: 40px"
             class="d-flex justify-content-start justify-content-sm-center justify-content-lg-end mt-9 mt-lg-0 mb-3 mb-lg-3 py-1 overflow-scroll">
          <button class="btn btn--light-blue" *ngIf="editable$ | async" (click)="openEditModal(organizationDetail)">
            <fa-icon icon="pencil-alt"></fa-icon>
            Edit
          </button>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-lg-8 d-flex flex-column">
            <div class="d-flex mb-3">
              <h3 class="mr-3">{{organizationDetail.organizationName}}</h3>
            </div>
            <p class="mb-3">
              {{organizationDetail.organizationDescription}}
            </p>
            <div class="d-flex flex-lg-wrap overflow-scroll mb-4 pt-2">
              <button class="btn btn--filter mb-2" *ngFor="let keyword of organizationKeywords$ | async"
                      container="body"
                      [ngbTooltip]="keyword.keyword + ': ' + (keyword.occurrence | shortNumber) + ' occurrences'">
                {{keyword.keyword}}
              </button>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="d-flex align-items-center mb-2" *ngIf="organizationDetail.web">
              <fa-icon class="text-x-lg mr-2" icon="globe"></fa-icon>
              <a [href]="organizationDetail.web | webAddress" target="_blank">{{organizationDetail.web}}</a>
            </div>
            <div class="d-flex align-items-center mb-2" *ngIf="organizationDetail.phone">
              <fa-icon class="text-x-lg mr-2" icon="phone"></fa-icon>
              <a href="tel:{{organizationDetail.phone}}">{{organizationDetail.phone}}</a>
            </div>
            <div class="d-flex align-items-center mb-2"
                 *ngIf="organizationDetail.street || organizationDetail.city || organizationDetail.countryName">
              <fa-icon class="text-x-lg mr-2" icon="home"></fa-icon>
              <span>{{organizationDetail.street}}
                <ng-container
                  *ngIf="organizationDetail.street && (organizationDetail.city || organizationDetail.countryName)">, </ng-container>
                {{organizationDetail.city}}
                <ng-container *ngIf="organizationDetail.city && organizationDetail.countryName">, </ng-container>
                {{organizationDetail.countryName}}</span>
            </div>
            <div>
              <button class="btn btn-lg btn-success" (click)="openContactModal(content)">
                <fa-icon icon="envelope" class="mr-2"></fa-icon>
                Contact
              </button>
            </div>
            <h4 class="mt-4 mb-3">Organization structure</h4>
            <div>
              <app-organization-structure [structure]="organizationStructure$ | async"
                                          [currentOrganizationId]="organizationDetail.organizationId">
              </app-organization-structure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mb-1" *ngIf="statistics$ | async as statistics">
    <div class="projects">
      <ul class="projects__nav">
        <li class="navbar__item text-center mx-3 cursor-pointer"
            *ngFor="let mode of listModeDetails"
            (click)="listMode$.next(mode.outcomeListMode)"
            [class.cursor-disabled]="(statistics | getProperty: mode.countProperty) == 0"
            [class.active]="(listMode$ | async) == mode.outcomeListMode">
          <fa-icon class="d-block text-x-lg" [icon]="mode.icon"></fa-icon>
          {{mode.title}} ({{statistics | getProperty:mode.countProperty}})
        </li>
      </ul>
      <div class="projects__body p-4">
        <app-organization-detail-experts [organizationId]="organizationDetail.organizationId"
                                         *ngIf="(listMode$ | async) == listModes.EXPERT"></app-organization-detail-experts>
        <app-organization-detail-outcomes [organizationId]="organizationDetail.organizationId"
                                          *ngIf="(listMode$ | async) == listModes.RESEARCH_OUTCOME"></app-organization-detail-outcomes>
        <app-organization-detail-projects [organizationId]="organizationDetail.organizationId"
                                          *ngIf="(listMode$ | async) == listModes.RESEARCH_PROJECT"></app-organization-detail-projects>
      </div>
    </div>
  </section>
</ng-container>
<app-page-loader *ngIf="(loading$ | async) || (statisticsLoading$ | async)"></app-page-loader>
