body {
  //background-color: white;
  max-height: 100vh;
  overflow: hidden;
  background-color: blue;
}

.hero {
  position: relative;
  padding-top: 4rem;
  z-index: 5;

  @include media-breakpoint-up('lg') {
    padding-top: 8rem;
    height: 100%;
  }

  .row {
    max-width: 100vw;

    @include media-breakpoint-down('md') {
      overflow: no-display;
      padding-left: 7%;
    }
  }

  &__shape {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;

    @include media-breakpoint-up('lg') {
      object-position: 30% 100%;
    }

    @include media-breakpoint-up('xl') {
      object-position: 60% 100%;
    }
  }
}
