

.left-preview {
  padding: 6rem 3% 0;
  text-align: center;

  @include media-breakpoint-down('md') {
    padding-left:0;
    padding-right:0;
    margin: 0;
    max-width: 100vw;
  }

  @include media-breakpoint-down('lg') {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  @include media-breakpoint-up('lg') {
    padding-top: 6rem;
  }

  @include media-breakpoint-up('lg') {
    max-width: 35vw;
    padding-left: 2%;
    padding-right: 2%;
  }


  &__heading {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: $font-weight-base;
  }

  &__experts-text>img {
    max-width: 70%;
    @include media-breakpoint-down('md') {
      max-width: 50%;
    }
    @include media-breakpoint-down('lg') {
      max-width: 60%;
    }
  }


  &__button {
    height: 3rem;
    width: 40%;
    margin: 2rem 20% 0;
    border: $white 2px solid;
    font-weight: $font-weight-bold;
    color: $white;

    &.first-button {
      background-color: $primary;

      &:hover {
        background-color: lighten($primary, 9%);
        color: darken($white, 9%);
      }
    }

    &.second-button {
      background-color: $azure;

      &:hover {
        background-color: lighten($azure, 16%);
        color: darken($white, 9%);
      }
    }

  }

}
