<app-user-settings-header></app-user-settings-header>

<form class="bg-white px-4 py-4" [formGroup]="formGroup" (submit)="submit()">
  <input name="username" type="hidden" [value]="email$ | async">
  <div class="row mb-3">
    <div class="col-12 col-md-4">
      <h4 class="mb-3">Change password</h4>
      <label class="mb-1">Current password</label>
      <input class="input input--gray font-size-xs" type="password" formControlName="currentPassword"
             aria-label="Current password">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mb-3 mt-3">
    <div class="col-12 col-md-4">
      <label class="mb-1">New password</label>
      <input class="input input--gray font-size-xs" type="password" formControlName="newPassword"
             aria-label="New password">
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-md-4">
      <label class="mb-1">Confirm new password</label>
      <input class="input input--gray font-size-xs" type="password" formControlName="confirmPassword"
             aria-label="Confirm new password">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <button class="btn" *ngIf="saving$ | async" disabled>
        <app-loader></app-loader>
        Saving
      </button>
      <button class="btn btn--blue" *ngIf="(saving$ | async) == false">Change password</button>
    </div>
  </div>
</form>
