<ng-template #expertIcon>
  <fa-icon icon="user"></fa-icon>
</ng-template>
<a class="d-flex align-items-center mb-1" *ngFor="let expert of experts"
   (click)="checkOrganizationLicenseForExpert(expert.expertCode, expert.organizationIds)">
  <figure class="avatar avatar__xs mr-2">
    <img [src]="expert.userId | userImg" [alt]="expert.name" appOptionalImg [altTemplate]="expertIcon">
  </figure>
  <span class="font-size-xs">{{expert.name}}</span>
</a>
<span class="d-flex align-items-center mb-1" *ngFor="let notRegisteredExpert of notRegisteredExperts" title="Expert is not registered in the platform">
  <figure class="avatar avatar__xs mr-2">
    <img appOptionalImg [altTemplate]="expertIcon">
  </figure>
  <span class="font-size-xs">{{notRegisteredExpert.expertName}}</span>
</span>
