<app-explore-header type="organizations" (query)="query$.next($event)"></app-explore-header>
<section class="filters d-flex align-items-center mb-3" [formGroup]="filterFormGroup">
  <div class="container">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Territory</label>
          <app-multi-select
            [options]="countries$ | async"
            formControlName="countryCodes"></app-multi-select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Search Type</label>
          <div class="btn btn--light btn--dropdown">
            <mat-select formControlName="expertSearchType">
              <mat-option value="">Expertise or Name</mat-option>
              <mat-option value="EXPERTISE">Expertise</mat-option>
              <mat-option value="NAME">Name</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-page-loader *ngIf="loading$"></app-page-loader>
<ng-container *ngIf="organizationWrapper$ | async as organizationWrapper">
  <section class="container" [hidden]="loading$">
    <app-organization-card [organization]=organization (loading)="startLoading($event)" [index]="i"
                           [organizationsLength]="organizationWrapper.organizationBaseDtos.length"
                           *ngFor="let organization of organizationWrapper.organizationBaseDtos; let i = index;"></app-organization-card>
  </section>
</ng-container>

<app-pagination [pageInfo]="pageInfo$ | async"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(organizationWrapper$ | async)?.numberOfAllItems"></app-pagination>
