<section class="bg-white border-bottom">
  <div class="pt-5 pb-0 px-4">
    <div>
      <h3 class="mb-3">My followings</h3>
    </div>
    <nav class="mt-2">
      <ul class="d-flex overflow-scroll">
        <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.EXPERTS"
            [replaceUrl]="true"
            [routerLink]="[]" [queryParams]="{mode: modes.EXPERTS}">
          Experts
        </li>
        <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.SEARCHES"
            [replaceUrl]="true"
            [routerLink]="[]" [queryParams]="{mode: modes.SEARCHES}">
          Searches
        </li>
      </ul>
    </nav>
  </div>
</section>
<app-saved-searches *ngIf="(mode$ | async) == modes.SEARCHES"></app-saved-searches>
<app-saved-experts *ngIf="(mode$ | async) == modes.EXPERTS"></app-saved-experts>
