<div class="row mb-4">
  <div class="col-12 col-lg-2 d-flex justify-content-lg-end">
    <label class="font-weight-bold mt-2 mb-2 mb-lg-0">{{ label }}</label>
  </div>
  <div class="col-12 col-lg-7 d-flex flex-column">
    <div class="d-flex align-items-center mb-2" *ngFor="let o of organizations$ | async">
      <div class="w-100 mr-3">
        <button class="btn btn--gray font-weight-normal font-size-sm text-black w-100 justify-content-start"
                type="button">
          {{o.organizationName}}
        </button>
      </div>
      <button class="btn-plain btn-plain-gray dropdown__delete" (click)="removeOrganization(o)">
        <fa-icon icon="trash"></fa-icon>
      </button>
    </div>

    <div class="d-flex align-items-center mt-2">

      <input class="input input--gray mr-3" [matAutocomplete]="auto" [formControl]="searchOrganizationFc"
             placeholder="Search existing organizations">

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addOrganization($event)">
        <mat-option *ngFor="let option of organizationOptions$ | async" [value]="option"
                    container="body"
                    [ngbTooltip]="option.organizationName">
          {{option.organizationAbbrev || option.organizationName}}
          <div class="sub-description" *ngIf="option.organizationAbbrev">
            {{option.organizationName}}
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</div>
