<p>
    You've applied for resetting password for <strong>EXPERTS.AI Platform account</strong>.
</p>
<p>
    You can set a new password by clicking the link bellow:
    <br/>
    <a href="{{url}}" class="setPasswordUrl">{{url}}</a>
</p>
<p>
    The link will be active for the next 7 days. If you didn't apply for resetting your password, please ignore this
    email.
</p>
