<p>
    User <a href="{{urlUserFrom}}">{{userFrom}}</a> created a new contact request.
</p>
<div><strong>User/Expert:</strong> <a href="{{urlUserTo}}">{{userTo}}</a></div>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>