<p>
    Someone request information through your experts.ai widget to organization: {{organizationTo}}
</p>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>
