<p>
    Someone created a contact request through your experts.ai widget
</p>
<div><strong>User/Expert:</strong> <a href="{{urlUserTo}}">{{userTo}}</a></div>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>