<p>
    Someone created a {{outcomeOrRequest}} request of: "{{outcomeProjectName}}" through your experts.ai widget
</p>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>
