<p>
    Someone ordered a lecture through your experts.ai widget
</p>
<div><strong>Lecture:</strong> <a href="{{urlLectureAbout}}">{{lectureAbout}}</a></div>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>
