<p>
    {{userFromName}} created a project request through experts.ai platform to organization: {{organizationTo}}
    with project: {{projectName}}
</p>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>
