<p>
    {{userFromName}} created a contact request through your experts.ai platform to your organization: {{organizationTo}}
</p>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with requesting user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>
