<p>
    User <a href="{{userUrl}}">{{userFullName}}</a> requested permissions with following message:
</p>
<p>
    {{userMessage}}
</p>
<p>
    Organization: <a href="{{organizationUrl}}">{{organizationName}}</a>
</p>
