<p>
    You've just registered to <strong>EXPERTS.AI Platform</strong>.
</p>
<p>
    Please set your password for EXPERTS.AI account by clicking the link bellow:
    <br/>
    <a href="{{url}}" class="setPasswordUrl">{{url}}</a>
</p>
<p>
    The link will be active for the next 7 days.
</p>