<p>
    Someone sent a request for commercialization project <a href="{{url}}">{{commercializationName}}</a> via public web
    form.
</p>
<div><strong>Email:</strong> <a href="mailto:{{email}}">{{email}}</a></div>
<div><strong>First name:</strong> {{firstName}}</div>
<div><strong>Last name:</strong> {{lastName}}</div>
<div><strong>Organization:</strong> {{organizationName}}</div>
<div><strong>Request:</strong> {{content}}</div>
