<p>
    User {{userFrom}} registered on EXPERTS.AI Platform.
</p>
<div><strong>Message:</strong> {{message}}</div>
<p>
    For communication with registered user use email:
    <a href="mailto:{{emailUserFrom}}">
        {{emailUserFrom}}
    </a>
</p>
