<p>
    You've been invited to <strong>EXPERTS.AI Platform</strong>.
</p>
<p>
    You can set a password to your EXPERTS.AI account by clicking the link bellow:
    <br/>
    <a href="{{url}}" class="setPasswordUrl">{{url}}</a>
</p>
<p>
    The link will be active for the next 7 days.
</p>