.mat-menu-panel {
  .mat-menu-content {
    .mat-menu-item {
      @mixin mat-menu-item-variant($background, $hover-background: darken($background, 7.5%)) {
        background: $background;
        color: color-yiq($background);
        transition: $transition-base;

        &:hover {
          background: $hover-background;
        }
      }

      &.mat-menu-item-danger {
        @include mat-menu-item-variant($red)
      }

      &.mat-menu-item-success {
        @include mat-menu-item-variant($primary)
      }
    }
  }
}
