.mat-snack-bar-container {
  &.snackbar-success {
    background: $green;
    color: #fff;

    .mat-simple-snackbar-action {
      color: #fff;
    }
  }

  &.snackbar-error {
    background: $red;
    color: #fff;

    .mat-simple-snackbar-action {
      color: #fff;
    }
  }

  &.snackbar-warn {
    background: $orange;
    color: #fff;

    .mat-simple-snackbar-action {
      color: #fff;
    }
  }
}
