.tags-input {
  .mat-chip-list-wrapper {
    margin: 0;
    display: flex;

    .mat-standard-chip {
      font-size: 85%;
      padding: 5px 10px 5px 10px;
      height: auto;
      min-height: 1em;
      max-width: 98%;
      display: flex;

      .chip-content {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .mat-chip-remove {
        font-size: 120%;
        width: auto;
        height: auto;
      }
    }

    > * {
      max-height: 38px;
    }

    input.mat-input-element {
      line-height: 38px;
      background: transparent;
      margin: 0 5px;
    }
  }

  input.mat-chip-input {
    width: 100px;
    flex: 1 1 100px;
  }

  &.input {
    height: auto;
    max-height: none;
    min-height: 40px;

    .mat-chip-list-wrapper {
      .mat-standard-chip {
        margin: 3px;
      }

      input {
        line-height: 40px;
        height: 40px;
        background: none;
      }
    }
  }
}
