.btn--dropdown {
  padding: 0;
  display: block;

  .mat-select {
    display: block;
    line-height: 40px;
    font-family: inherit;

    .mat-select-trigger {
      padding: 0 1rem;
      font-weight: normal;
    }

    .mat-select-value {
      text-align: left;
      font-size: inherit;
      color: black;
    }
  }
}
