.mat-option {
  font-size: 12px;
  min-height: 35px !important;
  height: auto !important;
  line-height: 1.5 !important;
  padding: 10px 15px;

  .sub-description {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $gray-500;
  }
}

.mat-autocomplete-panel {
  max-height: 50vh !important;
}
