<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="outcomeDetail$ | async as outcomeDetail">
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-3">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h3 class="mb-2">{{outcomeDetail.itemName}}</h3>
          <div class="tags d-flex flex-wrap">
            <button class="tag cobalt mr-1 mb-1" *ngFor="let keyword of outcomeDetail.keywords">{{keyword}}</button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <app-login-verification>
            <button type="button" class="btn btn--blue" (click)="openEditOutcomeModal(outcomeDetail)">
              <fa-icon icon="pencil-alt" class="mr-2"></fa-icon>
              Edit
            </button>
          </app-login-verification>
        </div>
      </div>
    </div>
  </section>

  <section class="container bg-white h-100 pt-4 pl-4">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Main info</h4>
        </div>
        <div class="overview">
          <fa-icon icon="tag" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{outcomeDetail.itemTypeId | outcomeTypeToGroup | async}}
            ({{outcomeDetail.itemTypeId | outcomeType | async}})
          </span>
        </div>
        <div class="overview" *ngIf="outcomeDetail?.itemLink">
          <fa-icon icon="link" class="mr-2"></fa-icon>
          <span class="font-size-xs">
             <a [href]="outcomeDetail.itemLink" target="_blank">Item link</a>
          </span>
        </div>

        <div class="overview" *ngIf="outcomeDetail?.doi">
          <fa-icon icon="link" class="mr-2"></fa-icon>
          <span class="font-size-xs">
             <a [href]="outcomeDetail.doi" target="_blank">Item Doi</a>
          </span>
        </div>

        <div class="overview mb-4">
          <fa-icon icon="file-alt" class="mr-2"></fa-icon>
          <p class="font-size-xs text-justify text-break">
            {{outcomeDetail.itemDescription}}
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Confidentiality</h4>
          </div>
          <div>
            <button class=" ml-1 tag {{outcomeDetail.confidentiality | confidentialityColor}}">
              {{outcomeDetail.confidentiality | confidentialityTitle}}
            </button>
          </div>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Project organizations</h4>
          </div>
          <a
            class="d-flex align-items-center mb-2" *ngFor="let organization of outcomeDetail.itemOrganizations">
            <app-organization-preview [organization]="organization" linkType="standard"></app-organization-preview>
          </a>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Experts</h4>
          </div>
          <app-expert-links [experts]="outcomeDetail.itemExperts" [notRegisteredExperts]="outcomeDetail.itemNotRegisteredExperts"></app-expert-links>
        </div>
      </div>
    </div>
  </section>
</section>
