<article class="card d-flex flex-column">
  <h4 class="card__title mb-4">
    Outcomes Performance
  </h4>

    <google-chart [type]="chartType"
                  [columns]="columns"
                  [data]="data"
                  [dynamicResize]="true"
                  [options]="options"
                  style="width: 100%; height: 100%; min-height: 300px">
    </google-chart>

</article>
