<article class="card">
  <h4 class="card__title mb-4">Top Searched Experts</h4>
  <div class="data-table">
    <div class="data-table__wrapper">
      <div class="data-table__header row">
        <div class="col-5">Expert</div>
        <div class="col-3 text-right">Shown</div>
        <div class="col-4 text-right">Best / Average position</div>
      </div>
      <div class="data-table__row row" *ngFor="let row of (statisticsWrapper$ | async)?.mostShownProfiles">
        <div class="col-5">{{row.fullName}}</div>
        <div class="col-3 text-right">{{row.shownCount}}</div>
        <div class="col-4 text-right">{{row.bestPosition}} / {{row.avgPosition | round: 1 | number: '.1'}}</div>
      </div>
    </div>
  </div>
  <app-pagination [pageInfo]="pageInfo$ | async"
                  [disableUrl]="true"
                  [numberOfResults]="(statisticsWrapper$ | async)?.numberOfProfilesShown"
                  (pageChanged)="pageInfo$.next($event)">
  </app-pagination>
</article>
