<section class="w-100">
  <section class="bg-white">
    <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
      <h3>Projects</h3>
      <button class="btn btn--primary" *ngIf="organizationId$ | async as organizationId"
              (click)="addProject(organizationId)">
        <fa-icon icon="plus" class="mr-2"></fa-icon>
        Create new
      </button>
    </div>
    <section class="filters d-flex align-items-center border-0" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row mx-2">
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Search projects</label>
              <div class="input-group">
                <input class="input input--gray" aria-label="Search" formControlName="query">
                <button type="submit">
                  <svg width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6976 2.9024c2.7248 2.7249 2.959 6.9972.7024 9.988l3.012 3.0117c.7856.7856-.3929 1.9642-1.1786 1.1785l-2.9756-2.976c-2.999 2.5672-7.5169 2.4315-10.3554-.407-2.981-2.981-2.981-7.8142 0-10.7952s7.8142-2.981 10.7952 0zM4.0809 4.081c-2.3301 2.3302-2.3301 6.108 0 8.4382 2.3302 2.3301 6.108 2.3301 8.4382 0 2.3301-2.3302 2.3301-6.108 0-8.4382-2.3302-2.3301-6.108-2.3301-8.4382 0z" fill-rule="nonzero" fill="#5E6771"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Year from</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="yearFrom">
                  <mat-option [value]=null></mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Year to</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="yearTo">
                  <mat-option [value]=null></mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <!--
                    Temporary hide unimplemented filters
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                      <div class="filter">
                        <label>Project types</label>
                        <div class="dropdown">
                          <button class="btn btn&#45;&#45;light">
                            <span>All</span>
                            <svg width="12px" height="7px" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 4.4536L9.9352.5185a.9167.9167 0 111.2963 1.2963L6.6482 6.3982a.9167.9167 0 01-1.2964 0L.7685 1.8148A.9167.9167 0 012.0648.5185L6 4.4536z"
                                fill="currentColor" fill-rule="nonzero"></path>
                            </svg>
                          </button>
                          <ul class="dropdown__body">
                            <li>Filter Item 1</li>
                            <li>Filter Item 2</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                      <div class="filter">
                        <label>Project status</label>
                        <div class="dropdown">
                          <button class="btn btn--light">
                            <span>All</span>
                            <svg width="12px" height="7px" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 4.4536L9.9352.5185a.9167.9167 0 111.2963 1.2963L6.6482 6.3982a.9167.9167 0 01-1.2964 0L.7685 1.8148A.9167.9167 0 012.0648.5185L6 4.4536z"
                                fill="currentColor" fill-rule="nonzero"></path>
                            </svg>
                          </button>
                          <ul class="dropdown__body">
                            <li>Filter Item 1</li>
                            <li>Filter Item 2</li>
                          </ul>
                        </div>
                      </div>
                    </div> -->
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Participating organizations</label>
              <div>
                <app-tags-input formControlName="participatingOrganizationIds"
                                [loadTagsFunction]="loadOrganizations"
                                [searchFunction]="autocompleteOrganizations"></app-tags-input>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Participating experts</label>
              <app-tags-input formControlName="expertCodes"
                              [loadTagsFunction]="loadExperts"
                              [searchFunction]="autocompleteExperts"></app-tags-input>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-page-loader *ngIf="loading$ | async"></app-page-loader>
  <ng-container *ngIf="projectWrapper$ | async as wrapper">
    <ng-container *ngIf="(loading$ | async) == false">
      <section class="container d-flex justify-content-between flex-wrap pl-lg-4 pr-4 py-4 overflow-scroll">
        <div class="d-flex align-items-center mb-3 mb-lg-0 pl-3">
          <div class="verified">
            <div class="d-flex align-items-center">
              <label class="checkbox mr-3">
                <input type="checkbox" class="form-check-input">
                <span class="checkbox__checkmark"></span>
                <svg width="14px" height="10px" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.7036 3.972C1.311 3.5834.6779 3.5866.2894 3.979c-.3886.3926-.3854 1.0257.007 1.4143l5.8254 5.7673c.4113.4071 1.0812.3812 1.4598-.0565l8.1747-9.4499c.3613-.4177.3156-1.0492-.102-1.4105-.4178-.3613-1.0493-.3156-1.4106.102l-7.4749 8.641L1.7036 3.972z"
                    fill="inherit" fill-rule="nonzero"></path>
                </svg>
              </label>
              <span class="font-size-sm font-weight-bold mr-4">{{wrapper.numberOfAllItems}} projects</span>
            </div>
          </div>
        </div>
        <div class="d-flex overflow-scroll">
          <button class="btn btn--light-blue mr-2" type="button">
            <svg class="mr-2" width="18px" height="22px" viewBox="0 0 18 22" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.2153.9167c.622 0 1.211.2807 1.6026.7641L16.79 6.5836c.2976.3673.46.8257.46 1.2984l-.0002.6397.0002.0262v8.8688c0 2.2781-1.8468 4.125-4.125 4.125h-8.25c-2.2782 0-4.125-1.8469-4.125-4.125V5.0417c0-2.2782 1.8468-4.125 4.125-4.125h6.3403zm2.8397 5.568l-1.317-1.626.0003 1.6267 1.3167-.0007zm-9.18-3.5055c-1.139 0-2.0625.9234-2.0625 2.0625v12.375c0 1.139.9234 2.0625 2.0625 2.0625h8.25c1.139 0 2.0625-.9234 2.0625-2.0625V8.5479h-2.4492c-1.1391 0-2.0625-.9234-2.0625-2.0625V2.9792H4.875zm5.1563 10.828l.4124-.3093c.4557-.3417 1.102-.2494 1.4438.2063.3417.4556.2494 1.102-.2062 1.4437L9.627 16.6885A1.0267 1.0267 0 019 16.901c-.236 0-.4533-.0792-.627-.2125L6.3187 15.148c-.4557-.3417-.548-.9881-.2063-1.4437.3417-.4557.9881-.548 1.4438-.2063l.4124.3094V9.7972c0-.5696.4618-1.0313 1.0313-1.0313.5695 0 1.0313.4617 1.0313 1.0313v4.01z"
                fill="#303FFB" fill-rule="evenodd"></path>
            </svg>
            Import
          </button>
        </div>
      </section>

      <section class="container px-4">
        <ng-container *ngFor="let project of projects$ | async">
          <app-project-card *ngIf="(project.deleted$ | async) == false"
                            [project]="project">
            <div class="actions text-right" *ngIf="organizationId$ | async as organizationId">
              <button class="btn" disabled *ngIf="project.saving$ | async; else actionButtons">
                <app-loader></app-loader>
                Saving
              </button>
              <ng-template #actionButtons>
                <button class="btn btn-primary" [matMenuTriggerFor]="menu">
                  Actions
                  <fa-icon icon="angle-down" class="ml-2"></fa-icon>
                </button>
                <mat-menu #menu>
                  <div style="min-width: 200px;">
                    <ng-container *ngIf="(project.verified$ | async) == false">
                      <button mat-menu-item class="mat-menu-item-success"
                              (click)="verifyProject(project, organizationId, true)">
                        <fa-icon icon="check-circle" class="mr-2"></fa-icon>
                        <span>Verify for my organization</span>
                      </button>
                      <button mat-menu-item class="mat-menu-item-danger"
                              (click)="removeProject(project, organizationId)">
                        <fa-icon icon="trash" class="mr-2"></fa-icon>
                        <span>Remove from my organization</span>
                      </button>
                    </ng-container>

                    <button mat-menu-item class="mat-menu-item-danger" *ngIf="project.verified$ | async"
                            (click)="verifyProject(project, organizationId, false)">
                      <fa-icon icon="times-circle" class="mr-2"></fa-icon>
                      <span>Cancel verification</span>
                    </button>
                  </div>
                </mat-menu>
              </ng-template>
            </div>
          </app-project-card>
        </ng-container>
        <app-pagination [pageInfo]="pageInfo$ | async"
                        [numberOfResults]="wrapper.numberOfAllItems"
                        (pageChanged)="pageInfo$.next($event)"></app-pagination>
      </section>
    </ng-container>
  </ng-container>
</section>
