<section class="w-100">
  <section class="bg-white">
    <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
      <h3>Outcomes</h3>
      <button class="btn btn--primary" (click)="addOutcome(organizationId)"
              *ngIf="organizationId$ | async as organizationId">
        <fa-icon icon="plus" class="mr-2"></fa-icon>
        <span>Add outcome</span>
      </button>
    </div>
    <section class="filters d-flex align-items-center" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row mx-2">
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Search outcomes</label>
              <div class="input-group">
                <input class="input input--gray" aria-label="Search" formControlName="query">
                <button type="submit">
                  <svg width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M13.6976 2.9024c2.7248 2.7249 2.959 6.9972.7024 9.988l3.012 3.0117c.7856.7856-.3929 1.9642-1.1786 1.1785l-2.9756-2.976c-2.999 2.5672-7.5169 2.4315-10.3554-.407-2.981-2.981-2.981-7.8142 0-10.7952s7.8142-2.981 10.7952 0zM4.0809 4.081c-2.3301 2.3302-2.3301 6.108 0 8.4382 2.3302 2.3301 6.108 2.3301 8.4382 0 2.3301-2.3302 2.3301-6.108 0-8.4382-2.3302-2.3301-6.108-2.3301-8.4382 0z"
                      fill-rule="nonzero" fill="#5E6771"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-2">
            <div class="filter">
              <label>Outcomes types</label>
              <app-multi-select
                [options]="itemTypeGroups$ | async"
                formControlName="resultTypeGroupIds"></app-multi-select>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 col-xl-4">
            <div class="filter">
              <label>Participating organizations</label>
              <app-tags-input formControlName="participatingOrganizationIds"
                              placeholder="Search organization"
                              [loadTagsFunction]="loadOrganizations"
                              [searchFunction]="autocompleteOrganizations"></app-tags-input>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 col-xl-4">
            <div class="filter">
              <label>Participating experts</label>
              <app-tags-input formControlName="expertCodes"
                              placeholder="Search expert"
                              [loadTagsFunction]="loadExperts"
                              [searchFunction]="autocompleteExperts"></app-tags-input>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-page-loader *ngIf="loading$ | async"></app-page-loader>
  <ng-container *ngIf="itemWrapper$ | async as wrapper">
    <ng-container *ngIf="(loading$ | async) == false">
      <section class="container d-flex justify-content-between flex-wrap pl-lg-4 pr-4 py-4 overflow-scroll">
        <div class="d-flex align-items-center mb-3 mb-lg-0 pl-3">
          <div class="verified">
            <div class="d-flex align-items-center">
              <!--              <label class="checkbox mr-3">-->
              <!--                <input type="checkbox" class="form-check-input">-->
              <!--                <span class="checkbox__checkmark"></span>-->
              <!--                <svg width="14px" height="10px" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">-->
              <!--                  <path-->
              <!--                    d="M1.7036 3.972C1.311 3.5834.6779 3.5866.2894 3.979c-.3886.3926-.3854 1.0257.007 1.4143l5.8254 5.7673c.4113.4071 1.0812.3812 1.4598-.0565l8.1747-9.4499c.3613-.4177.3156-1.0492-.102-1.4105-.4178-.3613-1.0493-.3156-1.4106.102l-7.4749 8.641L1.7036 3.972z"-->
              <!--                    fill="inherit" fill-rule="nonzero"></path>-->
              <!--                </svg>-->
              <!--              </label>-->
              <span class="font-size-sm font-weight-bold mr-4">{{wrapper.numberOfAllItems}} outcomes</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="tooltip">
                <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8 16c1.4487 0 2.7949-.3654 4.0385-1.0962 1.205-.705 2.1602-1.6602 2.8653-2.8653C15.6346 10.7949 16 9.4487 16 8s-.3654-2.7949-1.0962-4.0385c-.705-1.205-1.6602-2.1602-2.8653-2.8653C10.7949.3654 9.4487 0 8 0S5.2051.3654 3.9615 1.0962c-1.205.705-2.1602 1.6602-2.8653 2.8653C.3654 5.2051 0 6.5513 0 8s.3654 2.7949 1.0962 4.0385c.705 1.205 1.6602 2.1602 2.8653 2.8653C5.2051 15.6346 6.5513 16 8 16zm0-1.2308c-1.2308 0-2.3718-.3077-3.423-.923-1.0129-.6026-1.8206-1.4103-2.4232-2.4231-.6153-1.0513-.923-2.1923-.923-3.4231s.3077-2.3718.923-3.423C2.7564 3.564 3.5641 2.7563 4.577 2.1537c1.0513-.6153 2.1923-.923 3.4231-.923s2.3718.3077 3.423.923c1.0129.6026 1.8206 1.4103 2.4232 2.4231.6153 1.0513.923 2.1923.923 3.4231s-.3077 2.3718-.923 3.423c-.6026 1.0129-1.4103 1.8206-2.4231 2.4232-1.0513.6153-2.1923.923-3.4231.923zm.6154-9.2307V4.3077H7.3846v1.2308h1.2308zm0 6.1538v-4.923H7.3846v4.923h1.2308z"
                    fill="currentColor" fill-rule="nonzero"></path>
                </svg>
                <p class="tooltip__text">
                  This is a tooltip.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex overflow-scroll">
          <!--          <button class="btn btn&#45;&#45;light-blue mr-2" type="button">-->
          <!--            <fa-icon class="mr-2" icon="file-download"></fa-icon>-->
          <!--            <span>Import</span>-->
          <!--          </button>-->
          <a class="btn btn--light-blue" type="button" [href]="exportUrl$ | async">
            <fa-icon class="mr-2" icon="file-upload"></fa-icon>
            <span>Export</span>
          </a>
        </div>
      </section>

      <section class="container px-4">
        <ng-container *ngFor="let item of itemList$ | async">
          <app-outcome-card [itemPreview]="item" *ngIf="(item.deleted$ | async) == false" linkType="standard">
            <div class="actions text-right" *ngIf="organizationId$ | async as organizationId">
              <button class="btn" disabled *ngIf="item.saving$ | async; else actionButtons">
                <app-loader></app-loader>
                Saving
              </button>
              <ng-template #actionButtons>
                <button class="btn btn-primary btn--blue" [matMenuTriggerFor]="menu">
                  Actions
                  <fa-icon icon="angle-down" class="ml-2"></fa-icon>
                </button>
                <mat-menu #menu>
                  <div style="min-width: 200px;">
                    <button mat-menu-item class="mat-menu-item"
                            (click)="editOutcome(item)">
                      <fa-icon icon="pencil-alt" class="mr-2"></fa-icon>
                      <span>Edit</span>
                    </button>
                    <!--                    verify button                    -->
                    <button mat-menu-item class="mat-menu-item" *ngIf="(item.verified$ | async) == false"
                            (click)="verifyOutcome(item, organizationId, true)">
                      <fa-icon icon="check-circle" class="mr-2"></fa-icon>
                      <span>Verify for my organization</span>
                    </button>
                    <!--                    un-verify button                 -->
                    <button mat-menu-item class="mat-menu-item" *ngIf="item.verified$ | async"
                            (click)="verifyOutcome(item, organizationId, false)">
                      <fa-icon icon="times-circle" class="mr-2"></fa-icon>
                      <span>Cancel verification</span>
                    </button>
                    <!--                    activate button                  -->
                    <button mat-menu-item class="mat-menu-item" *ngIf="(item.active$ | async) == false"
                            (click)="activateOutcome(item, organizationId, true)">
                      <fa-icon icon="check-circle" class="mr-2"></fa-icon>
                      <span>Activate</span>
                    </button>
                    <!--                    deactivate button                -->
                    <button mat-menu-item class="mat-menu-item" *ngIf="item.active$ | async"
                            (click)="activateOutcome(item, organizationId, false)">
                      <fa-icon icon="times-circle" class="mr-2"></fa-icon>
                      <span>Deactivate</span>
                    </button>
                    <button mat-menu-item class="mat-menu-item" (click)="removeOutcome(item, organizationId)">
                      <fa-icon icon="trash" class="mr-2"></fa-icon>
                      <span>Remove from my organization</span>
                    </button>
                  </div>
                </mat-menu>
              </ng-template>
            </div>
          </app-outcome-card>
        </ng-container>
      </section>

      <app-pagination [pageInfo]="pageInfo$ | async"
                      [numberOfResults]="wrapper.numberOfAllItems"
                      (pageChanged)="pageInfo$.next($event)"></app-pagination>
    </ng-container>
  </ng-container>
</section>
