<section class="bg-white">
  <h3 class="mb-3 mr-auto pt-5 pb-4 pl-4">Search history</h3>
</section>
<section class="w-100">
  <section class="container px-4">
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngFor="let rowWrapper of searchHistoryDtos$ | async">
        <app-search-history-row *ngIf="(rowWrapper.deleted$ | async) == false" [row]="rowWrapper.row">
          <button class="btn-plain" [class.btn-plain-danger]="rowWrapper.favorite$ | async"
                  type="button"
                  [class.btn-plain-gray]="(rowWrapper.favorite$ | async) == false"
                  [disabled]="rowWrapper.saving$ | async"
                  (click)="updateRow(rowWrapper, !rowWrapper.favorite$.value)">
            <fa-icon icon="heart"></fa-icon>
          </button>
          <button class="btn-plain btn-plain-gray"
                  type="button"
                  [disabled]="rowWrapper.saving$ | async"
                  (click)="deleteRow(rowWrapper)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </app-search-history-row>
      </ng-container>

      <app-pagination *ngIf="searchHistoryWrapper$ | async as wrapper"
                      [pageInfo]="pageInfo$ | async"
                      [numberOfResults]="wrapper.numberOfResults"
                      (pageChanged)="pageInfo$.next($event)"></app-pagination>
    </div>
  </section>
</section>
