<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="outcomeWrapper$ | async as outcomeWrapper">
    <app-outcome-card *ngFor="let outcome of outcomeWrapper.itemPreviewDtos"
                      [itemPreview]="outcome"
                      [ownerOrganizationId]="outcomeWrapper?.organizationId"
                      linkType="standard"
                      [sendRequestEnabled]=true>
    </app-outcome-card>
    <p class="no-result-note" *ngIf="outcomeWrapper.numberOfAllItems == 0">
      The organization has no verified outcome
    </p>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(outcomeWrapper$ | async)?.numberOfAllItems">
</app-pagination>
