<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="thesisDetail$ | async as thesisDetail">
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-3">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h3 class="mb-2">{{thesisDetail.thesisName}}</h3>
          <div class="tags d-flex flex-wrap">
            <button class="tag cobalt mr-1 mb-1" *ngFor="let keyword of thesisDetail.keywords">{{keyword}}</button>
          </div>
        </div>
      </div>
    </div>
    <!--    <nav class="pr-4 pl-4">-->
    <!--      <ul class="d-flex overflow-scroll">-->
    <!--        <li class="navbar__item active pb-2">Overview</li>-->
    <!--        <li class="navbar__item pb-2">Outcomes</li>-->
    <!--        <li class="navbar__item pb-2 notification">Comments</li>-->
    <!--        <li class="navbar__item pb-2">Activity</li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </section>

  <section class="container bg-white h-100 pt-4 pl-4">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Main info</h4>
        </div>
        <div class="overview">
          <fa-icon icon="tag" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{thesisDetail.thesisTypeId | outcomeTypeToGroup | async}}
            ({{thesisDetail.thesisTypeId | outcomeType | async}})
          </span>
        </div>
        <div class="overview mb-4">
          <fa-icon icon="file-alt" class="mr-2"></fa-icon>
          <p class="font-size-xs text-justify text-break">
            {{thesisDetail.thesisDescription}}
          </p>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Confidentiality</h4>
          </div>
          <div>
            <button class=" ml-1 tag {{thesisDetail.confidentiality | confidentialityColor}}">
              {{thesisDetail.confidentiality | confidentialityTitle}}
            </button>
          </div>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>University</h4>
          </div>
          <a [routerLink]="'organizationDetail' | path: thesisDetail.university.organizationId"
             class="d-flex align-items-center mb-2">
            <app-organization-preview [organization]="thesisDetail.university"></app-organization-preview>
          </a>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Experts</h4>
          </div>
          <div *ngIf="thesisDetail.supervisor as expert">
            <h5>
              Supervisor
            </h5>
            <a class="d-flex align-items-center mb-1"
               [routerLink]="'expertDetail' | path: expert.expertCode">
              <figure class="avatar avatar__xs mr-2">
                <img [src]="expert.userId | userImg" [alt]="expert.name" appOptionalImg [altTemplate]="expertIcon">
                <ng-template #expertIcon>
                  <fa-icon icon="user"></fa-icon>
                </ng-template>
              </figure>
              <span class="font-size-xs">{{expert.name}}</span>
            </a>
          </div>
          <div *ngIf="thesisDetail.assignee as expert">
            <h5>
              Assignee
            </h5>
            <a class="d-flex align-items-center mb-1"
               [routerLink]="'expertDetail' | path: expert.expertCode">
              <figure class="avatar avatar__xs mr-2">
                <img [src]="expert.userId | userImg" [alt]="expert.name" appOptionalImg [altTemplate]="expertIcon">
                <ng-template #expertIcon>
                  <fa-icon icon="user"></fa-icon>
                </ng-template>
              </figure>
              <span class="font-size-xs">{{expert.name}}</span>
            </a>
          </div>
          <div *ngIf="thesisDetail.reviewer as expert">
            <h5>
              Reviewer
            </h5>
            <a class="d-flex align-items-center mb-1"
               [routerLink]="'expertDetail' | path: expert.expertCode">
              <figure class="avatar avatar__xs mr-2">
                <img [src]="expert.userId | userImg" [alt]="expert.name" appOptionalImg [altTemplate]="expertIcon">
                <ng-template #expertIcon>
                  <fa-icon icon="user"></fa-icon>
                </ng-template>
              </figure>
              <span class="font-size-xs">{{expert.name}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
