<!--I have just copied it. :-< -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Subscribe to get informed when a new relevant opportunity appears.
    <br/>Get occasional newsletters with personalized opportunities. <br/>Do
    not worry, we won't spam you and you can unsubscribe anytime.
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="this.closeModal.emit(true)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-12 col-sm-8" [formGroup]="subscribeFormGroup">
    <div>
      <div class="btn btn--light btn--dropdown mb-3">
        <input
          type="text"
          formControlName="email"
          class="input input--gray"
          placeholder="your@email.here"
          [ngClass]="{ 'is-invalid': submitted && subForm.email.errors }"
        />
        <div
          *ngIf="submitted && subForm.email.errors"
          class="invalid-feedback"
        >
          <div *ngIf="subForm.email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <mat-checkbox
        type="checkbox"
        formControlName="agreeTerms"
        id="agreeTerms"
        class="amateur mt-2"
        color="primary"
      >
      </mat-checkbox>
      By clicking on “subscribe”, you want to receive news with new job
      opportunities sent by the university via
      <a href="https://www.unico.ai">UNICO.ai</a> CZ,
      s.r.o. and consent to processing your e-mail. For more info,
      see the Personal Data Protection of the university.
      <!--        todo - uncomment to activate recaptcha-->
      <!--        <ngx-recaptcha2-->
      <!--          *ngIf="siteKey$ | async as siteKey"-->
      <!--          [siteKey]="siteKey"-->
      <!--          formControlName="recaptcha"-->
      <!--        >-->
      <!--        </ngx-recaptcha2>-->
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="send()">
    <fa-icon icon="paper-plane" class="mr-2"></fa-icon>
    Send
  </button>
</div>
