<app-user-settings-header></app-user-settings-header>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<form class="bg-white px-4 py-4" [formGroup]="formGroup" [hidden]="loading$ | async" (submit)="updateSettings()">
  <div class="row mb-3">
    <div class="col-12 col-md-4">
      <h4 class="mb-3">Account settings</h4>
      <label class="mb-1">Email address</label>
      <input class="input input--gray font-size-xs" aria-label="Email" [value]="formGroup.value.email" disabled>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-md-4">
      <label class="mb-1">Country</label>
      <app-multi-select [options]="countries$ | async" [noValueMeansAll]="false"
                        formControlName="countryOfInterestCodes"></app-multi-select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-md-4">
      <label class="mb-1">Your role</label>
      <app-multi-select [options]="roles" [noValueMeansAll]="false"
                        formControlName="userRolePresets"></app-multi-select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <button class="btn" *ngIf="saving$ | async" disabled>
        <app-loader></app-loader>
        Saving
      </button>
      <button class="btn btn--blue" *ngIf="(saving$ | async) == false" type="submit">
        Update settings
      </button>
    </div>
  </div>
</form>
