<section class="w-100">
  <section class="bg-white ">
    <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
      <h3>Equipment/Services</h3>
      <button (click)="openEditEquipmentModal(null)" *ngIf="organizationId$ | async as organizationId"
              class="btn btn-success">
        <fa-icon class="mr-2" icon="plus"></fa-icon>
        <span>Add Equipment/Service</span>
      </button>
    </div>
    <section [formGroup]="filterFormGroup" class="filters d-flex align-items-center">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3 col-xl-3">
            <div class="filter mb-3 mb-md-0 pt-3 pb-md-3">
              <label>Search equipment/services</label>
              <div class="btn btn--light btn--input">
                <input aria-label="Search" class="input" formControlName="query">
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="filter">
              <div class="custom-control custom-switch mt-5">
                <input class="custom-control-input" formControlName="includeHidden" id="addHidden" type="checkbox">
                <label class="custom-control-label" for="addHidden">Include hidden items</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-page-loader *ngIf="loading$ | async"></app-page-loader>
  <div *ngIf="organizationId$| async as organizationId">
    <ng-container *ngIf="equipmentWrapper$ | async as wrapper">
      <ng-container *ngIf="(loading$ | async) == false">
        <section class="container-fluid px-4 pt-2">
          <ng-container *ngFor="let equipment of wrapper.multilingualPreviews">
            <app-equipment-card
              [equipment]="equipment"
              [linkType]="'standard'"
              [organizationId]="organizationId"
              *ngIf="equipment.preview.deleted !== true">
              <div class="">
                <a (click)="openEditEquipmentModal(equipment)" class="btn btn--blue mt-2 ml-2">
                  Edit
                </a>
                <a (click)="toggleHidden(equipment.preview)" class="btn btn-primary btn--blue mt-2 ml-2">
                  {{equipment.preview.hidden ? "Show" : "Hide"}}
                </a>
                <a (click)="deleteEquipment(equipment)" class="btn btn-danger mt-2 ml-2">
                  Delete
                </a>
              </div>
            </app-equipment-card>
          </ng-container>
        </section>
        <app-pagination (pageChanged)="pageInfo$.next($event)"
                        [numberOfResults]="wrapper.numberOfAllItems"
                        [pageInfo]="pageInfo$ | async"></app-pagination>
      </ng-container>
    </ng-container>
  </div>
</section>
