<section class="container">
  <div class="px-4 pt-5 pb-3">
    <h3 class="mb-3">Portal administration</h3>

    <div class="row">
      <div class="col-6 col-md-4"
           [routerLink]="'platformSettingsIndex' | path">
        <div class="border bg-white rounded p-4 text-center cursor-pointer hover-bg-lightgray">
          <fa-icon style="font-size: 50px" icon="search"></fa-icon>
          <h4>Index administration</h4>
        </div>
      </div>

      <div class="col-6 col-md-4"
           [routerLink]="'platformSettingsUsers' | path">
        <div class="border bg-white rounded p-4 text-center cursor-pointer hover-bg-lightgray">
          <fa-icon style="font-size: 50px" icon="users"></fa-icon>
          <h4>Users administration</h4>
        </div>
      </div>

      <div class="col-6 col-md-4"
           [routerLink]="'platformSettingsOrganizations' | path">
        <div class="border bg-white rounded p-4 text-center cursor-pointer hover-bg-lightgray">
          <fa-icon style="font-size: 50px" icon="university"></fa-icon>
          <h4>Organizations administration</h4>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="version$ | async as version">
    <ul>
      <li>
        <label class="font-weight-bold mb-2 mb-lg-0">
          Date of last change:
        </label>
        <div>
          {{version.LAST_BUILD_DATE}}
        </div>
      </li>
      <li>
        <label class="font-weight-bold mb-2 mb-lg-0">
          DB version:
        </label>
        <div>
          {{version.DB_VERSION}}
        </div>
      </li>
      <li>
        <label class="font-weight-bold mb-2 mb-lg-0">
          DWH version:
        </label>
        <div>
          {{version.DWH_VERSION}}
        </div>
      </li>
    </ul>
  </ng-container>
</section>
