<ngx-file-drop dropZoneLabel="Drop files here" class="w-100" (onFileDrop)="dropped($event)"
               [multiple]="multiple" [accept]="(acceptedFiles$ | async) || ''">
  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

    <button class="btn btn--light-blue" type="button" (click)="openFileSelector()">
      <fa-icon icon="upload" class="mr-2"></fa-icon>
      Select a file
    </button>

    <div class="text-muted ml-4">or drag it here</div>

  </ng-template>
</ngx-file-drop>
