<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="commercializationDetail$ | async as commercializationDetail" [hidden]="loading$ | async">
  <special-abilities-bar class="special-abilities-bar"></special-abilities-bar>
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-0">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div class="d-flex align-items-center">
          <figure class="avatar avatar__md circle mr-4 flex-shrink-0 flex-grow-0">
            <img
              [src]="commercializationDetail.commercializationProjectId | commercializationImg: commercializationDetail.imgCheckSum: 'S'"
              appOptionalImg
              [altTemplate]="icon">
            <ng-template #icon>
              <fa-icon icon="rocket"></fa-icon>
            </ng-template>
          </figure>
          <div>
            <h3 class="mb-2">{{commercializationDetail.name}}</h3>
            <div class="tags d-flex flex-wrap">
              <button class="tag cobalt mr-1 mb-1"
                      *ngFor="let keyword of commercializationDetail.keywords">{{keyword}}</button>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!--          <button type="button" class="btn btn&#45;&#45;light-blue mr-2">-->
          <!--            <svg class="mr-2" width="20px" height="18px" viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">-->
          <!--              <path-->
          <!--                d="M10.3282 5.2435l-.0033-3.7733c-.0007-.8399 1.0235-1.251 1.6038-.6438l7.1212 7.4528a.9308.9308 0 010 1.286l-7.1085 7.4395c-.5797.6067-1.603.1969-1.6038-.6422l-.0035-4.1777c-3.8114.4627-6.415 2.0095-7.901 4.6353-.485.8572-1.795.4722-1.7393-.5111.3557-6.268 3.6298-10.023 9.6344-11.0655zm6.7614 3.6787l-4.9011-5.1293.0019 2.2506a.9308.9308 0 01-.8122.924c-4.4151.567-7.1336 2.5776-8.2575 6.1397 1.9952-1.6815 4.7006-2.639 8.0788-2.8737.5378-.0374.9948.3886.9952.9277l.0025 2.8812 4.8924-5.1202z"-->
          <!--                fill="currentColor"-->
          <!--                fill-rule="evenodd"-->
          <!--              />-->
          <!--            </svg>-->
          <!--            Share-->
          <!--          </button>-->
        </div>
      </div>
    </div>
    <!--    <nav class="pr-4 pl-4">-->
    <!--      <ul class="d-flex overflow-scroll">-->
    <!--        <li class="navbar__item active pb-2">Overview</li>-->
    <!--        <li class="navbar__item pb-2">Outcomes</li>-->
    <!--        <li class="navbar__item pb-2 notification">Comments</li>-->
    <!--        <li class="navbar__item pb-2">Activity</li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </section>

  <section class="container bg-white h-100 pt-4 pl-4">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Main info</h4>
        </div>
        <div class="overview">
          <fa-icon icon="tag" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{commercializationDetail.commercializationDomainName}}
            (<span class="comma-separated"><span
            *ngFor="let category of commercializationDetail.commercializationCategoryPreview">
                {{category.commercializationCategoryName}}
              </span></span>)
          </span>
        </div>
        <div class="overview">
          <fa-icon icon="flag-checkered" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            TRL {{commercializationDetail.technologyReadinessLevel}}
          </span>
        </div>
        <div class="overview mb-4">
          <fa-icon icon="file-alt" class="mr-2"></fa-icon>
          <div>
            <h4>Executive Summary</h4>
            <p class="font-size-xs">
              {{commercializationDetail.executiveSummary}}
            </p>
            <h4>Use Case</h4>
            <p class="font-size-xs">
              {{commercializationDetail.useCase}}
            </p>
            <h4>Pain Description</h4>
            <p class="font-size-xs">
              {{commercializationDetail.painDescription}}
            </p>
            <h4>Competitive Advantage</h4>
            <p class="font-size-xs">
              {{commercializationDetail.competitiveAdvantage}}
            </p>
            <h4>Technical Principles</h4>
            <p class="font-size-xs">
              {{commercializationDetail.technicalPrinciples}}
            </p>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Status</h4>
          </div>
          <div>
            <button class=" ml-1 tag">
              {{commercializationDetail.commercializationStatusName}}
            </button>
          </div>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Intellectual Property Owners</h4>
          </div>
          <ng-container *ngFor="let organization of commercializationDetail.projectOrganizations">
            <app-organization-preview [organization]="organization"
                                      *ngIf="organization.relation === commercializationOrganizationRelations.INTELLECTUAL_PROPERTY_OWNER">
            </app-organization-preview>
          </ng-container>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Commercialization Partners</h4>
          </div>
          <ng-container *ngFor="let organization of commercializationDetail.projectOrganizations">
            <app-organization-preview [organization]="organization"
                                      *ngIf="organization.relation === commercializationOrganizationRelations.COMMERCIALIZATION_PARTNER">
            </app-organization-preview>
          </ng-container>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Investors</h4>
          </div>
          <ng-container *ngFor="let organization of commercializationDetail.projectOrganizations">
            <app-organization-preview [organization]="organization"
                                      *ngIf="organization.relation === commercializationOrganizationRelations.INVESTOR">
            </app-organization-preview>
          </ng-container>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Experts</h4>
          </div>
          <a class="d-flex align-items-center mb-1" *ngFor="let expert of commercializationDetail.teamMemberDtos"
             [routerLink]="'widgetExpertDetail' | path: expert.expertCode">
            <figure class="avatar avatar__xs mr-2">
              <img [src]="expert.userId | userImg" [alt]="expert.name" appOptionalImg [altTemplate]="expertIcon">
              <ng-template #expertIcon>
                <fa-icon icon="user"></fa-icon>
              </ng-template>
            </figure>
            <span class="font-size-xs">{{expert.name}}</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
