<app-widget-filter-wrapper>
  <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
    <div class="container ml-0">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="filter mb-3 mb-md-0 pt-3 pb-md-3">
            <label>Organization type</label>
            <app-multi-select
              [options]="organizationsByType$ | async"
              formControlName="organizationTypesIds"
            ></app-multi-select>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-widget-filter-wrapper>
<!--<section class="bg-white p-2 border-bottom">-->
<!--  <section class="d-flex align-items-center" [formGroup]="filterFormGroup">-->
<!--    <div class="container ml-0">-->
<!--      <div class="row mx-2">-->
<!--        <div class="col-12 col-sm-6 col-md-4 col-lg-3">-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</section>-->
<app-infinite-scroll [loading$]="loading$"
                     [loadDataFunction]="loadData"
                     [resetDataFunction]="resetData"
                     [mergeWrappersFunction]="mergeWrappers"
                     [filterFormGroup]="filterFormGroup"
                     widgetType="ORGANIZATION_CHILDREN"
>
  <ng-container *ngIf="organizationWrapper">
    <ng-container *ngIf="(loading$ | async) == false">
      <section class="container-fluid px-4 pt-2">
        <ng-container *ngIf="parentOrganizations$ | async as parentOrganizations">
          <div *ngIf="parentOrganizations.length">
            <app-organization-card [organization]=organization [index]="i"
                                   [organizationsLength]="parentOrganizations.length"
                                   [linkType]="'widget'"
                                   [isParent]="true"
                                   *ngFor="let organization of parentOrganizations; let i = index;"></app-organization-card>
          </div>
        </ng-container>
        <ng-container *ngIf="memberOrganizations$ | async as memberOrganizations">
          <div *ngIf="memberOrganizations.length">
            <app-organization-card [organization]=organization [index]="i"
                                   [organizationsLength]="memberOrganizations.length"
                                   [linkType]="'widget'"
                                   [isMember]="true"
                                   *ngFor="let organization of memberOrganizations; let i = index;"></app-organization-card>
          </div>
        </ng-container>
        <app-organization-card [organization]=organization [index]="i"
                               [organizationsLength]="organizationWrapper.organizationBaseDtos.length"
                               [linkType]="'widget'"
                               *ngFor="let organization of organizationWrapper.organizationBaseDtos; let i = index;"></app-organization-card>
      </section>
    </ng-container>
  </ng-container>
</app-infinite-scroll>
