<a (click)="checkOrganizationLicense(organization)"
   class="d-flex align-items-center mb-2 link-dark">
  <figure class="avatar avatar__xs mr-2">
    <img [src]="organization.organizationId | organizationImg"
         appOptionalImg
         [altTemplate]="universityIcon"
         alt="{{organization.organizationAbbrev || organization.organizationName}}">
    <ng-template #universityIcon>
      <fa-icon icon="university"></fa-icon>
    </ng-template>
  </figure>
  <span class="font-size-xs text-black">
              {{organization.organizationAbbrev || organization.organizationName}}
            </span>
</a>
