<article class="card">
  <h4 class="card__title mb-4">Top keywords</h4>
  <div class="data-table">
    <div class="data-table__wrapper">
      <div class="data-table__header row">
        <div class="col-5">Keyword</div>
        <div class="col-3 text-right">Quantity</div>
        <div class="col-4 text-right">Best / Average position</div>
      </div>
      <div class="data-table__row row" *ngFor="let row of (keywordStatistics$ | async)?.mostSearchedKeywords">
<!--        <div class="col-5">{{row.query}}</div>-->
        <div class="col-5 p-0">
          <app-short-text title="{{row.query}}" [text]="row.query"></app-short-text>
        </div>
        <div class="col-3 text-right">{{row.numberOfExpertsShown}}</div>
        <div class="col-4 text-right">{{row.bestPosition}} / {{row.avgPosition | round: 1 | number: '.1'}}</div>
      </div>
    </div>
  </div>
  <app-pagination [pageInfo]="keywordStatisticsPageInfo$ | async"
                  [disableUrl]="true"
                  [numberOfResults]="(keywordStatistics$ | async)?.numberOfSearchedKeywords"
                  (pageChanged)="keywordStatisticsPageInfo$.next($event)">
  </app-pagination>
</article>
