<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="expertsWrapper$ | async as expertWrapper">
    <app-expert-card *ngFor="let expert of expertWrapper.analyticsExpertPreviewDtos"
                     [expertPreview]="expert"
                     [organizationId]="expertWrapper?.organizationId"
                     [sendContactEnabled]=true
                     linkType="standard">
    </app-expert-card>
    <p class="no-result-note" *ngIf="expertWrapper.numberOfAllItems == 0">
      The organization has no verified expert
    </p>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(expertsWrapper$ | async)?.numberOfAllItems">
</app-pagination>
