<div class="modal__content">
  <div class="modal__header d-flex flex-column align-items-start pb-0">
    <h3 class="modal__title">Add expert</h3>
    <nav class="mt-2">
      <ul class="d-flex overflow-scroll">
        <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.SEARCH"
            (click)="mode$.next(modes.SEARCH)">
          Search expert
        </li>
        <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.CREATE"
            (click)="mode$.next(modes.CREATE)">
          Create new expert
        </li>
      </ul>
    </nav>
  </div>
  <div class="modal__body" *ngIf="(mode$ | async) === modes.CREATE" [formGroup]="createUserFormGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Name</label>
      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" formControlName="name">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Email</label>
      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <input class="input input--gray" aria-label="Email" formControlName="email">
      </div>
      <div class="col-12 col-lg-10 text-muted text-sm text-center mt-2" *ngIf="createUserFormGroup.value.email">
        An invitation will be sent to the email address provided.
      </div>
    </div>
  </div>
  <div class="modal__body" *ngIf="(mode$ | async) === modes.SEARCH">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Search Experts</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" [formControl]="searchFormControl">
      </div>
    </div>
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngIf="experts$ | async as experts">
        <div class="no-result-note" *ngIf="experts.length == 0">
          <ng-container *ngIf="experts.length == 0">
            <ng-container *ngIf="searchFormControl.value">
              No expert matches your query
            </ng-container>
            <ng-container *ngIf="!searchFormControl.value">
              Search for experts to add
            </ng-container>
          </ng-container>
        </div>
        <div *ngFor="let expert of experts" class="expert-card">
          <figure class="avatar circle mr-4 flex-shrink-0 flex-grow-0">
            <img [src]="expert.userId | userImg" appOptionalImg [altSrc]="'images/avatar.png' | assets">
            <fa-icon icon="check-circle" class="avatar__badge text-success-light"></fa-icon>
          </figure>
          <div class="expert-card__name">
            <a [routerLink]="'expertDetail' | path:expert.expertCode"
               queryParamsHandling="merge"
               class="font-size-sm font-weight-bold">{{expert.name}}</a>
            <div>
              <ng-container *ngIf="expert.organizationDtos as organizations">
                <a class="font-size-sm" *ngIf="organizations[0] as organization"
                   [routerLink]="'organizationDetail' | path: organization.organizationId">
                  {{organization.organizationAbbrev || organization.organizationName}}
                </a>
                <a class="expert-card__link text-nowrap" *ngIf="organizations.length > 1"
                   [ngbPopover]="organizationsPopover">
                  + {{organizations.length - 1}} more
                </a>
                <ng-template #organizationsPopover>
                  <app-organizations-popover [organizations]="organizations">
                  </app-organizations-popover>
                </ng-template>
              </ng-container>
            </div>
          </div>
          <div class="actions text-right ml-auto">
            <button class="btn" disabled *ngIf="expert.saving$ | async; else actionButtons">
              <app-loader></app-loader>
              Adding
            </button>
            <ng-template #actionButtons>
              <button class="btn btn-success" *ngIf="expert.added$ | async; else addButton">Added</button>
              <ng-template #addButton>
                <button class="btn btn-primary" (click)="addExpert(expert)">Add</button>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class=" modal__footer">
  <button class="btn btn--gray mr-2" type="button" (click)="close()" [disabled]="creatingUser$ | async">
    Close
  </button>

  <ng-container *ngIf="(mode$ | async) === modes.CREATE">
    <button class="btn btn--blue" type="button" *ngIf="creatingUser$ | async" disabled>
      <app-loader></app-loader>
      Creating user
    </button>
    <button class="btn btn--blue" type="button" (click)="createUser()" *ngIf="(creatingUser$ | async) == false">
      Create new user
    </button>
  </ng-container>
</div>
