<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Edit project</h3>
  </div>
  <div class="modal__body" [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Name</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" formControlName="name">
      </div>
    </div>

    <div class="row mb-4 pb-4 border-bottom">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Project program</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray mr-3" [matAutocomplete]="programAutocomplete" [formControl]="projectProgram"
               placeholder="Search existing project programs">

        <mat-autocomplete #programAutocomplete="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of programOptions$ | async" [value]="option"
                      container="body"
                      [ngbTooltip]="option.projectProgramName">
            {{option.projectProgramName}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>

    <div class="mb-4 pb-4 border-bottom">
      <ng-container *ngIf="organizations$ | async as organizations">
        <app-add-organization [organizationDtos]="organizations"
                              (organizationChangeEvent)="organizationChange($event)"
                              [organizationId$]="organizationId$"
        ></app-add-organization>
      </ng-container>
    </div>

    <div class="mb-4 pb-4 border-bottom">
      <ng-container *ngIf="experts$ | async as experts">
        <app-add-experts [userExpertBaseDtos]="experts "
                         (expertChangeEvent)="expertChange($event)" ></app-add-experts>
      </ng-container>
    </div>


    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Description</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="description"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Start date</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <div class="input input--gray input--gray-wrapper">
          <input aria-label="Start date" formControlName="startDate"
                 ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
          <button (click)="d1.toggle()" class="btn btn-primary">
            <fa-icon icon="calendar"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">End date</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <div class="input input--gray input--gray-wrapper">
          <input aria-label="End date" formControlName="endDate"
                 ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
          <button (click)="d2.toggle()" class="btn btn-primary">
            <fa-icon icon="calendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Keywords</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-tags-input class="w-100" [searchFunction]="lookupKeywords" type="filled"
                        formControlName="keywords" [customTags]="true"></app-tags-input>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Confidentiality</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <mat-select class="input input--gray" aria-label="Confidentiality" formControlName="confidentiality"
                    *ngIf="confidentialityEditable$ | async; else confidentialityStatus">
          <mat-option *ngFor="let confidentiality of confidentiality | keyvalue" [value]="confidentiality.key">
            {{confidentiality.value | confidentialityTitle}}
          </mat-option>
        </mat-select>

        <ng-template #confidentialityStatus>
          <button *ngIf="((project$ | async)?.confidentiality || confidentiality.PUBLIC) as confidentiality"
                  class=" ml-1 tag {{confidentiality | confidentialityColor}}">
            {{confidentiality | confidentialityTitle}}
          </button>
        </ng-template>
      </div>
    </div>

    <div class="row" *ngIf="years$ | async as years">
      <ng-container *ngIf="years.length > 0">
        <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
          <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Project finances</label>
        </div>
        <div class="col-12 col-lg-10 d-flex align-items-start">
          <table formGroupName="organizationFinanceMap" class="input-table min-w-100">
            <thead>
            <tr>
              <th>
                Organization
              </th>
              <th *ngFor="let year of years$ | async" class="text-right">
                {{year}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations$ | async" [formGroupName]="organization.organizationId">
              <td class="plain-cell">
                {{organization.organizationAbbrev || organization.organizationName}}
              </td>
              <td *ngFor="let year of years$ | async" class="input-cell">
                <input [formControlName]="year" class="text-right">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal__section-footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="saveChanges()">
        Save
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
