<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">{{(outcome$ | async) ? 'Edit outcome' : 'Create new outcome'}}</h3>
  </div>
  <div class="modal__body" [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Title</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" formControlName="itemName">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Outcome type</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <mat-select class="input input--gray" aria-label="Outcome Type" formControlName="itemTypeId">
          <mat-option *ngFor="let itemType of itemTypes$ | async" [value]="itemType.typeId">
            {{itemType.typeNameEn}}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Year</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Year" formControlName="year">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Description</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="itemDescription"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Keywords</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-tags-input class="w-100" [searchFunction]="lookupKeywords" type="filled"
                        formControlName="keywords" [customTags]="true"></app-tags-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Confidentiality</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <mat-select class="input input--gray" aria-label="Confidentiality" formControlName="confidentiality"
                    *ngIf="confidentialityEditable$ | async; else confidentialityStatus">
          <mat-option *ngFor="let confidentiality of confidentiality | keyvalue" [value]="confidentiality.key">
            {{confidentiality.value | confidentialityTitle}}
          </mat-option>
        </mat-select>

        <ng-template #confidentialityStatus>
          <button *ngIf="((outcome$ | async)?.confidentiality || confidentiality.PUBLIC) as confidentiality"
                  class=" ml-1 tag {{confidentiality | confidentialityColor}}">
            {{confidentiality | confidentialityTitle}}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="modal__body">
    <div *ngIf="organizations$ | async as organizations">
      <app-add-organization [organizationDtos]="organizations"
                            [organizationId$]="organizationId$"
                            (organizationsChangeEvent)="organizationChange($event)">
      </app-add-organization>
    </div>
    <ng-container *ngIf="experts$ | async as experts; else notRegisteredExperts">
      <ng-container *ngIf="notRegisteredExperts$ | async as notRegisteredExperts">
        <app-add-experts (expertsChangeEvent)="expertsChange($event)"
                         (notRegisteredExpertsChangeEvent)="notRegisteredExpertsChange($event)"
                         [userExpertBaseDtos]="experts"
                         [notRegisteredExperts]="notRegisteredExperts">
        </app-add-experts>
      </ng-container>
    </ng-container>
    <ng-template #notRegisteredExperts>
      <ng-container *ngIf="experts$ | async as experts">
        <app-add-experts (expertsChangeEvent)="expertsChange($event)"
                         (notRegisteredExpertsChangeEvent)="notRegisteredExpertsChange($event)"
                         [userExpertBaseDtos]="experts">
        </app-add-experts>
      </ng-container>
    </ng-template>
  </div>
  <div class="modal__section-footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="saveChanges()">
        Save
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
