<div class="project-card" [style.background-color]="opportunityPreview.hidden ? '#e4e4e4' : '#ffffff'">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center mb-2">
        <h4 class="mr-2">
          <a
            [routerLink]="pathKey | path: opportunityPreview.opportunityId"
            [queryParams]="{ orgId: organizationId }"
            (click)="clickedOpportunity(opportunityPreview)"
            class="link-dark"
          >
            {{ opportunityPreview.opportunityName }}
          </a>
        </h4>
      </div>
    </div>
    <div class="col-12 col-md-7 mb-2 project-card__description">
      <p *ngIf="opportunityPreview.opportunityDescription" class="mb-0">
        {{ opportunityPreview.opportunityDescription }}
      </p>
    </div>
    <div class="col-12 col-md-2 mb-2">
      <div *ngIf="opportunityPreview.opportunitySignupDate">
        <label>Application deadline</label>
        <div>
          {{ opportunityPreview.opportunitySignupDate | date: "dd.MM.yyyy" }}
        </div>
      </div>
      <div *ngIf="opportunityPreview.opportunityType">
        <label>Type</label>
        <a
          class="link-dark"
          (click)="opportunityType$.emit(opportunityPreview.opportunityType)"
        >
          {{ opportunityPreview.opportunityType | opportunityType | async }}
        </a>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-2">
      <div
        *ngIf="
          opportunityPreview.organizationBaseDtos &&
          opportunityPreview.organizationBaseDtos.length != 0
        "
      >
        <label> Company </label>
        <div
          class="d-inline-flex align-items-center"
          *ngFor="let organization of opportunityPreview.organizationBaseDtos"
        >
          <figure class="avatar circle mr-2 flex-shrink-0 flex-grow-0">
            <img [src]="organization.organizationId | organizationImg" appOptionalImg [altTemplate]="universityIcon">
            <ng-template #universityIcon>
              <fa-icon icon="university"></fa-icon>
            </ng-template>
            <fa-icon icon="check-circle" class="avatar__badge text-success-light"></fa-icon>
          </figure>
          <a
            class="link-dark text-nowrap"
            (click)="organization$.emit(organization.organizationId)"
          >
            {{
            organization?.organizationAbbrev
              ? organization.organizationAbbrev
              : organization.organizationName
            }}
          </a>
        </div>
      </div>
      <div
        *ngIf="
          opportunityPreview.expertPreviews &&
          opportunityPreview.expertPreviews.length != 0
        "
      >
        <label> Contact persons </label>
        <div *ngFor="let expert of opportunityPreview.expertPreviews">
          {{ expert.name }}
        </div>
      </div>
      <div
        *ngIf="
          opportunityPreview.jobTypes && opportunityPreview.jobTypes.length != 0
        "
      >
        <label>
          Job type{{ opportunityPreview.jobTypes.length > 1 ? "s" : "" }}
        </label>
        <div *ngFor="let jobType of opportunityPreview.jobTypes">
          <a class="link-dark text-nowrap" (click)="jobType$.emit(jobType)">
            {{ jobType | jobType | async }}
          </a>
        </div>
      </div>
      <div class="mt-3" *ngIf="pathKey=='widgetOpportunityDetail'">
        <button class="btn btn-lg btn-success" (click)="openContactModal()">
          <fa-icon icon="envelope" class="mr-2"></fa-icon>
          Apply
        </button>
      </div>
    </div>
    <div class="col-12 d-flex flex-wrap">
      <ng-container *ngIf="opportunityPreview.opportunityKw">
        <button
          (click)="keyword$.emit(keyword)"
          *ngFor="
            let keyword of opportunityPreview.opportunityKw.slice(0, KEYWORDS)
          "
          class="tag cobalt mb-1"
        >
          {{ keyword }}
        </button>
        <button
          class="tag"
          *ngIf="opportunityPreview.opportunityKw.length > KEYWORDS"
        >
          + {{ opportunityPreview.opportunityKw.length - KEYWORDS }}
          more
        </button>
      </ng-container>
    </div>
    <div class="col-12 mb-2">
      <div class="float-right">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
