<app-widget-filter-wrapper>
    <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="filter">
              <label>Search Type</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select formControlName="expertSearchType">
                  <mat-option value="">Expertise or Name</mat-option>
                  <mat-option value="EXPERTISE">Expertise</mat-option>
                  <mat-option value="NAME">Name</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="filter">
              <label>Organization</label>
              <app-tags-input formControlName="suborganizationIds"
                              placeholder="Search organization"
                              [loadTagsFunction]="loadOrganizations"
                              [searchFunction]="autocompleteOrganizations"></app-tags-input>
            </div>
          </div>
          <!--        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="filter">
              <div class="custom-control custom-switch mt-4">
                <input type="checkbox" formControlName="verifiedOnly" class="custom-control-input" id="customSwitches">
                <label class="custom-control-label" for="customSwitches">Unverified/Verified</label>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </section>
</app-widget-filter-wrapper>
<app-infinite-scroll #infiniteScrollComponent [loading$]="loading$"
                     [loadDataFunction]="loadData"
                     [resetDataFunction]="resetData"
                     [mergeWrappersFunction]="mergeWrappers"
                     [filterFormGroup]="filterFormGroup"
                     widgetType="EXPERT"
  >
    <ng-container *ngIf="expertWrapper">
      <ng-container *ngIf="(loading$ | async) == false">
        <section class="container-fluid px-4 pt-2">
          <app-expert-card
            *ngFor="let expert of expertWrapper.analyticsExpertPreviewDtos"
            [expertPreview]="expert"
            linkType="widget"
            [sendContactEnabled]="true"
            [organizationId]="expertWrapper.organizationId"
            [organizationSub]="expertWrapper.organizationUnitIds"
            (selected)="select($event)"
            (keyword$)="kwUpdate = $event"
          ></app-expert-card>
        </section>
      </ng-container>
    </ng-container>
  </app-infinite-scroll>
