<section class="w-100">
  <app-widget-filter-wrapper>
    <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="filter">
              <label>Participating organizations</label>
              <app-tags-input
                formControlName="participatingOrganizationIds"
                placeholder="Search organization"
                [loadTagsFunction]="loadOrganizations"
                [searchFunction]="autocompleteOrganizations"
              ></app-tags-input>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="filter">
              <label>Participating experts</label>
              <app-tags-input
                formControlName="expertCodes"
                placeholder="Search expert"
                [loadTagsFunction]="loadExperts"
                [searchFunction]="autocompleteExperts"
              ></app-tags-input>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="filter">
              <label>Year from</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="yearFrom">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{
                    year
                    }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="filter">
              <label>Year to</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="yearTo">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let year of years" [value]="year">{{
                    year
                    }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </app-widget-filter-wrapper>
  <app-infinite-scroll [loading$]="loading$"
                       [loadDataFunction]="loadData"
                       [resetDataFunction]="resetData"
                       [mergeWrappersFunction]="mergeWrappers"
                       [filterFormGroup]="filterFormGroup"
                       widgetType="RESEARCH_PROJECT"
  >
    <ng-container *ngIf="projectWrapper as wrapper">
      <ng-container *ngIf="(loading$ | async) == false">
        <section class="container-fluid px-4 pt-2">
          <ng-container *ngFor="let project of wrapper.projectPreviewDtos; let i = index;">
            <app-project-card
              linkType="widget"
              [ownerOrganizationId]="organizationId"
              [sendRequestEnabled]="true"
              [project]="project"
              (keyword$)="kwUpdate = $event"
            >
            </app-project-card>
          </ng-container>
        </section>
      </ng-container>
    </ng-container>
  </app-infinite-scroll>
</section>
