<section class="bg-white">
  <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
    <h3>Experts</h3>
    <button class="btn btn--primary" (click)="openEditModal()">
      <svg class="mr-2" width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.9167 8.0833h6.4166a.9167.9167 0 110 1.8334H9.9167v6.4166a.9167.9167 0 11-1.8334 0V9.9167H1.6667a.9167.9167 0 010-1.8334h6.4166V1.6667a.9167.9167 0 011.8334 0v6.4166z"
          fill="currentColor" fill-rule="evenodd"/>
      </svg>
      Add expert
    </button>
  </div>
  <nav class="pl-4">
    <ul class="d-flex" *ngIf="expertOrganizationRelation$ | async as relation">
      <li class="navbar__item pb-2"
          (click)="changeRelation(expertOrganizationRelations.INTERNAL)"
          [class.active]="expertOrganizationRelations.INTERNAL == relation">
        Internal
      </li>
      <li class="navbar__item pb-2"
          (click)="changeRelation(expertOrganizationRelations.AFFILIATED)"
          [class.active]="expertOrganizationRelations.AFFILIATED == relation">
        External
      </li>
    </ul>
  </nav>
  <section class="filters d-flex align-items-center" [formGroup]="filterFormGroup">
    <div class="container ml-0">
      <div class="row mx-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="filter">
            <label>Search experts</label>
            <div class="btn btn--light btn--input">
              <input class="input" aria-label="Search" formControlName="query">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="filter">
            <label>Statistics</label>
            <div class="btn btn--light btn--dropdown">
              <mat-select formControlName="organizationRelatedStatistics">
                <mat-option [value]="false">All</mat-option>
                <mat-option [value]="true">Organization related</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="filter">
            <label>Search Type</label>
            <div class="btn btn--light btn--dropdown">
              <mat-select formControlName="expertSearchType">
                <mat-option value="">Expertise or Name</mat-option>
                <mat-option value="EXPERTISE">Expertise</mat-option>
                <mat-option value="NAME">Name</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="filter">
            <div class="custom-control custom-switch mt-2">
              <input type="checkbox" formControlName="sortByFullName" class="custom-control-input" id="customNameSwitches">
              <label class="custom-control-label" for="customNameSwitches">Sort by name</label>
            </div>
          </div>
          <div class="filter">
            <div class="custom-control custom-switch">
              <input type="checkbox" formControlName="verifiedOnly" class="custom-control-input" id="customVerifiedSwitches">
              <label  class="custom-control-label" for="customVerifiedSwitches">Only verified experts</label>
            </div>
          </div>
          <div class="filter">
            <div class="custom-control custom-switch">
              <input type="checkbox" formControlName="activeOnly" class="custom-control-input" id="onlyActiveSwitches">
              <label  class="custom-control-label" for="onlyActiveSwitches">Only active experts</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<ng-container *ngIf="expertWrapper$ | async as expertWrapper">
  <ng-container *ngIf="(loading$ | async) == false">
    <section class="container d-flex justify-content-between flex-wrap pl-lg-5 pr-4 py-4 overflow-scroll">
      <div class="d-flex align-items-center mb-3 mb-lg-0">
        <div class="verified">
          <div class="d-flex align-items-center">
            <label class="checkbox mr-3">
              <input type="checkbox" class="form-check-input">
              <span class="checkbox__checkmark"></span>
              <svg width="14px" height="10px" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.7036 3.972C1.311 3.5834.6779 3.5866.2894 3.979c-.3886.3926-.3854 1.0257.007 1.4143l5.8254 5.7673c.4113.4071 1.0812.3812 1.4598-.0565l8.1747-9.4499c.3613-.4177.3156-1.0492-.102-1.4105-.4178-.3613-1.0493-.3156-1.4106.102l-7.4749 8.641L1.7036 3.972z"
                  fill="inherit" fill-rule="nonzero"></path>
              </svg>
            </label>
            <span class="font-size-sm font-weight-bold mr-4" *ngIf="selected.size > 0">({{selected.size}}
              selected)</span>
            <span class="font-size-sm font-weight-bold mr-4"> {{expertWrapper.numberOfAllItems}} experts</span>
          </div>
          <div class="d-flex align-items-center">
            <div class="tooltip">
              <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8 16c1.4487 0 2.7949-.3654 4.0385-1.0962 1.205-.705 2.1602-1.6602 2.8653-2.8653C15.6346 10.7949 16 9.4487 16 8s-.3654-2.7949-1.0962-4.0385c-.705-1.205-1.6602-2.1602-2.8653-2.8653C10.7949.3654 9.4487 0 8 0S5.2051.3654 3.9615 1.0962c-1.205.705-2.1602 1.6602-2.8653 2.8653C.3654 5.2051 0 6.5513 0 8s.3654 2.7949 1.0962 4.0385c.705 1.205 1.6602 2.1602 2.8653 2.8653C5.2051 15.6346 6.5513 16 8 16zm0-1.2308c-1.2308 0-2.3718-.3077-3.423-.923-1.0129-.6026-1.8206-1.4103-2.4232-2.4231-.6153-1.0513-.923-2.1923-.923-3.4231s.3077-2.3718.923-3.423C2.7564 3.564 3.5641 2.7563 4.577 2.1537c1.0513-.6153 2.1923-.923 3.4231-.923s2.3718.3077 3.423.923c1.0129.6026 1.8206 1.4103 2.4232 2.4231.6153 1.0513.923 2.1923.923 3.4231s-.3077 2.3718-.923 3.423c-.6026 1.0129-1.4103 1.8206-2.4231 2.4232-1.0513.6153-2.1923.923-3.4231.923zm.6154-9.2307V4.3077H7.3846v1.2308h1.2308zm0 6.1538v-4.923H7.3846v4.923h1.2308z"
                  fill="currentColor" fill-rule="nonzero"></path>
              </svg>
              <p class="tooltip__text">
                This is a tooltip.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex overflow-scroll">
        <button class="btn btn--light-blue mr-2" type="button">
          <svg class="mr-2" width="18px" height="22px" viewBox="0 0 18 22" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.2153.9167c.622 0 1.211.2807 1.6026.7641L16.79 6.5836c.2976.3673.46.8257.46 1.2984l-.0002.6397.0002.0262v8.8688c0 2.2781-1.8468 4.125-4.125 4.125h-8.25c-2.2782 0-4.125-1.8469-4.125-4.125V5.0417c0-2.2782 1.8468-4.125 4.125-4.125h6.3403zm2.8397 5.568l-1.317-1.626.0003 1.6267 1.3167-.0007zm-9.18-3.5055c-1.139 0-2.0625.9234-2.0625 2.0625v12.375c0 1.139.9234 2.0625 2.0625 2.0625h8.25c1.139 0 2.0625-.9234 2.0625-2.0625V8.5479h-2.4492c-1.1391 0-2.0625-.9234-2.0625-2.0625V2.9792H4.875zm5.1563 10.828l.4124-.3093c.4557-.3417 1.102-.2494 1.4438.2063.3417.4556.2494 1.102-.2062 1.4437L9.627 16.6885A1.0267 1.0267 0 019 16.901c-.236 0-.4533-.0792-.627-.2125L6.3187 15.148c-.4557-.3417-.548-.9881-.2063-1.4437.3417-.4557.9881-.548 1.4438-.2063l.4124.3094V9.7972c0-.5696.4618-1.0313 1.0313-1.0313.5695 0 1.0313.4617 1.0313 1.0313v4.01z"
              fill="#303FFB" fill-rule="evenodd"/>
          </svg>
          Import
        </button>
        <button class="btn btn--light-blue" type="button">
          <svg class="mr-2" width="18px" height="22px" viewBox="0 0 18 22" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.2153.9167c.622 0 1.211.2807 1.6026.7641L16.79 6.5836c.2976.3673.46.8257.46 1.2984l-.0002.6397.0002.0262v8.8688c0 2.2781-1.8468 4.125-4.125 4.125h-8.25c-2.2782 0-4.125-1.8469-4.125-4.125V5.0417c0-2.2782 1.8468-4.125 4.125-4.125h6.3403zm2.8397 5.568l-1.317-1.626.0003 1.6267 1.3167-.0007zm-9.18-3.5055c-1.139 0-2.0625.9234-2.0625 2.0625v12.375c0 1.139.9234 2.0625 2.0625 2.0625h8.25c1.139 0 2.0625-.9234 2.0625-2.0625V8.5479h-2.4492c-1.1391 0-2.0625-.9234-2.0625-2.0625V2.9792H4.875zm5.1563 8.8805l.4124.3093c.4557.3418 1.102.2494 1.4438-.2062.3417-.4556.2494-1.102-.2062-1.4438L9.627 8.9784A1.0267 1.0267 0 009 8.766c-.236 0-.4533.0792-.627.2125L6.3187 10.519c-.4557.3418-.548.9882-.2063 1.4438s.9881.548 1.4438.2062l.4124-.3093v4.01c0 .5696.4618 1.0313 1.0313 1.0313.5695 0 1.0313-.4617 1.0313-1.0312v-4.0101z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
          Export
        </button>
      </div>
    </section>

    <section class="container px-4">
      <app-expert-card *ngFor="let expert of expertWrapper.analyticsExpertPreviewDtos"
                       [expertPreview]="expert"
                       [organizationId]="expertWrapper.organizationId"
                       [organizationSub]="expertWrapper.organizationUnitIds"
                       [displayActions]="true"
                       (selected)="select($event)"
                       linkType="standard"
      ></app-expert-card>
    </section>
    <app-pagination [pageInfo]="pageInfo$ | async"
                    [hidden]="loading$ | async"
                    [numberOfResults]="expertWrapper.numberOfAllItems"
                    (pageChanged)="pageInfo$.next($event)"></app-pagination>
  </ng-container>
</ng-container>
