<section class="bg-white">
  <h3 class="mb-3 mr-auto pt-5 pl-4">Organization settings</h3>
  <nav class="border-bottom pl-4 overflow-scroll">
    <div class="d-flex">
      <a class="navbar__item pb-2" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'organizationSettings' | path: this.organizationId">Organization licences</a>
      <a class="navbar__item pb-2" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'organizationWidgets' | path: this.organizationId">Widget types</a>
      <a class="navbar__item pb-2" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'organizationPublicProfiles' | path: this.organizationId">Public profiles</a>
    </div>
  </nav>
</section>
