<div class="modal__content">
  <div class="modal__header">
    <h3
      class="modal__title">{{(commercializationDetail$ | async) ? 'Edit commercialization project' : 'Create new commercialization project'}}</h3>
  </div>
  <div class="modal__body" [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex justify-content-lg-end mb-2 mb-lg-0">
        <figure class="avatar avatar__md overflow-hidden">
          <img *ngIf="commercializationDetail$ | async as commercialization; else altIcon"
               [hidden]="imgFilePreviewUrl$ | async"
               [src]="commercialization.commercializationProjectId | commercializationImg: commercialization.imgCheckSum"
               appOptionalImg
               [altTemplate]="altIcon">
          <ng-template #altIcon>
            <fa-icon icon="rocket"></fa-icon>
          </ng-template>
          <img *ngIf="imgFilePreviewUrl$ | async as file" [src]="file">
        </figure>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-file-drop (filesUpdated)="imgFile$.next($event[0])"
                       (fileUrlUpdated)="imgFilePreviewUrl$.next($event)"
                       class="w-100">
        </app-file-drop>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Project name</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" formControlName="name">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Categories</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-multi-select formControlName="commercializationCategoryIds"
                          [noValueMeansAll]="false"
                          [showAllSelectedValues]="true"
                          class="input input--gray"
                          [options]="commercializationCategories$ | async"></app-multi-select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Status</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <mat-select aria-label="domain" class="input input--gray" formControlName="commercializationStatusId">
          <mat-option *ngFor="let status of commercializationStatuses$ | async"
                      [value]="status.statusId">{{status.statusName}}</mat-option>
        </mat-select>

      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Executive summary</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="executiveSummary"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Use case</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="useCase"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Pain description</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="painDescription"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Competitive advantage</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="competitiveAdvantage"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Technical principles</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="technicalPrinciples"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Keywords</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-tags-input class="w-100" [searchFunction]="lookupKeywords" type="filled"
                        formControlName="keywords" [customTags]="true"></app-tags-input>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Link</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" type="url" aria-label="idea score" formControlName="link">
      </div>
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Readiness level (TRL)</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="readiness level" formControlName="technologyReadinessLevel">
      </div>
    </div>

    <div class="row mb-4 pb-4 border-bottom">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Domain</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <mat-select class="input input--gray" aria-label="domain" formControlName="commercializationDomainId">
          <mat-option *ngFor="let domain of commercializationDomains$ | async"
                      [value]="domain.id">{{domain.description}}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="mb-4" *ngFor="let relationWrapper of organizationRelations" [formGroup]="organizationSearchFg">
      <ng-container *ngIf="organizations$ | async as organizations">
        <app-add-organization [organizationDtos]="filterOrganizations(organizations, relationWrapper.relation)"
                              (organizationChangeEvent)="organizationChange($event, relationWrapper.relation)"
                              [label]="relationWrapper.title"
                              [organizationId$]="isOwnerRelation(relationWrapper.relation) ? organizationId$ : undefined" >

        </app-add-organization>
      </ng-container>
    </div>

    <div *ngIf="teamMembers$ | async as experts" class="pt4 border-top">
      <app-add-experts [userExpertBaseDtos]="experts" (expertChangeEvent)="expertChange($event)"></app-add-experts>

    </div>

  </div>
  <div class="modal__section-footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="saveChanges()">
        Save
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
