<app-user-settings-header></app-user-settings-header>
<div class="bg-white p-4">
  <div class="preview-list mb-3">
    <div *ngFor="let container of suggestions$ | async"
         [class.preview-list-item-success]="container.claimed$ | async"
         class="preview-list-item">
      <div class="row align-items-center" *ngIf="container.profile as profile">
        <div class="col-4">
          <a class="link-dark" [routerLink]="'expertDetail' | path: profile.expertCode">{{profile.fullName}}</a>
        </div>
        <div class="col-4">
          <span *ngIf="profile.organizationBaseDtos.length > 0">
            {{profile.organizationBaseDtos[0].organizationAbbrev || profile.organizationBaseDtos[0].organizationName}}
            <a *ngIf="profile.organizationBaseDtos.length - 1 as others" [ngbPopover]="popover"
               (click)="$event.stopPropagation()">
              +{{others}} more
            </a>
            <ng-template #popover>
              <app-organizations-popover [organizations]="profile.organizationBaseDtos"></app-organizations-popover>
            </ng-template>
          </span>
        </div>
        <div class="col-4 text-right">
          <button type="button" [ngbPopover]="popover" placement="left" container="body"
                  class="btn btn-light mr-2"
                  popoverClass="outcome-preview-popover"
                  (click)="$event.stopPropagation()">
            Show outcomes
          </button>
          <ng-template #popover>
            <div [class.border-bottom]="!last" *ngFor="let outcome of profile.itemPreviewDtos; let last = last">
              <div class="row align-items-start">
                <div class="col-6">
                  {{outcome.itemName}}
                </div>
                <div class="col-4">
                  {{outcome.itemTypeId | outcomeType | async}}
                </div>
                <div class="col-2">
                  {{outcome.year}}
                </div>
              </div>
            </div>
          </ng-template>
          <button disabled class="btn btn-primary" *ngIf="container.saving$ | async; else actions">
            <app-loader></app-loader>
            Saving
          </button>
          <ng-template #actions>
            <button type="button"
                    *ngIf="((container.claimed$ | async) == false) && !container.profile.claimedByAnotherUser"
                    class="btn btn-primary" (click)="claimProfile(container)">
              Claim profile
            </button>
            <button type="button" *ngIf="container.claimed$ | async" class="btn btn-danger"
                    (click)="unclaimProfile(container)">
              Unclaim profile
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
