<section class="w-100">
  <app-widget-filter-wrapper>
    <section class="d-flex align-items-center" [formGroup]="filterFormGroup">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 pt-3 pb-md-3">
              <label>Opportunity type</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="opportunityType">
                  <mat-option [value]="">All</mat-option>
                  <mat-option [value]="i.id" *ngFor="let i of opportunityTypes$| async">{{i.name}}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Job type</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="jobType">
                  <mat-option [value]="">All</mat-option>
                  <mat-option [value]="i.id" *ngFor="let i of jobTypes$| async">{{i.name}}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Organization</label>
              <app-tags-input formControlName="organizationId"
                              placeholder="Search organization"
                              [loadTagsFunction]="loadOrganizations"
                              [searchFunction]="autocompleteOrganizations"></app-tags-input>
            </div>
          </div>
        </div>
      </div>
    </section>
  </app-widget-filter-wrapper>
  <app-infinite-scroll [loading$]="loading$"
                       [loadDataFunction]="loadData"
                       [resetDataFunction]="resetData"
                       [mergeWrappersFunction]="mergeWrappers"
                       [afterSubscribeFunction]="saveInteractions"
                       [filterFormGroup]="filterFormGroup"
                       widgetType="OPPORTUNITY"
  >
    <ng-container *ngIf="opportunityWrapper as wrapper">
      <ng-container *ngIf="(loading$ | async) == false">
        <section class="container-fluid px-3 px-md-4 pt-2">
          <ng-container *ngFor="let opportunity of wrapper.opportunityPreviewDtos">
            <app-opportunity-card [opportunityPreview]="opportunity"
                                  [organizationId]="organizationId"
                                  (opportunityType$)="acceptOpportunityType($event)"
                                  (jobType$)="acceptJobType($event)"
                                  (keyword$)="acceptQuery($event)"
                                  (organization$)="acceptOrganization($event)"
                                  [linkType]="'widget'"></app-opportunity-card>
          </ng-container>
        </section>
      </ng-container>
    </ng-container>
  </app-infinite-scroll>
</section>
