<app-organization-settings-header [organizationId]="this.organizationId"></app-organization-settings-header>

<div class="bg-white px-4 py-4 panel">
  <div class="row mb-3">
    <div class="col-12 col-lg-8">
      <h4>Allowed widget types</h4>
      <div class="mt-3">
        <form class="bg-white px-4" [formGroup]="formGroup" (change)="submit()">
          <div *ngFor="let allowedWidget of widgetTypes">
            <mat-checkbox type="checkbox"
                          formControlName="{{ allowedWidget.id }}">
              {{ allowedWidget.description }}
            </mat-checkbox>
          </div>
        </form>
      </div>

      <h4>Widget code
        <button class="btn-plain btn-plain-blue" (click)="copyToClipboard()" ngbTooltip="Copy code to clipboard">
          <fa-icon icon="copy"></fa-icon>
        </button>
      </h4>
      <textarea class="textarea" *ngIf="widgetUrl$ | async as url" #widgetCodeElement readonly
      >
      &lt;div id="expertsWidget"&gt;
        &lt;iframe src="{{(url)}}" width="100%" allowFullScreen id="expertsAiWidget"&gt;&lt;/iframe&gt;
        &lt;script src="https://web-integration.experts.ai/library_prod.js"&gt;&lt;/script&gt;
      &lt;/div&gt;
      </textarea>

      <h4>Widget preview</h4>
      <iframe class="widget-preview w-100 border" style="height: 500px" *ngIf="widgetUrl$ | async as url"
              [src]="url | url">
      </iframe>

    </div>
  </div>
</div>
