<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="opportunityDetail$ | async as opportunityDetail">
  <special-abilities-bar class="special-abilities-bar"></special-abilities-bar>
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-3">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h3 class="mb-2">{{opportunityDetail.opportunityName}}</h3>
          <div class="tags d-flex flex-wrap">
            <button class="tag cobalt mr-1 mb-1"
                    *ngFor="let keyword of opportunityDetail.opportunityKw">{{keyword}}</button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!--          <button type="button" class="btn btn&#45;&#45;light-blue mr-2">-->
          <!--            <svg class="mr-2" width="20px" height="18px" viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">-->
          <!--              <path-->
          <!--                d="M10.3282 5.2435l-.0033-3.7733c-.0007-.8399 1.0235-1.251 1.6038-.6438l7.1212 7.4528a.9308.9308 0 010 1.286l-7.1085 7.4395c-.5797.6067-1.603.1969-1.6038-.6422l-.0035-4.1777c-3.8114.4627-6.415 2.0095-7.901 4.6353-.485.8572-1.795.4722-1.7393-.5111.3557-6.268 3.6298-10.023 9.6344-11.0655zm6.7614 3.6787l-4.9011-5.1293.0019 2.2506a.9308.9308 0 01-.8122.924c-4.4151.567-7.1336 2.5776-8.2575 6.1397 1.9952-1.6815 4.7006-2.639 8.0788-2.8737.5378-.0374.9948.3886.9952.9277l.0025 2.8812 4.8924-5.1202z"-->
          <!--                fill="currentColor"-->
          <!--                fill-rule="evenodd"-->
          <!--              />-->
          <!--            </svg>-->
          <!--            Share-->
          <!--          </button>-->
        </div>
      </div>
    </div>
    <!--    <nav class="pr-4 pl-4">-->
    <!--      <ul class="d-flex overflow-scroll">-->
    <!--        <li class="navbar__item active pb-2">Overview</li>-->
    <!--        <li class="navbar__item pb-2">Outcomes</li>-->
    <!--        <li class="navbar__item pb-2 notification">Comments</li>-->
    <!--        <li class="navbar__item pb-2">Activity</li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </section>

  <section class="container bg-white h-100 pt-4 pl-4">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div *ngIf="opportunityDetail?.opportunityDescription">
          <div class="overview">
            <h4>Description</h4>
          </div>
          <div class="overview mb-4">
            <p class="font-size-xs text-justify text-break">
              {{opportunityDetail.opportunityDescription}}
            </p>
          </div>
        </div>
        <div *ngIf="opportunityDetail?.opportunityTechReq">
          <div class="overview">
            <h4>Technical requirements</h4>
          </div>
          <div class="overview mb-4">
            <p class="font-size-xs text-justify text-break">
              {{opportunityDetail.opportunityTechReq}}
            </p>
          </div>
        </div>
        <div *ngIf="opportunityDetail?.opportunityFormReq">
          <div class="overview">
            <h4>Other requirements</h4>
          </div>
          <div class="overview mb-4">
            <p class="font-size-xs text-justify text-break">
              {{opportunityDetail.opportunityFormReq}}
            </p>
          </div>
        </div>
        <div *ngIf="opportunityDetail?.opportunityBenefit">
          <div class="overview">
            <h4>Benefits</h4>
          </div>
          <div class="overview mb-4">
            <p class="font-size-xs text-justify text-break">
              {{opportunityDetail.opportunityBenefit}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-1">
          <div class="overview mb-0">
            <h4>Type</h4>
          </div>
          <div class="overview mt-0">
            <div class="tags d-flex flex-wrap">
              <button class="tag gray-100 mr-1 mb-1"
                      *ngFor="let jobType of opportunityDetail.jobTypes">
                {{jobType | jobType | async}}
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="mb-1">
          <div class="overview mb-0">
            <h4>Company</h4>
          </div>
          <div class="overview mt-0">
            <div *ngFor="let organization of opportunityDetail.organizationBaseDtos">
              {{organization.organizationAbbrev ? organization.organizationAbbrev : organization.organizationName}}
            </div>
          </div>
        </div>
        <div class="mb-1" *ngIf="opportunityDetail?.opportunityLocation">
          <div class="overview mb-0">
            <h4>Location</h4>
          </div>
          <div class="overview mt-0">
            {{opportunityDetail.opportunityLocation}}
          </div>
          <div>

          </div>
        </div>
        <div class="mb-1" *ngIf="opportunityDetail?.opportunityWage">
          <div class="overview mb-0">
            <h4>Wage</h4>
          </div>
          <div class="overview mt-0">
            {{opportunityDetail.opportunityWage}}
          </div>
          <div>

          </div>
        </div>
        <div class="mb-1" *ngIf="opportunityDetail?.expertPreviews && opportunityDetail.expertPreviews.length != 0">
          <div class="overview mb-0">
            <h4>Contact person</h4>
          </div>
          <div class="overview mt-0">
            <div *ngFor="let expert of opportunityDetail.expertPreviews">
              {{expert.name}}
            </div>
          </div>
        </div>
        <div class="mb-1" *ngIf="opportunityDetail?.opportunityExtLink">
          <div class="overview mb-0">
            <h4>External link</h4>
          </div>
          <div class="overview mt-0">
            <a href="{{opportunityDetail.opportunityExtLink}}">
              {{opportunityDetail.opportunityExtLink | shortUrl}}
            </a>
          </div>
          <div>

          </div>
        </div>
        <div class="mb-1">

          <div class="overview mt-0">
            <button class="btn btn-lg btn-success" (click)="openContactModal()">
              <fa-icon icon="envelope" class="mr-2"></fa-icon>
              Apply
            </button>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </section>
</section>
