<article class="card d-flex flex-column">
  <h4 class="card__title mb-4">
    <a [routerLink]="'organizationOutcomes' | path: organizationId" class="link-dark">
      Research outcomes
    </a>
  </h4>
  <google-chart [type]="chartType"
                [data]="data"
                [dynamicResize]="true"
                *ngIf="data$ | async as data"
                [options]="options"
                style="width: 100%; height: 100%; min-height: 300px">
  </google-chart>
</article>
