<form class="bg-white px-4 py-4" [formGroup]="formGroup" (submit)="submit()">
  <h3>Set new password</h3>
  <ng-container *ngIf="session$ | async; else setPasswordForm">
    You are already signed in.
  </ng-container>
  <ng-template #setPasswordForm>
    <input name="email" class="d-none" type="text" [value]="email$ | async">
    <div class="row mb-3 mt-3">
      <div class="col-12 col-md-4">
        <label class="mb-1">New password</label>
        <input class="input input--gray font-size-xs" type="password" formControlName="password"
               aria-label="New password">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-md-4">
        <label class="mb-1">Confirm new password</label>
        <input class="input input--gray font-size-xs" type="password" formControlName="confirmPassword"
               aria-label="Confirm new password">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <button class="btn" *ngIf="saving$ | async" disabled>
          <app-loader></app-loader>
          Saving
        </button>
        <button class="btn btn--blue" *ngIf="(saving$ | async) == false">Set password</button>
      </div>
    </div>
  </ng-template>
</form>
