<div class="vh-100 d-flex justify-content-center align-items-center">
  <div>
    <div class="mb-4 text-center">
      <fa-icon [icon]="['fas', 'check-circle']" size="5x" class="text-success"></fa-icon>
    </div>
    <div class="text-center">
      <h1>Thank you for subscribing to our newsletter!</h1>
      <p>We'll be in touch.</p>
      <p>You can check the current opportunities by clicking the button below.</p>
      <a class="btn btn-primary btn--blue" href="https://experts.ai/widgets/organizations/314353?opportunity=&outcomeListMode=OPPORTUNITY&page=1">All Opportunities</a>
      <p class="small">If you wish to unsubscribe, click <a (click)="unsubscribe()">here</a>.</p>
    </div>
  </div>
</div>
