<section class="bg-white">
  <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
    <h3>Commercialization projects</h3>
    <button class="btn btn--primary" *ngIf="organizationId$ | async as organizationId"
            (click)="openCreateCommercializationModal(organizationId)">
      <fa-icon icon="plus" class="mr-2"></fa-icon>
      Add commercialization
    </button>
  </div>
  <section class="filters d-flex align-items-center" [formGroup]="filterFormGroup">
    <div class="container ml-0">
      <div class="row mx-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="filter">
            <label>Search</label>
            <div class="btn btn--light btn--input">
              <input class="input" aria-label="Search" formControlName="query">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<ng-container *ngIf="commercializationProjectWrapper$ | async as commercializationProjectWrapper">
  <ng-container *ngIf="(loading$ | async) == false">
    <section class="container d-flex justify-content-between flex-wrap pl-lg-5 pr-4 py-4 overflow-scroll">
      <div class="d-flex align-items-center mb-3 mb-lg-0">
        <div class="verified">
          <div class="d-flex align-items-center">
            <label class="checkbox mr-3">
              <input type="checkbox" class="form-check-input">
              <span class="checkbox__checkmark"></span>
              <svg width="14px" height="10px" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.7036 3.972C1.311 3.5834.6779 3.5866.2894 3.979c-.3886.3926-.3854 1.0257.007 1.4143l5.8254 5.7673c.4113.4071 1.0812.3812 1.4598-.0565l8.1747-9.4499c.3613-.4177.3156-1.0492-.102-1.4105-.4178-.3613-1.0493-.3156-1.4106.102l-7.4749 8.641L1.7036 3.972z"
                  fill="inherit" fill-rule="nonzero"></path>
              </svg>
            </label>
            <span class="font-size-sm font-weight-bold mr-4"> {{commercializationProjectWrapper.numberOfAllItems}}
              commercialization projects</span>
          </div>
        </div>
      </div>
      <div class="d-flex overflow-scroll">
        <button class="btn btn--light-blue mr-2" type="button">
          <svg class="mr-2" width="18px" height="22px" viewBox="0 0 18 22" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.2153.9167c.622 0 1.211.2807 1.6026.7641L16.79 6.5836c.2976.3673.46.8257.46 1.2984l-.0002.6397.0002.0262v8.8688c0 2.2781-1.8468 4.125-4.125 4.125h-8.25c-2.2782 0-4.125-1.8469-4.125-4.125V5.0417c0-2.2782 1.8468-4.125 4.125-4.125h6.3403zm2.8397 5.568l-1.317-1.626.0003 1.6267 1.3167-.0007zm-9.18-3.5055c-1.139 0-2.0625.9234-2.0625 2.0625v12.375c0 1.139.9234 2.0625 2.0625 2.0625h8.25c1.139 0 2.0625-.9234 2.0625-2.0625V8.5479h-2.4492c-1.1391 0-2.0625-.9234-2.0625-2.0625V2.9792H4.875zm5.1563 10.828l.4124-.3093c.4557-.3417 1.102-.2494 1.4438.2063.3417.4556.2494 1.102-.2062 1.4437L9.627 16.6885A1.0267 1.0267 0 019 16.901c-.236 0-.4533-.0792-.627-.2125L6.3187 15.148c-.4557-.3417-.548-.9881-.2063-1.4437.3417-.4557.9881-.548 1.4438-.2063l.4124.3094V9.7972c0-.5696.4618-1.0313 1.0313-1.0313.5695 0 1.0313.4617 1.0313 1.0313v4.01z"
              fill="#303FFB" fill-rule="evenodd"/>
          </svg>
          Import
        </button>
        <button class="btn btn--light-blue" type="button">
          <svg class="mr-2" width="18px" height="22px" viewBox="0 0 18 22" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.2153.9167c.622 0 1.211.2807 1.6026.7641L16.79 6.5836c.2976.3673.46.8257.46 1.2984l-.0002.6397.0002.0262v8.8688c0 2.2781-1.8468 4.125-4.125 4.125h-8.25c-2.2782 0-4.125-1.8469-4.125-4.125V5.0417c0-2.2782 1.8468-4.125 4.125-4.125h6.3403zm2.8397 5.568l-1.317-1.626.0003 1.6267 1.3167-.0007zm-9.18-3.5055c-1.139 0-2.0625.9234-2.0625 2.0625v12.375c0 1.139.9234 2.0625 2.0625 2.0625h8.25c1.139 0 2.0625-.9234 2.0625-2.0625V8.5479h-2.4492c-1.1391 0-2.0625-.9234-2.0625-2.0625V2.9792H4.875zm5.1563 8.8805l.4124.3093c.4557.3418 1.102.2494 1.4438-.2062.3417-.4556.2494-1.102-.2062-1.4438L9.627 8.9784A1.0267 1.0267 0 009 8.766c-.236 0-.4533.0792-.627.2125L6.3187 10.519c-.4557.3418-.548.9882-.2063 1.4438s.9881.548 1.4438.2062l.4124-.3093v4.01c0 .5696.4618 1.0313 1.0313 1.0313.5695 0 1.0313-.4617 1.0313-1.0312v-4.0101z"
              fill="currentColor" fill-rule="evenodd"></path>
          </svg>
          Export
        </button>
      </div>
    </section>

    <section class="container px-4">
      <app-commercialization-card *ngFor="let project of commercializationProjectWrapper.evidenceCommercializationDtos"
                                  [project]="project">
      </app-commercialization-card>
    </section>
    <app-pagination [pageInfo]="pageInfo$ | async"
                    [hidden]="loading$ | async"
                    [numberOfResults]="commercializationProjectWrapper.numberOfAllItems"
                    (pageChanged)="pageInfo$.next($event)"></app-pagination>
  </ng-container>
</ng-container>
