<app-organization-settings-header [organizationId]="this.organizationId"></app-organization-settings-header>

<div class="bg-white px-4 py-4">
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="mt-3" *ngIf="data$ | async as visibilities">
        <form class="bg-white px-4 py-4" [formGroup]="formGroup" (change)="submit()">
          <div *ngFor="let visibility of visibilities | keyvalue">
            <span *ngIf="visibility.key !== 'organizationId'">
              {{ visibility.key }}
              <input type="checkbox"
                     [value]="true"
                     formControlName="{{ visibility.key }}"/>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
