<section class="w-100">
  <section class="bg-white ">
    <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
      <h3>Opportunities</h3>
      <!--(click)="addOutcome(organizationId)"-->
      <button (click)="openEditOpportunityModal(null)" *ngIf="organizationId$ | async as organizationId"
              class="btn btn--primary">
        <fa-icon class="mr-2" icon="plus"></fa-icon>
        <span>Add opportunity</span>
      </button>
    </div>
    <section [formGroup]="filterFormGroup" class="filters d-flex align-items-center">
      <div class="container ml-0">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3 col-xl-3">
            <div class="filter mb-3 mb-md-0 pt-3 pb-md-3">
              <label>Search opportunities</label>
              <div class="btn btn--light btn--input">
                <input aria-label="Search" class="input" formControlName="query">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 col-xl-3">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Opportunity type</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="opportunityType">
                  <mat-option [value]="">All</mat-option>
                  <mat-option *ngFor="let i of opportunityTypes$| async" [value]="i.id">{{i.name}}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-3 col-xl-3">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Job type</label>
              <div class="btn btn--light btn--dropdown">
                <mat-select [compareWith]="compare" formControlName="jobType">
                  <mat-option [value]="">All</mat-option>
                  <mat-option *ngFor="let i of jobTypes$| async" [value]="i.id">{{i.name}}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="filter">
              <div class="custom-control custom-switch mt-5">
                <input class="custom-control-input" formControlName="includeHidden" id="addHidden" type="checkbox">
                <label class="custom-control-label" for="addHidden">Include hidden opportunities</label>
              </div>
            </div>
          </div>
          <!--<div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="filter mb-3 mb-md-0 py-md-3">
              <label>Organization</label>
              <app-tags-input formControlName="organizationId"
                              placeholder="Search organization"
                              [loadTagsFunction]="loadOrganizations"
                              [searchFunction]="autocompleteOrganizations"></app-tags-input>
            </div>
          </div>-->
        </div>
      </div>
    </section>
  </section>
  <app-page-loader *ngIf="loading$ | async"></app-page-loader>
  <div *ngIf="organizationId$| async as organizationId">
    <ng-container *ngIf="opportunityWrapper$ | async as wrapper">
      <ng-container *ngIf="(loading$ | async) == false">
        <section class="container-fluid px-4 pt-2">
          <ng-container *ngFor="let opportunity of wrapper.opportunityPreviewDtos">
            <app-opportunity-card (jobType$)="acceptJobType($event)"
                                  (keyword$)="acceptQuery($event)"
                                  (opportunityType$)="acceptOpportunityType($event)"
                                  (organization$)="acceptOrganization($event)"
                                  [linkType]="'standard'"
                                  [opportunityPreview]="opportunity"
                                  [organizationId]="organizationId">
              <div class="">
                <a (click)="openEditOpportunityModal(opportunity)" class="btn btn-primary mt-2 ml-2">
                  Edit
                </a>
                <a (click)="toggleHidden(opportunity)" class="btn btn-primary mt-2 ml-2">
                  {{opportunity.hidden ? "Show" : "Hide"}}
                </a>
                <a (click)="deleteOpportunity(opportunity)" class="btn btn-danger mt-2 ml-2">
                  Delete
                </a>
              </div>
            </app-opportunity-card>
          </ng-container>
        </section>
        <app-pagination (pageChanged)="pageInfo$.next($event)"
                        [numberOfResults]="wrapper.numberOfAllItems"
                        [pageInfo]="pageInfo$ | async"></app-pagination>
      </ng-container>
    </ng-container>
  </div>
</section>
