<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="multilingualDetail$ | async as multilingual">
  <special-abilities-bar class="special-abilities-bar"></special-abilities-bar>
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-3">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h3 class="mb-2">{{multilingual.preview.name}}</h3>
          <div class="tags d-flex flex-wrap">
            <button class="tag cobalt mr-1 mb-1"
                    *ngFor="let keyword of multilingual.preview.specialization">{{keyword}}</button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="btn btn--light btn--dropdown mr-2" style="width: 72px;">
            <mat-select class="form-select" [(ngModel)]="selectedLanguageCode" (ngModelChange)="onLanguageChange()">
              <mat-option *ngFor="let translation of multilingual.translations" [value]="translation.languageCode">{{translation.languageCode}}</mat-option>
            </mat-select>
          </div>
        </div>
        </div>
    </div>
    <!--    <nav class="pr-4 pl-4">-->
    <!--      <ul class="d-flex overflow-scroll">-->
    <!--        <li class="navbar__item active pb-2">Overview</li>-->
    <!--        <li class="navbar__item pb-2">Outcomes</li>-->
    <!--        <li class="navbar__item pb-2 notification">Comments</li>-->
    <!--        <li class="navbar__item pb-2">Activity</li>-->
    <!--      </ul>-->
    <!--    </nav>-->
  </section>

  <section class="container bg-white h-100 pt-4 pl-4">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Main info</h4>
        </div>
        <div class="overview mb-4">
          <fa-icon icon="tag" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{multilingual.preview.type | equipmentType |async}}
            <div *ngIf="multilingual.preview.domainId">
              ({{multilingual.preview.domainId | equipmentDomain | async}})
            </div>
          </span>
        </div>

        <div *ngIf="multilingual.preview.description">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Description</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.description}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.goodForDescription">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Good for</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.goodForDescription}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.infrastructureDescription">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Infrastructure</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.infrastructureDescription}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.targetGroup">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Target Group</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.targetGroup}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.preparationTime">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Preparation</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.preparationTime}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.trl">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>TRL</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.trl}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.durationTime">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Duration</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.durationTime}}
            </p>
          </div>
        </div>

        <div *ngIf="multilingual.preview.equipmentCost">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Cost</h4>
          </div>
          <div class="overview">
            <fa-icon icon="file-alt" class="mr-2"></fa-icon>
            <p class="font-size-xs text-justify">
              {{multilingual.preview.equipmentCost}}
            </p>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Organizations</h4>
          </div>

          <a [routerLink]="'organizationDetail' | path: organization.organizationId"
             class="d-flex align-items-center mb-2" *ngFor="let organization of multilingual.preview.organizations">
            <app-organization-preview [organization]="organization"></app-organization-preview>
          </a>
        </div>

        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Experts</h4>
          </div>
          <app-expert-links [experts]="multilingual.preview.expertPreviews"></app-expert-links>
        </div>

        <div class="mb-4">
          <button class="btn btn-lg btn-success"
                  (click)="openContactModal()"
                  matTooltip="Are you interested in this particular service? Let us know by clicking this button and submitting the form,
      we will contact you.">
            <fa-icon icon="envelope" class="mr-2" ></fa-icon>
            Order
          </button>
        </div>

      </div>
    </div>
  </section>
</section>
