<div class="mb-0" *ngIf="hideText; else fullText">
  {{parsedText}}
  <a *ngIf="parsedText != text" (click)="hideText = !hideText">...</a>
</div>

<ng-template #fullText>
  <div class="mb-0" (click)="hideText = !hideText">{{text}}</div>
</ng-template>
