<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<section class="w-100" *ngIf="projectDetail$ | async as projectDetail">
  <special-abilities-bar class="special-abilities-bar"></special-abilities-bar>
  <section class="bg-white border-bottom">
    <div class="container pt-4 pb-0">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h3 class="mb-2">{{projectDetail.name}}</h3>
        </div>
        <div class="d-flex align-items-center">
          <!--          <button type="button" class="btn btn&#45;&#45;light-blue mr-2">-->
          <!--            <svg class="mr-2" width="20px" height="18px" viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">-->
          <!--              <path-->
          <!--                d="M10.3282 5.2435l-.0033-3.7733c-.0007-.8399 1.0235-1.251 1.6038-.6438l7.1212 7.4528a.9308.9308 0 010 1.286l-7.1085 7.4395c-.5797.6067-1.603.1969-1.6038-.6422l-.0035-4.1777c-3.8114.4627-6.415 2.0095-7.901 4.6353-.485.8572-1.795.4722-1.7393-.5111.3557-6.268 3.6298-10.023 9.6344-11.0655zm6.7614 3.6787l-4.9011-5.1293.0019 2.2506a.9308.9308 0 01-.8122.924c-4.4151.567-7.1336 2.5776-8.2575 6.1397 1.9952-1.6815 4.7006-2.639 8.0788-2.8737.5378-.0374.9948.3886.9952.9277l.0025 2.8812 4.8924-5.1202z"-->
          <!--                fill="currentColor"-->
          <!--                fill-rule="evenodd"-->
          <!--              />-->
          <!--            </svg>-->
          <!--            Share-->
          <!--          </button>-->
        </div>
      </div>
      <nav class="mt-2">
        <ul class="d-flex overflow-scroll">
          <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.OVERVIEW"
              [replaceUrl]="true"
              [routerLink]="[]" [queryParams]="{mode: modes.OVERVIEW}">
            Overview
          </li>
          <li class="navbar__item pb-2" [class.active]="(mode$ | async) == modes.OUTCOMES"
              [replaceUrl]="true"
              [routerLink]="[]" [queryParams]="{mode: modes.OUTCOMES}">
            Outcomes
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="container bg-white h-100 pt-4 pl-4" *ngIf="(mode$ | async) == modes.OVERVIEW">
    <div class="row">
      <div class="col-12 col-lg-8 mb-4">
        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Main info</h4>
        </div>
        <div class="overview" *ngIf="projectDetail.projectNumber">
          <fa-icon icon="tag" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{projectDetail.projectNumber}}
          </span>
        </div>
        <div class="overview" *ngIf="projectDetail.projectProgram && projectDetail.projectProgram.projectProgramName">
          <fa-icon icon="graduation-cap" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            {{projectDetail.projectProgram.projectProgramName}}
          </span>
        </div>
        <div class="overview" *ngIf="projectDetail.projectLink">
          <span class="font-size-xs">
            <a [href]="projectDetail.projectLink" target="_blank">
              <fa-icon icon="link" class="mr-2"></fa-icon>Project Link</a>
          </span>
        </div>
        <div class="overview mb-4">
          <fa-icon icon="file-alt" class="mr-2"></fa-icon>
          <div>
            <p class="font-size-xs text-justify text-break">
              {{projectDetail.description}}
            </p>
            <div class="tags d-flex flex-wrap">
              <button class="tag cobalt mr-1 mb-1 text-break"
                      *ngFor="let keyword of projectDetail.keywords">{{keyword}}</button>
            </div>
          </div>
        </div>

        <div class="overview">
          <button class="expand-btn mr-2">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <h4>Project finances</h4>
        </div>
        <div class="data-table border mb-4">
          <div class="data-table__wrapper">
            <table>
              <thead class="data-table__header">
              <tr>
                <th>Organization</th>
                <th class="text-center" *ngFor="let year of years$ | async">{{year}}</th>
              </tr>
              </thead>
              <tbody>
              <tr class="data-table__row" *ngFor="let organization of projectDetail?.organizationBaseDtos">
                <td>{{organization.organizationAbbrev || organization.organizationName}}</td>
                <td class="text-right text-nowrap" *ngFor="let year of years$ | async">
                  {{projectDetail.organizationFinanceMap | getProperty: organization.organizationId | getProperty: year | number}}
                  CZK
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-4">
          <div class="overview">
            <h4>Confidentiality</h4>
          </div>
          <div>
            <button class=" ml-1 tag {{projectDetail.confidentiality | confidentialityColor}}">
              {{projectDetail.confidentiality | confidentialityTitle}}
            </button>
          </div>
        </div>
        <div class="mb-4" *ngIf="projectDetail.startDate || projectDetail.endDate">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Dates</h4>
          </div>
          <div class="font-size-xs">
            <table>
              <tr *ngIf="projectDetail.startDate">
                <td class="pr-3">Project start date:</td>
                <td class="text-black">{{projectDetail.startDate | baseDate}}</td>
              </tr>
              <tr *ngIf="projectDetail.endDate">
                <td class="pr-3">Project end date:</td>
                <td class="text-black">{{projectDetail.endDate | baseDate}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Project organizations</h4>
          </div>
          <app-organization-preview
            *ngFor="let organization of projectDetail.organizationBaseDtos"
            [organization]="organization"></app-organization-preview>
        </div>
        <div class="mb-4">
          <div class="overview">
            <button class="expand-btn mr-2">
              <fa-icon icon="angle-down"></fa-icon>
            </button>
            <h4>Experts</h4>
          </div>
          <app-expert-links [experts]="projectDetail.projectExperts"></app-expert-links>
        </div>
      </div>
    </div>
  </section>

  <section class="container bg-white h-100 pt-4 pl-4" *ngIf="(mode$ | async) == modes.OUTCOMES">
    <div class="no-result-note" *ngIf="projectDetail.itemPreviewDtos.length == 0">
      The project has no outcome yet
    </div>
    <app-outcome-card [itemPreview]="outcome" *ngFor="let outcome of projectDetail.itemPreviewDtos" linkType="widget">

    </app-outcome-card>
  </section>
</section>
