<article class="card d-flex align-items-center flex-row">
  <div class="card__badge card__badge--{{color}}">
    <fa-icon [icon]="icon"></fa-icon>
  </div>
  <div class="ml-4">
    <div class="card__count text-{{color}}">{{count | shortNumber}}</div>
    <div>{{title}}</div>
  </div>
  <button class="card__more btn btn--light-blue" (click)="add.emit()">Add new</button>
</article>
