<section class="bg-white">
  <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
    <h3>Users</h3>
  </div>
  <section class="filters d-flex align-items-center px-4" [formGroup]="filterFormGroup">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Search users</label>
          <div class="btn btn--light btn--input">
            <input class="input" aria-label="Search" formControlName="query">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<ng-container *ngIf="data$ | async as wrapper">
  <ng-container *ngIf="(loading$ | async) == false">
    <section class="px-4 pt-3">
      <div class="expert-card expert-card-header min-h-none py-3">
        <div class="col-2 mat-body-strong">Name</div>
        <div class="col-2 mat-body-strong">Email / Username</div>
        <div class="col-2 mat-body-strong">Registration date</div>
        <div class="col-2 mat-body-strong">Last login date</div>
        <div class="col-1 mat-body-strong">Login count</div>
        <div class="col-3 mat-body-strong"></div>
      </div>
      <div class="expert-card min-h-none py-3 align-items-start"
           *ngFor="let user of wrapper.adminUserDtos">
        <div class="col-2">
          <div>
            <a [routerLink]="'expertDetail' | path: (user | expertCode)">{{ user.firstName }} {{ user.lastName }}</a>
          </div>
        </div>
        <div class="col-2">
          <div>
            {{ user.email }}
          </div>
          <div *ngIf="user.username">
            {{user.username}}
          </div>
        </div>
        <div class="col-2">
          <div>
            {{ user.registrationDate | baseDate}}
          </div>
        </div>
        <div class="col-2">
          <div>
            {{ user.lastLoginDate | baseDate}}
          </div>
        </div>
        <div class="col-1">
          <div>
            {{ user.loginCount }}
          </div>
        </div>
        <div class="col-3 text-right">
          <button class="btn btn-sm btn--blue mr-2" (click)="impersonate(user)">
            Impersonate
          </button>
          <button class="btn btn-sm btn--red" (click)="showSearchHistory(user)">
            Show search history
          </button>
        </div>
      </div>
    </section>
  </ng-container>
  <app-pagination [pageInfo]="pageInfo$ | async"
                  [hidden]="loading$ | async"
                  [numberOfResults]="wrapper.numberOfUsers"
                  (pageChanged)="pageInfo$.next($event)"></app-pagination>
</ng-container>
