<div class="d-none d-lg-flex" *ngIf="session$ | async as session; else loginButtons">
  <button class="btn btn--white mr-2" type="button"
          *ngIf="activeOrganization$ | async as activeOrganization"
          [routerLink]="'organizationDashboard' | path: activeOrganization.organizationId">
      <span
        class="font-weight-bold">{{activeOrganization.organizationAbbrev || activeOrganization.organizationName}}</span>
  </button>
  <button class="btn btn--white" type="button"
          [matMenuTriggerFor]="menu">
        <span class="avatar mr-3">
          <img [src]="session.userId | userImg: 's'" alt="Avatar" appOptionalImg
               [altSrc]="'images/avatar.png' | assets">
        </span>
    <span class="mr-2">{{session.fullName}}</span>
    <fa-icon icon="angle-down"></fa-icon>
  </button>
  <mat-menu #menu>
    <div style="min-width: 200px;">
      <button mat-menu-item [routerLink]="'expertDetail' | path: session.expertCode"
              class="d-flex align-items-center">
        <fa-icon icon="user" class="mr-2 text-lg"></fa-icon>
        <span>
          Show profile
        </span>
      </button>
      <button mat-menu-item [routerLink]="'userFollowings' | path"
              class="d-flex align-items-center">
        <fa-icon icon="heart" class="mr-2 text-lg"></fa-icon>
        <span>
          My followings
        </span>
      </button>
      <button mat-menu-item [routerLink]="'userSearchHistory' | path"
              class="d-flex align-items-center">
        <fa-icon icon="history" class="mr-2 text-lg"></fa-icon>
        <span>
          Search history
        </span>
      </button>
      <button mat-menu-item [routerLink]="'userSettings' | path: session.expertCode"
              class="d-flex align-items-center">
        <fa-icon icon="cog" class="mr-2 text-lg"></fa-icon>
        <span>
            Preferences
          </span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logOut()" class="d-flex align-items-center">
        <fa-icon icon="sign-out-alt" class="mr-2 text-lg"></fa-icon>
        <span>
          Log out
        </span>
      </button>
    </div>
  </mat-menu>
</div>
<ng-template #loginButtons>
  <div class="d-none d-lg-flex">
    <button type="button" class="btn btn--white header__sign-in mr-1" (click)="logIn()">Sign In</button>
    <button type="button" class="btn btn--white header__sign-up d-none d-lg-block" (click)="register()">Sign Up for
      Free
    </button>
    <button type="button" class="btn btn--white header__sign-up d-lg-none" (click)="register()">Sign Up</button>
  </div>
</ng-template>
