<article class="project-card d-flex align-items-center">
  <figure class="avatar circle mr-4 flex-shrink-0 flex-grow-0">
    <img appOptionalImg [src]="project.id | commercializationImg: project.imgCheckSum" [altTemplate]="placeholderIcon"
         *ngIf="project.imgCheckSum; else placeholderIcon">
    <ng-template #placeholderIcon>
      <fa-icon icon="rocket"></fa-icon>
    </ng-template>
  </figure>
  <div class="w-100">
    <div class="w-100 d-flex justify-content-between align-items-start mb-2">
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <h4 class="">
            <a class="font-size-sm font-weight-bold link-dark"
               [routerLink]="pathKey | path: project.id"
               (click)="scrollParent()"
               queryParamsHandling="merge"
            >{{project.name}}</a>
          </h4>
          <button class="tag mr-0 ml-2">
            <span class="pt-1">{{project.statusName}}</span>
          </button>
        </div>
<!--        <p class="project-card__description mb-0" *ngIf="project.commercializationCategoryPreviews.length > 0">-->
<!--          <span *ngFor="let category of project.commercializationCategoryPreviews; let last = last">-->
<!--            {{category.commercializationCategoryName}}<span *ngIf="!last">, </span>-->
<!--          </span>-->
<!--        </p>-->
      </div>
      <div class="">
        <app-members [experts]="project.teamMemberDtos"></app-members>
      </div>
    </div>
    <div class="row justify-content-between mb-2">
      <div class="col-12 col-lg-2">
        <div class="project-card__info" *ngIf="project.commercializationCategoryPreviews.length > 0">
          <span>Category</span>
          <b *ngFor="let category of project.commercializationCategoryPreviews; let last = last">
            {{category.commercializationCategoryName}}<span *ngIf="!last">, </span>
          </b>
        </div>
      </div>
      <div class="col-12 col-lg-2">
        <div class="project-card__info">
          <span>Domain</span>
          <b>{{project.domainName}}</b>
        </div>
      </div>
      <div class="col-12 col-lg-2">
        <div class="project-card__info">
          <span>TRL</span>
          <b>{{project.readinessLevel}}</b>
        </div>
      </div>
      <div class="col-12 col-lg-2" *ngIf="project.link">
        <div class="project-card__info">
          <fa-icon icon="link" class="mr-2"></fa-icon>
          <span class="font-size-xs">
            <a [href]="project.link" target="_blank">Link</a>
          </span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap" *ngIf="project.keywords.length > 0">
      <button class="tag cobalt mb-1"
              *ngFor="let keyword of project.keywords.slice(0,SHOWN_KEYWORDS)">{{keyword}}</button>
      <button class="tag cobalt mb-1" *ngIf="project.keywords.length > SHOWN_KEYWORDS"
              [ngbPopover]="keywordsPopover"
              container="body">
        + {{project.keywords.length - SHOWN_KEYWORDS}} more
      </button>
      <ng-template #keywordsPopover>
        <app-keywords-popover [keywords]="project.keywords"></app-keywords-popover>
      </ng-template>
    </div>
  </div>
</article>
