<article [ngStyle]="expertPreview.retiredInOrganization ? {backgroundColor: 'rgba(0,0,0,0.1)'} : {}" class="expert-card">
  <figure
    [class.certified]="expertPreview.unitVerified"
    class="avatar circle mr-4 flex-shrink-0 flex-grow-0"
  >
    <ng-template [ngIf]="(expertPreview.userId | userImg)" [ngIfElse]="elseAvatarTemplate">
      <img
        [src]="expertPreview.userId | userImg"
        [altTemplate]="elseAvatarTemplate"
        appOptionalImg
        alt="userImg"
      />
    </ng-template>
    <ng-template #elseAvatarTemplate>
      <span>{{ initials }}</span>
    </ng-template>
    <fa-icon
      icon="check-circle"
      class="avatar__badge text-success-light"
    ></fa-icon>
  </figure>
  <div class="d-flex flex-grow-1 flex-column">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="expert-card__name">
        <a
          (click)="clickedExpert(expertPreview)"
          [routerLink]="pathKey | path: expertPreview.expertCode"
          queryParamsHandling="merge"
          class="font-size-sm font-weight-bold link-dark"
        >{{ expertPreview.name }}</a>
        <div>
          <a
            class="font-size-sm link-dark"
            (click)="orgNavigate(selectedOrganization)">
            <!--[routerLink]="orgPathKey | path: selectedOrganization.organizationId">-->
            {{
            selectedOrganization.organizationAbbrev
              ? selectedOrganization.organizationAbbrev
              : selectedOrganization.organizationName
            }}
          </a>
          <a
            class="expert-card__link text-nowrap"
            *ngIf="expertPreview.visibleOrganizationBaseDtos.length > 1"
            [ngbPopover]="organizationsPopover"
          >
            + {{ expertPreview.visibleOrganizationBaseDtos.length - 1 }} more
          </a>
        </div>
        <ng-template #organizationsPopover>
          <app-organizations-popover
            [organizations]="expertPreview.visibleOrganizationBaseDtos"
          >
          </app-organizations-popover>
        </ng-template>

        <div class="d-flex flex-wrap">
          <button
            (click)="keyword$.emit(keyword)"
            class="tag mb-1 cobalt"
            *ngFor="let keyword of expertPreview.keywords.slice(0, KEYWORDS)"
          >
            {{ keyword }}
          </button>
          <button
            class="tag mb-1"
            *ngIf="expertPreview.keywords.length > KEYWORDS"
            [ngbPopover]="keywordsPopover"
            container="body"
          >
            + {{ expertPreview.keywords.length - KEYWORDS }} more
          </button>
          <ng-template #keywordsPopover>
            <app-keywords-popover
              [keywords]="expertPreview.keywords"
            ></app-keywords-popover>
          </ng-template>
        </div>
      </div>
      <div class="expert-card__stats">
        <div class="d-inline-flex align-items-center">
          <fa-icon icon="rocket"></fa-icon>
          <span>{{ expertPreview.numberOfCommercializationProjects }}</span>
        </div>
        <div class="d-inline-flex align-items-center">
          <fa-icon icon="file-alt"></fa-icon>
          <span>{{ expertPreview.numberOfItems }}</span>
        </div>
        <div class="d-inline-flex align-items-center">
          <fa-icon icon="microscope"></fa-icon>
          <span>{{ expertPreview.numberOfProjects }}</span>
        </div>
      </div>

      <div class="expert-card__graph align-items-center">
        <app-simple-bar-chart
          [data]="expertPreview.yearActivityHistogram"
          itemName="outcome"
          itemNamePlural="outcomes"
        ></app-simple-bar-chart>
      </div>

      <div class="expert-card__action" *ngIf="sendContactEnabled">
        <button class="btn btn-sm btn-success" (click)="openContactModal()"
                matTooltip="Get in touch with this particular expert.">
          <fa-icon icon="envelope" class="mr-2"></fa-icon>
          Contact
        </button>
      </div>

      <app-expert-actions
        class="d-flex text-right align-items-center"
        *ngIf="displayActions"
        [expertPreview]="expertPreview"
        [organizationId]="organizationId"
      >
      </app-expert-actions>
    </div>
  </div>
</article>
