<ng-container *ngIf="expertItemsWrapper$ | async as expertItemsWrapper">
  <div class="row mb-3" [formGroup]="filterFormGroup">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="filter mb-3 mb-md-0">
        <label>Search outcomes</label>
        <div class="btn btn--light btn--input">
          <input class="input" aria-label="Search" formControlName="query">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 col-xl-2">
      <div class="filter">
        <label>Outcomes types</label>
        <app-multi-select
          [options]="itemTypeGroups$ | async"
          formControlName="resultTypeGroupIds"></app-multi-select>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-7 mb-md-0 text-right d-flex align-items-end justify-content-md-end"
         *ngIf="expertItemsWrapper.numberOfAllItems != 0 && (authorizedUser == (expertId$ | async))">
      <button class="btn btn-primary" (click)="addOutcome(expertId)" *ngIf="expertId$ | async as expertId">
        <fa-icon icon="plus" class="mr-2"></fa-icon>
        <span>Add outcome</span>
      </button>
    </div>
  </div>
</ng-container>


<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="expertItemsWrapper$ | async as expertItemsWrapper">
    <app-outcome-card [itemPreview]="item" *ngFor="let item of itemList$ | async"
                      linkType="standard">
      <div class="actions text-right" *ngIf="expertId$ | async as expertId">
        <button class="btn" disabled *ngIf="item.saving$ | async; else actionButtons">
          <app-loader></app-loader>
          Saving
        </button>
        <ng-template #actionButtons>
          <button class="btn btn-primary" [matMenuTriggerFor]="menu">
            Actions
            <fa-icon icon="angle-down" class="ml-2"></fa-icon>
          </button>
          <mat-menu #menu>
            <div style="min-width: 200px;">
              <button mat-menu-item class="mat-menu-item"
                      (click)="openEditOutcomeModal(item)">
                <fa-icon icon="pencil-alt" class="mr-2"></fa-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item class="mat-menu-item" (click)="removeOutcome(item, expertId)">
                <fa-icon icon="trash" class="mr-2"></fa-icon>
                <span>Remove</span>
              </button>
            </div>
          </mat-menu>
        </ng-template>
      </div>
    </app-outcome-card>
    <div *ngIf="expertItemsWrapper.numberOfAllItems == 0" class="text-center">
      <p class="no-result-note">
        No results for your criteria
      </p>
      <div *ngIf="authorizedUser == (expertId$ | async)" style="padding-top: 0.4em; padding-bottom: 1.6em;">
        <button class="btn btn-primary" (click)="addOutcome(expertId)"
                *ngIf="expertId$ | async as expertId">
          <fa-icon icon="plus" class="mr-2"></fa-icon>
          <span>Add outcome</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(expertItemsWrapper$ | async)?.numberOfAllItems">
</app-pagination>
