<app-organization-settings-header [organizationId]="this.organizationId"></app-organization-settings-header>

<div class="bg-white px-4 py-4">
  <div class="row mb-3">
    <div class="col-md-4" *ngFor="let organizationType of organizationTypes">
      <h4>{{ organizationType.title }}</h4>
      <div class="mt-3" *ngIf="data$ | async as data">
        <div *ngFor="let row of data">
          <div *ngIf="row.licenceRole == organizationType.licenseRole">
            <div class="mt-2" *ngFor="let user of row.organizationUserDtos">
              <a [routerLink]="'expertDetail' | path: (user | expertCode)">{{ user.name }}</a>
              <button (click)="removeRole(user, organizationType.licenseRole)" class="ml-3 btn btn-danger">x</button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-3"
              (click)="showExpertsModal(organizationType.licenseRole)">{{ organizationType.buttonTitle }}</button>
    </div>
  </div>
</div>
