<div class="expert-card font-weight-normal font-size-sm text-black w-100 h-auto mb-2 py-2"
     style="min-height: 20px">
  <div class="row align-items-center">
    <div class="col-10 row align-items-center">
      <div class="col-6 text-break text-left">
        <a [routerLink]="'exploreExperts' | path"
           [queryParams]="params">
          {{row.query}}
        </a>
      </div>
      <div class="col-2 text-left">{{row.resultsFound}} results</div>
      <div class="col-4 text-left">{{row.date | date: 'dd.MM.yyyy HH:mm:ss'}}</div>
      <div class="col-12">
        <ng-content select=".workspaces"></ng-content>
      </div>
    </div>
    <div class="col-2 text-right pr-0 py-2 ml-auto">
      <ng-content></ng-content>
    </div>
  </div>

</div>
