<div class="project-card" [style.background-color]="equipment.preview.hidden ? '#e4e4e4' : '#ffffff'">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center mb-2 justify-content-between">
        <h4 class="mr-2">
          <a [routerLink]="pathKey | path: equipment.preview.equipmentCode"
             class="link-dark"
            (click)="scrollParent()"
          >
            {{equipment.preview.name}}
          </a>
        </h4>
        <svg *ngIf="false" width="16px" height="16px" viewBox="0 0 16 16"
             xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <circle fill="#00C96A" cx="8" cy="8" r="8"></circle>
            <path
              d="M6.3825 12.0835c.173.133.3625.1796.5688.1397.2062-.04.3759-.1464.509-.3193l4.1314-6.0276c.133-.1862.1796-.3892.1397-.6087-.04-.2195-.1464-.3958-.3194-.529-.173-.133-.3659-.1795-.5788-.1396-.1996.0399-.3659.1463-.499.3193l-3.5925 5.2491L4.7658 8.032c-.1464-.173-.326-.2628-.5389-.2695-.2129-.0066-.3992.0699-.5588.2296-.1597.1596-.2395.3526-.2395.5788 0 .2262.0732.419.2195.5788l.6187.6786c.3992.4523.825.9214 1.2774 1.407.4524.4857.7318.7684.8383.8483z"
              fill="#FFF" fill-rule="nonzero"></path>
          </g>
        </svg>

        <div class="btn btn--light btn--dropdown mr-2" style="width: 72px;">
          <mat-select class="form-select" [(ngModel)]="selectedLanguageCode" (ngModelChange)="onLanguageChange()">
            <mat-option *ngFor="let translation of equipment.translations" [value]="translation.languageCode">{{translation.languageCode}}</mat-option>
          </mat-select>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-7 mb-2 project-card__description">
      <p *ngIf="equipment.preview.description" class="mb-0">{{equipment.preview.description}}</p>
    </div>
    <div class="col-12 col-md-1 mb-2">
      <p *ngIf="equipment.preview.trl">{{'TRL: ' + equipment.preview.trl}}</p>
      <p *ngIf="equipment.preview.equipmentCost">{{'Cost: ' + equipment.preview.equipmentCost}}</p>
    </div>
    <div *ngIf="equipment.preview.type" class="col-12 col-md-1 mb-2">
      <p>{{equipment.preview.type | equipmentType | async}}</p>
      <button class="btn btn-lg btn-success"
              (click)="openContactModal()"
              matTooltip="Are you interested in this particular service? Let us know by clicking this button and submitting the form,
      we will contact you.">
        <fa-icon icon="envelope" class="mr-2" ></fa-icon>
        Order
      </button>
    </div>
    <div *ngIf="equipment.preview.domainId" class="col-12 col-md-1 mb-2 ml-5 text-center">
      <p class="align-center">{{equipment.preview.domainId | equipmentDomain | async}}</p>
    </div>
<!--    <div class="col-6 col-lg-2 align-items-center">-->

<!--    </div>-->
    <div class="col-6 col-lg-2">
      <app-members [experts]="equipment.preview.expertPreviews"></app-members>
    </div>

    <!--    <div class="project-card__cta col-12 col-lg-2 mb-2" *ngIf="editable">-->
    <!--      <div class="dropdown">-->
    <!--        <button class="btn btn&#45;&#45;blue" type="button">-->
    <!--          Action-->
    <!--          <svg class="ml-3" width="12px" height="7px" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg">-->
    <!--            <path-->
    <!--              d="M6 4.5858l4.2929-4.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143l-5 5c-.3905.3905-1.0237.3905-1.4142 0l-5-5C-.0976 1.3166-.0976.6834.2929.293c.3905-.3905 1.0237-.3905 1.4142 0L6 4.5858z"-->
    <!--              fill="currentColor" fill-rule="nonzero"></path>-->
    <!--          </svg>-->
    <!--        </button>-->
    <!--        <ul class="dropdown__body">-->
    <!--          <li>Item 1</li>-->
    <!--          <li>Item 2</li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
<!--    <div #actionsContent class="col-12 col-lg-2">-->
<!--      <ng-content select=".actions"></ng-content>-->
<!--    </div>-->
    <div class="col-12 d-flex flex-wrap justify-content-end align-items-end">
      <ng-container *ngIf="equipment.preview.specialization">
        <nav class="d-flex justify-content-start mr-auto">
          <button *ngFor="let keyword of equipment.preview.specialization.slice(0,KEYWORDS)"
                  class="tag cobalt">{{keyword}}
          </button>
          <button class="tag" *ngIf="equipment.preview.specialization.length > KEYWORDS">
            + {{equipment.preview.specialization.length - KEYWORDS}}
            more
          </button>
        </nav>
      </ng-container>
      <div class="float-right">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

</div>
