<div class="row mb-3" [formGroup]="filterFormGroup">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="filter">
      <label>Search projects</label>
      <div class="btn btn--light btn--input">
        <input class="input" aria-label="Search" formControlName="query">
      </div>
    </div>
  </div>
  <!--  <div class="col-12 col-md-6 col-lg-3 col-xl-2">-->
  <!--    <div class="filter">-->
  <!--      <label>Outcomes types</label>-->
  <!--      <app-multi-select-->
  <!--        [options]="itemTypeGroups$ | async"-->
  <!--        formControlName="resultTypeGroupIds"></app-multi-select>-->
  <!--    </div>-->
  <!--  </div>-->
</div>

<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="expertProjectsWrapper$ | async as expertItemsWrapper">
    <app-project-card [project]="item" *ngFor="let item of expertItemsWrapper.projectPreviewDtos">
    </app-project-card>
    <p class="no-result-note" *ngIf="expertItemsWrapper.numberOfAllItems == 0">
      No results for your criteria
    </p>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(expertProjectsWrapper$ | async)?.numberOfAllItems">
</app-pagination>
