<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Order {{lecture?.lectureName}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="contactForm">
    <div class="form-group">
      <label for="emailAddress">Email</label>
      <div class="input-group">
        <input id="emailAddress" class="form-control" formControlName="senderEmail" placeholder="Your email">
      </div>
    </div>
    <div class="form-group">
      <label for="textMessage">Content</label>
      <div class="input-group">
          <textarea id="textMessage" class="form-control" formControlName="message" placeholder="Type your message">
          </textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)=sendContactRequest()
          [disabled]="!contactForm.valid">
    <fa-icon icon="paper-plane" class="mr-2"></fa-icon>
    Send
  </button>
</div>
