<article class="card">
  <h4 class="card__title mb-4">Memberships</h4>
  <div class="" *ngFor="let row of myMemberships">
    <a class="link-dark" [routerLink]="'organizationDetail'| path: row.organizationId">{{row.organizationName}}</a>
  </div>
</article>
