<article class="organisation-card">
  <div class="d-inline-flex align-items-center">
    <figure class="avatar circle mr-4 flex-shrink-0 flex-grow-0">
      <img [src]="organization.organizationId | organizationImg" appOptionalImg [altTemplate]="universityIcon">
      <ng-template #universityIcon>
        <fa-icon icon="university"></fa-icon>
      </ng-template>
      <fa-icon icon="check-circle" class="avatar__badge text-success-light"></fa-icon>
    </figure>
    <div class="flex-column">
      <a [routerLink]="orgPathKey | path: organization.organizationId"
         [queryParams]='resolveQueryParams()'
         (click)='clickedOrganization(organization.organizationId)'
         queryParamsHandling="merge"
         (click)="scrollParent()"
       class="font-size-sm font-weight-bold link-dark">{{organization.organizationAbbrev == null || organization.organizationAbbrev === '' ? organization.organizationName : organization.organizationAbbrev}}</a>
    <div class="d-flex flex-wrap">
        <button *ngIf="isParent"
                class="tag cobalt mb-1"
        >
          {{'parent'}}
        </button>
        <button *ngIf="isMember"
         (click)="scrollParent()"
                class="tag cobalt mb-1"
        >
          {{'member'}}
        </button>
      </div>

      <div *ngIf="organizationType !== ''">
        <ng-container>
          <nav class="d-flex justify-content-start mr-auto">
            <button
              class="tag cobalt">{{organizationType}}
            </button>
          </nav>
        </ng-container>
      </div>
    </div>
  </div>

  <!--  <button class="btn btn&#45;&#45;filter mb-2" *ngFor="let keyword of organizationKeywords$ | async"-->
  <!--          container="body"-->
  <!--          [ngbTooltip]="keyword.keyword + ': ' + (keyword.occurrence | shortNumber) + ' occurrences'">-->
  <!--    {{keyword.keyword}}-->
  <!--  </button>-->

  <!--  <ng-container *ngIf="keywords$ | async as keywords">-->
  <!--    <button *ngFor="let keyword of keywords.slice(0, 3)" class="tag cobalt mb-1">{{ keyword.keyword }}a-->
  <!--    </button>-->
  <!--    <button class="tag" *ngIf="keywords.length > 3">+ {{keywords.length - 3}}-->
  <!--      more-->
  <!--    </button>-->
  <!--  </ng-container>-->


  <section *ngIf="(statistics$ | async) as statistics ">
    <ul class="expert-card__stats">
      <li class="d-inline-flex align-items-center mx-3 cursor-pointer" *ngFor="let mode of listModeDetails">
        <fa-icon class="d-block text-x-lg ng-fa-icon" [icon]="mode.icon"></fa-icon>
        {{ mode.title }} ({{ statistics | getProperty:mode.countProperty }})
      </li>
    </ul>
  </section>
  <ng-content></ng-content>
</article>
