<article class="card">
  <div class="mt-2" *ngIf="data$ | async as visibilities">
    <h4>Public profile options</h4>
    <form class="mt-2 " [formGroup]="formGroup" (change)="submit()">
      <div class="mt-5">
        <div
          class="d-flex justify-content-between border rounded mt-2">
          <label class="ml-5 mb-0"
                 for="expertsVisible">Experts </label>
          <input id="expertsVisible"
                 class="mr-5"
                 type="checkbox"
                 [value]="true"
                 formControlName="expertsVisible"
          >
        </div>
        <div
          class="d-flex justify-content-between border rounded mt-2">
          <label class="ml-5 mb-0"
                 for="graphVisible">Graph</label>
          <input id="graphVisible"
                 class="mr-5 "
                 type="checkbox"
                 [value]="true"
                 formControlName="graphVisible"
          >
        </div>
        <div
          class="d-flex justify-content-between border rounded mt-2">
          <label class="ml-5 mb-0"
                 for="keywordsVisible">Keywords</label>
          <input id="keywordsVisible"
                 class="mr-5"
                 type="checkbox"
                 [value]="true"
                 formControlName="keywordsVisible"
          >
        </div>
        <div
          class="d-flex justify-content-between border rounded mt-2">
          <label class="ml-5 mb-0"
                 for="outcomesVisible">Outcomes</label>
          <input id="outcomesVisible"
                 class="mr-5"
                 type="checkbox"
                 [value]="true"
                 formControlName="outcomesVisible"
          >
        </div>
        <div
          class="d-flex justify-content-between border rounded mt-2">
          <label class="ml-5 mb-0"
                 for="projectsVisible">Projects</label>
          <input id="projectsVisible"
                 class="mr-5"
                 type="checkbox"
                 [value]="true"
                 formControlName="projectsVisible"
          >
        </div>
        <div
          class="d-flex justify-content-between border rounded mt-2">
          <label class="ml-5 mb-0"
                 for="visible">Visible</label>
          <input id="visible"
                 class="mr-5"
                 type="checkbox"
                 [value]="true"
                 formControlName="visible"
          >
        </div>


        <div class="d-flex justify-content-between align-items-center border rounded mt-4" style="background-color: rgb(0,0,0,.1);">
          <label style="color: #303ffb" class="ml-5 mb-0" >Show profile completely</label>
          <button type="button"  class="btn mr-5" (click)="hideProfileCompletely()">show</button>
        </div>
      </div>
    </form>
  </div>
</article>

