<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">{{(equipment$ | async) ? 'Edit Equipment' : 'Create new'}}</h3>
  </div>


  <div  class="modal__body">

    <div [formGroup]="langFormGroup" class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Language</label>
      </div>
      <ng-container *ngIf="equipmentLanguages$ | async as equipmentLanguages">
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <mat-select aria-label="domain" class="input input--gray" formControlName="languageCode" [(ngModel)]="selectedLanguage" (ngModelChange)="onLanguageChange($event)">
          <mat-option *ngFor="let language of equipmentLanguages"
                      [value]="language.name">{{language.name}}</mat-option>
        </mat-select>

      </div>
      </ng-container>
    </div>
   <div [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Name</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input aria-label="Name" class="input input--gray" formControlName="name" autofocus>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Keywords</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-tags-input [customTags]="true" [searchFunction]="lookupKeywords" class="w-100"
                        formControlName="specialization" type="filled"></app-tags-input>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Type</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <mat-select aria-label="domain" class="input input--gray" formControlName="type">
          <mat-option *ngFor="let type of equipmentTypes$ | async"
                      [value]="type.id">{{type.name}}</mat-option>
        </mat-select>

      </div>
    </div>

    <div *ngIf="organizations$ | async as organizations">
      <app-add-organization [organizationDtos]="organizations"
                            [organizationId$]="organizationId$"
                            (organizationChangeEvent)="organizationChange($event)" >
      </app-add-organization>
    </div>

    <div *ngIf="experts$ | async as experts">
      <app-add-experts [userExpertBaseDtos]="experts" (expertChangeEvent)="expertChange($event)">
      </app-add-experts>
    </div>



    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Description</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="description" rows="10"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Good for</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="goodForDescription" rows="10"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Infrastructure</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="infrastructureDescription" rows="6"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Target Group</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="targetGroup" rows="6"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Preparation</label>
      </div>
      <div class="col-8 col-lg-10 d-flex align-items-center">
        <textarea aria-label="About" class="textarea" formControlName="preparationTime" rows="6"></textarea>
      </div>
    </div>
     <div class="row mb-4">
       <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
         <label class="font-weight-bold mt-2 mb-2 mb-lg-0">TRL</label>
       </div>
       <div class="col-8 col-lg-10 d-flex align-items-center">
         <textarea aria-label="About" class="textarea" formControlName="trl" rows="6"></textarea>
       </div>
     </div>
     <div class="row mb-4">
       <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
         <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Duration</label>
       </div>
       <div class="col-8 col-lg-10 d-flex align-items-center">
         <textarea aria-label="About" class="textarea" formControlName="durationTime" rows="6"></textarea>
       </div>
     </div>
     <div class="row mb-4">
       <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
         <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Cost</label>
       </div>
       <div class="col-8 col-lg-10 d-flex align-items-center">
         <textarea aria-label="About" class="textarea" formControlName="equipmentCost" rows="6"></textarea>
       </div>
     </div>

    <div class="modal__section-footer">
      <ng-container *ngIf="(saving$ | async) == false">
        <button (click)="dismiss()" class="btn btn--gray mr-2" type="button">
          Cancel
        </button>
        <button (click)="saveChanges()" class="btn btn--blue" type="button">
          Save
        </button>
      </ng-container>
      <button *ngIf="saving$ | async" class="btn" disabled>
        <app-loader></app-loader>
        Saving
      </button>
    </div>

   </div>
  </div>
</div>
