<header class="header container-fluid py-3">
  <a routerLink=""><img class="header__logo mr-lg-9" [src]="'images/logo-ai.svg' | assets" alt="experts.ai"></a>
  <form class="header__search mr-auto" [formGroup]="searchFormGroup">
    <div class="input-group">
      <input class="input input--gray" placeholder="Search..." aria-label="Search"
             [matAutocomplete]="auto"
             formControlName="searchQuery">
      <button type="submit" (click)="search()">
        <svg width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.6976 2.9024c2.7248 2.7249 2.959 6.9972.7024 9.988l3.012 3.0117c.7856.7856-.3929 1.9642-1.1786 1.1785l-2.9756-2.976c-2.999 2.5672-7.5169 2.4315-10.3554-.407-2.981-2.981-2.981-7.8142 0-10.7952s7.8142-2.981 10.7952 0zM4.0809 4.081c-2.3301 2.3302-2.3301 6.108 0 8.4382 2.3302 2.3301 6.108 2.3301 8.4382 0 2.3301-2.3302 2.3301-6.108 0-8.4382-2.3302-2.3301-6.108-2.3301-8.4382 0z"
            fill-rule="nonzero" fill="#5E6771"/>
        </svg>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchSuggestionSelected($event)">
        <mat-option *ngFor="let option of searchSuggestions$ | async" [value]="option"
                    [ngbTooltip]="option.searchExpression"
                    class="header__search-suggestion">
          {{option.searchExpression}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </form>
  <!--  <button class="btn px-0 has-notification mr-3" type="button">-->
  <!--    <img [src]="'images/bell.svg'| assets">-->
  <!--  </button>-->
  <app-header-session-box></app-header-session-box>
  <button
    class="hamburger hamburger--spring"
    type="button"
    aria-controls="headerDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
  </button>
</header>
