<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<div class="p-4" [hidden]="loading$ | async">
  <h3 class="no-wrap ng-star-inserted mb-2">Elasticsearch Index Service</h3>
  <div class="expert-card font-weight-normal font-size-sm text-black w-100 h-auto mb-2 py-1" style="min-height: 0"
       *ngFor="let row of data$ | async">
    <div class="col-3">
      {{targetTranslations[row.target]}}
    </div>
    <div class="col-4">
      {{row.date | date: 'medium'}}
    </div>
    <div class="col-2 {{statusClasses[row.status]}}">
      {{statusTranslations[row.status]}}
    </div>
    <div class="col-3 text-right">
      <button (click)="reindex(row, false)" class="btn btn--blue mr-2">Reindex</button>
      <button (click)="reindex(row, true)" class="btn btn-danger">Clean and reindex</button>
    </div>
  </div>
  <div class="text-center mt-5">
    <button class="btn btn-danger" (click)="reindexAll(true)">Reindex all</button>
  </div>
</div>

<app-reindex-recombee></app-reindex-recombee>
