<section class="bg-white">
  <h3 class="mb-3 mr-auto pt-5 pl-4">Settings</h3>
  <nav class="border-bottom pl-4 overflow-scroll">
    <div class="d-flex">
      <a class="navbar__item pb-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'userSettings' | path">Account setting</a>
      <a class="navbar__item pb-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'userSettingsPassword' | path">Change password</a>
      <a class="navbar__item pb-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'userSettingsConsents' | path">User consents</a>
      <a class="navbar__item pb-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'userSettingsClaimProfiles' | path">Claim profiles</a>
    </div>
  </nav>
</section>
