<div app-overlay-loader [loading]="loading$ | async">
  <ng-container *ngIf="projectWrapper$ | async as projectWrapper">
    <app-project-card *ngFor="let project of projectWrapper.projectPreviewDtos"
                      [project]="project"
                      linkType="standard"
                      [ownerOrganizationId]="projectWrapper?.organizationId"
                      [sendRequestEnabled]=true>
    </app-project-card>
    <p class="no-result-note" *ngIf="projectWrapper.numberOfAllItems == 0">
      The organization has no verified project
    </p>
  </ng-container>
</div>


<app-pagination [pageInfo]="pageInfo$ | async"
                [disableUrl]="true"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(projectWrapper$ | async)?.numberOfAllItems">
</app-pagination>
