<div class="aside__wrapper d-flex flex-column" *ngIf="(userOrganizations.length > 0) || (showMaintainerItems$ | async)">
  <span class="aside__navigation-toggle text-right p-2" (click)="toggleNavigation()">
    <svg class="aside__close" width="17px" height="16px" viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.5 0a.5.5 0 01.5.5v15a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5V.5A.5.5 0 01.5 0h1zm6.7005 4.5683l.0796.0707.586.644a.5.5 0 01-.0252.6988L7.761 7.007l7.8708.0006a.5.5 0 01.5.5v1a.5.5 0 01-.5.5L7.837 9.007l1.0572 1.0526a.5.5 0 01.0037.7052l-.6122.622a.5002.5002 0 01-.6373.0629l-.0724-.06-3.0851-3.082a.5002.5002 0 01-.0582-.6378l.0631-.0746 3.066-2.9784a.5002.5002 0 01.6387-.0486z"
        fill="#5E6771" fill-rule="nonzero"/>
    </svg>
  </span>
  <!--  <label class="aside__label">My acount</label>-->
  <!--  <nav class="aside__nav mb-4">-->
  <!--    <ul>-->
  <!--      <li class="aside__nav-item active">-->
  <!--        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
  <!--          <path-->
  <!--            d="M19 2c1.7627 0 3 1.2373 3 3v14c0 1.7627-1.2373 3-3 3H5c-1.7627 0-3-1.2373-3-3V5c0-1.7627 1.2373-3 3-3h14zm1 10h-7v8h6c.574 0 1-.4139 1-1v-7zm-9 2H4v5c0 .5541.426 1 1 1h6v-6zm0-10H5c-.574 0-1 .4143-1 1v7h7V4zm8 0h-6v6h7V5c0-.553-.426-1-1-1z"-->
  <!--            fill="inherit"-->
  <!--            fill-rule="nonzero"-->
  <!--          />-->
  <!--        </svg>-->
  <!--        <span>Dashboard</span>-->
  <!--      </li>-->
  <!--      <li class="aside__nav-item">-->
  <!--        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
  <!--          <path-->
  <!--            d="M7.8571 1.0476h9.2858c2.1039 0 3.8095 1.7056 3.8095 3.8095V20.212c0 1.052-.8528 1.9048-1.9048 1.9048a1.9048 1.9048 0 01-1.19-.4175L12.5 17.4125l-5.3576 4.2867c-.8214.6572-2.0201.5241-2.6773-.2973a1.9048 1.9048 0 01-.4175-1.19V4.8571c0-2.1039 1.7056-3.8095 3.8095-3.8095zm0 1.9048c-1.052 0-1.9047.8528-1.9047 1.9047V20.212l5.3576-4.2867a1.9048 1.9048 0 012.38 0l5.3576 4.2867V4.8571c0-1.052-.8528-1.9047-1.9047-1.9047H7.857z"-->
  <!--            fill="inherit"-->
  <!--            fill-rule="nonzero"-->
  <!--          />-->
  <!--        </svg>-->
  <!--        <span>My followings</span>-->
  <!--      </li>-->
  <!--      <li class="aside__nav-item">-->
  <!--        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
  <!--          <path-->
  <!--            d="M6.6 2h8.5785a1.8 1.8 0 011.3828.6477l4.0215 4.8258A1.8 1.8 0 0121 8.6258V18.2c0 1.9882-1.6118 3.6-3.6 3.6H6.6c-1.9882 0-3.6-1.6118-3.6-3.6V5.6C3 3.6118 4.6118 2 6.6 2zm12.6 16.2v-9h-2.7c-.9941 0-1.8-.8059-1.8-1.8V3.8H6.6c-.9941 0-1.8.8059-1.8 1.8v12.6c0 .9941.8059 1.8 1.8 1.8h10.8c.9941 0 1.8-.8059 1.8-1.8zM18.1785 7.4L16.5 5.3858V7.4h1.6785zM8.4 13.7a.9.9 0 110-1.8h7.2a.9.9 0 110 1.8H8.4zm0 3.6a.9.9 0 110-1.8h5.4a.9.9 0 110 1.8H8.4zm0-7.2a.9.9 0 010-1.8h2.7a.9.9 0 110 1.8H8.4z"-->
  <!--            fill="inherit"-->
  <!--            fill-rule="nonzero"-->
  <!--          />-->
  <!--        </svg>-->
  <!--        <span>My outcomes</span>-->
  <!--      </li>-->
  <!--      <li class="aside__nav-item">-->
  <!--        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
  <!--          <path-->
  <!--            d="M21 8H3v3c0 .5523.4477 1 1 1h16c.5523 0 1-.4477 1-1V8zM7 6c0-1.6569 1.3431-3 3-3h4c1.6569 0 3 1.3431 3 3h4c1.1046 0 2 .8954 2 2v10c0 2.2091-1.7909 4-4 4H5c-2.2091 0-4-1.7909-4-4V8c0-1.1046.8954-2 2-2h4zm2 0h6c0-.5523-.4477-1-1-1h-4c-.5523 0-1 .4477-1 1zm0 8H4a2.9952 2.9952 0 01-1-.1707V18c0 1.1046.8954 2 2 2h14c1.1046 0 2-.8954 2-2v-4.1707A2.9952 2.9952 0 0120 14h-5v1.6c0 .7732-.6268 1.4-1.4 1.4h-3.2c-.7732 0-1.4-.6268-1.4-1.4V14zm2 1h2v-1h-2v1z"-->
  <!--            fill="inherit"-->
  <!--            fill-rule="nonzero"-->
  <!--          />-->
  <!--        </svg>-->
  <!--        <span>My projects</span>-->
  <!--      </li>-->
  <!--      <li class="aside__nav-item">-->
  <!--        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
  <!--          <path-->
  <!--            d="M12 1c1.4042 0 2.6164.9758 2.9057 2.339l.0563.2656a8.974 8.974 0 012.8877 1.652l.2577-.0836C19.442 4.74 20.9 5.2935 21.6021 6.5c.702 1.2065.4564 2.736-.589 3.666l-.2018.1797a8.8168 8.8168 0 01-.0018 3.307l.2036.1812c1.0453.9302 1.291 2.4596.589 3.6661-.7021 1.2065-2.16 1.76-3.4947 1.327l-.2585-.0839a9.0092 9.0092 0 01-1.3662.96 9.0432 9.0432 0 01-1.521.6938l-.056.264C14.6164 22.0242 13.4042 23 12 23s-2.6164-.9758-2.9057-2.339l-.0563-.2656a8.974 8.974 0 01-2.8877-1.652l-.2577.0836C4.558 19.26 3.1 18.7065 2.3979 17.5c-.702-1.2065-.4563-2.736.589-3.666l.2018-.1797a8.8168 8.8168 0 01.0018-3.307l-.2036-.1812c-1.0453-.9302-1.291-2.4596-.589-3.6661.7021-1.2065 2.16-1.76 3.4947-1.327l.2585.0839a9.0092 9.0092 0 011.3662-.96 9.0432 9.0432 0 011.521-.6938l.056-.264C9.3836 1.9758 10.5958 1 12 1zm0 2c-.4509 0-.8402.3133-.933.751l-.1777.8373c-.0778.3668-.3558.6595-.7201.7585a6.9927 6.9927 0 00-1.644.6822 6.9568 6.9568 0 00-1.4174 1.0714 1.0137 1.0137 0 01-1.0222.2395l-.8197-.266c-.4285-.139-.8967.0387-1.1221.4261a.9407.9407 0 00.189 1.1772l.6437.5727a.995.995 0 01.302.9985c-.304 1.1476-.3072 2.3545-.002 3.504a.995.995 0 01-.3016.9992l-.642.5712A.9407.9407 0 004.1438 16.5c.2254.3874.6936.5652 1.1221.4261l.8197-.266a1.0137 1.0137 0 011.023.2404c.8508.837 1.906 1.4377 3.0596 1.7504.3646.0988.6428.3917.7206.7586l.1782.8394c.0928.4378.4821.7511.933.7511.4509 0 .8402-.3133.933-.751l.1777-.8373c.0778-.3668.3558-.6595.7201-.7585a6.9927 6.9927 0 001.644-.6822 6.9568 6.9568 0 001.4174-1.0714 1.0137 1.0137 0 011.0222-.2395l.8197.266c.4285.139.8967-.0387 1.1221-.4261a.9407.9407 0 00-.189-1.1772l-.6437-.5727a.995.995 0 01-.302-.9985c.304-1.1476.3072-2.3545.002-3.504a.995.995 0 01.3016-.9992l.642-.5712A.9407.9407 0 0019.8562 7.5c-.2254-.3874-.6936-.5652-1.1221-.4261l-.8197.266a1.0137 1.0137 0 01-1.023-.2404c-.8508-.837-1.906-1.4377-3.0596-1.7504-.3646-.0988-.6428-.3917-.7206-.7586l-.1782-.8394C12.8402 3.3133 12.451 3 12 3zm0 5.3684c2.0216 0 3.6605 1.626 3.6605 3.6316 0 2.0057-1.6389 3.6316-3.6605 3.6316S8.3395 14.0056 8.3395 12c0-2.0057 1.6389-3.6316 3.6605-3.6316zm0 2c-.9083 0-1.6446.7305-1.6446 1.6316 0 .9011.7363 1.6316 1.6446 1.6316.9083 0 1.6446-.7305 1.6446-1.6316 0-.9011-.7363-1.6316-1.6446-1.6316z"-->
  <!--            fill="inherit"-->
  <!--            fill-rule="nonzero"-->
  <!--          />-->
  <!--        </svg>-->
  <!--        <span>Settings</span>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </nav>-->
  <div>
    <label class="aside__label">My organizations</label>
    <nav class="aside__nav">
      <app-organization-structure-navigation [structure]="userOrganizations"></app-organization-structure-navigation>
    </nav>
  </div>

  <ul *ngIf="showMaintainerItems$ | async" class="mb-0">
    <li class="aside__nav-item" routerLinkActive="active" [routerLink]="'platformSettings' | path">
      <fa-icon icon="cog"></fa-icon>
      <span class="ml-2">Portal administration</span>
    </li>
  </ul>
</div>
