<div class="project-card" [ngStyle]="!itemPreview.active ? {backgroundColor: 'rgba(0,0,0,0.1)'} : {}">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center mb-2">
        <h4 class="mr-2">
          <a
            [routerLink]="pathKey | path: itemPreview.itemCode"
            class="link-dark"
            queryParamsHandling="merge"
            (click)="scrollParent();clickedOutcome(itemPreview);"
          >{{ itemPreview.itemName }}</a
          >
        </h4>
        <svg
          *ngIf="itemPreview.verified"
          width="16px"
          height="16px"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#00C96A" cx="8" cy="8" r="8"></circle>
            <path
              d="M6.3825 12.0835c.173.133.3625.1796.5688.1397.2062-.04.3759-.1464.509-.3193l4.1314-6.0276c.133-.1862.1796-.3892.1397-.6087-.04-.2195-.1464-.3958-.3194-.529-.173-.133-.3659-.1795-.5788-.1396-.1996.0399-.3659.1463-.499.3193l-3.5925 5.2491L4.7658 8.032c-.1464-.173-.326-.2628-.5389-.2695-.2129-.0066-.3992.0699-.5588.2296-.1597.1596-.2395.3526-.2395.5788 0 .2262.0732.419.2195.5788l.6187.6786c.3992.4523.825.9214 1.2774 1.407.4524.4857.7318.7684.8383.8483z"
              fill="#FFF"
              fill-rule="nonzero"
            ></path>
          </g>
        </svg>
      </div>
    </div>
    <div class="col-12 col-md-7 mb-2 project-card__description">
      <p *ngIf="itemPreview.itemDescription" class="mb-0">
        {{ itemPreview.itemDescription }}
      </p>
    </div>
    <div class="col-12 col-md-1 mb-2">
      {{ itemPreview.year }}
    </div>
    <div
      class="col-12 {{
        actionsContent?.innerHTML?.trim() ? 'col-md-2' : 'col-md-4'
      }} mb-2"
    >
      <p>{{ itemPreview.itemTypeId | outcomeType | async }}</p>
      <div class="overview" *ngIf="itemPreview?.itemLink">
        <fa-icon icon="link" class="mr-2"></fa-icon>
        <span class="font-size-xs">
          <a [href]="itemPreview.itemLink" target="_blank">Item link</a>
        </span>
      </div>

      <div class="overview" *ngIf="itemPreview?.doi">
        <fa-icon icon="link" class="mr-2"></fa-icon>
        <span class="font-size-xs">
          <a [href]="itemPreview.doi" target="_blank">Item Doi</a>
        </span>
      </div>

      <div class="overview" *ngIf="sendRequestEnabled">
        <button class="btn btn-lg btn-success" (click)="openContactModal()"
                matTooltip="Are you interested in this particular outcome? Let us know by clicking this button and submitting the form,
              we will contact you regarding licensing the outcome or other possibilities.">
          <fa-icon icon="envelope" class="mr-2"></fa-icon>
          Request
        </button>
      </div>
    </div>

    <div #actionsContent class="col-12 col-lg-2">
      <ng-content select=".actions"></ng-content>
    </div>
    <div class="col-12 d-flex flex-wrap">
      <ng-container *ngIf="itemPreview.keywords">
        <button
          (click)="keyword$.emit(keyword)"
          *ngFor="let keyword of itemPreview.keywords.slice(0, KEYWORDS)"
          class="tag cobalt mb-1"
        >
          {{ keyword }}
        </button>
        <button class="tag" *ngIf="itemPreview.keywords.length > KEYWORDS">
          + {{ itemPreview.keywords.length - KEYWORDS }}
          more
        </button>
      </ng-container>
    </div>
  </div>
</div>
