<app-page-loader *ngIf="detailLoading$ | async"></app-page-loader>
<ng-container *ngIf="expertDetail$ | async as expertDetail">
  <ng-container *ngIf="(detailLoading$ | async) == false">
    <section class="container mt-5 mb-4">
      <button class="btn btn--gray mb-4" (click)="back()">
        <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
        Back
      </button>
      <div class="expert-detail">
        <div class="expert-detail__header">
          <img [src]="(expertDetail.userId | userImg: 'XL':'COVER') + ((reloadImgUrl$ | async) || '')"
               appOptionalImg [altSrc]="'images/expert-bg.jpg' | assets" alt="Graphic">
          <button class="expert-detail__edit btn btn--light-blue mr-2" *ngIf="editable$ | async"
                  (click)="changeCoverImg(expertDetail)">
            <fa-icon icon="camera" class="mr-2"></fa-icon>
            Edit cover
          </button>
        </div>
        <div class="expert-detail__body">
        <span class="avatar avatar__lg">
          <img [src]="(expertDetail.userId | userImg: 'M') + ((reloadImgUrl$ | async) || '')" appOptionalImg
               [altSrc]="'images/avatar.png' | assets">
          <span class="avatar__count" *ngIf="expertDetail.rank">
            <fa-icon icon="star" style="color: #fd7d27"></fa-icon>
            <span>{{expertDetail.rank}}</span>
          </span>
        </span>
          <div
            class="d-flex justify-content-start justify-content-center justify-content-lg-end mt-9 mt-lg-0 mb-3 mb-lg-6 py-1 overflow-scroll">
            <button class="btn btn--blue mr-2" *ngIf="editable$ | async" (click)="openEditModal(expertDetail)">
              <fa-icon icon="pencil" class="mr-2"></fa-icon>
              Edit
            </button>
            <!--            <button class="btn btn&#45;&#45;light-blue mr-2" *ngIf="editable$ | async">-->
            <!--              <fa-icon icon="adjust" class="mr-2"></fa-icon>-->
            <!--              Public options-->
            <!--            </button>-->
            <ng-container *ngIf="session$ | async as session">
              <button class="btn btn--light-blue mr-2" *ngIf="follow$ | async; else followButton"
                      [disabled]="followLoading$ | async"
                      (click)="followProfile(session.userId, expertDetail, false)">
                <fa-icon icon="heart" class="text-danger"></fa-icon>
              </button>
              <ng-template #followButton>
                <button class="btn btn--light-blue mr-2"
                        [disabled]="followLoading$ | async"
                        (click)="followProfile(session.userId, expertDetail, true)">
                  <fa-icon icon="heart"></fa-icon>
                </button>
              </ng-template>
            </ng-container>
            <!--<button class="btn btn&#45;&#45;light-blue mr-2">
              <fa-icon icon="share"></fa-icon>
            </button>-->
            <!--          <button class="btn btn&#45;&#45;light-blue">-->
            <!--            <fa-icon icon="ellipsis-h"></fa-icon>-->
            <!--          </button>-->
          </div>
          <h3 class="text-center mb-2">{{expertDetail.name}}</h3>
          <div *ngFor="let o of expertDetail.organizationDtos">
            <div class="d-flex justify-content-center align-items-center mb-1" title="Organization is active" *ngIf="o.active">
              <fa-icon icon="star" class="mr-2 text-lg" style="color:#E4CC00"></fa-icon>
              <span class="font-size-sm">{{o.organizationAbbrev || o.organizationName}}</span>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mb-4 text-success" title="Expert is verified">
            <fa-icon icon="check-circle" class="mr-2 text-success-light text-lg"></fa-icon>
            <span class="font-size-sm">Verified expert</span>
          </div>
          <p class="expert-detail__title mb-4" *ngIf="expertDetail.description">{{expertDetail.description}}</p>
          <div style="display: flex; max-width: 866px; margin: 0 auto; overflow: auto;">
            <div class="overflow-scroll">
              <div class="d-flex mb-4">
                <ng-container *ngFor="let organization of expertDetail.organizationDtos">
                  <ng-container *ngIf="organization.visible">
                    <a [routerLink]="'organizationDetail' | path: organization.organizationId" class="expert-detail__company">
                      <span>
                        <img appOptionalImg [src]="organization.organizationId | organizationImg: 's'">
                        <span class="ml-2">{{organization.organizationAbbrev || organization.organizationName}}</span>
                        <fa-icon icon="star" class="ml-1 text-lg" style="color:#E4CC00" title="Organization is active" *ngIf="organization.active"></fa-icon>
                      </span>
                    </a>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="expert-detail__tags pt-2" *ngIf="expertDetail.keywords.length > 0">
            <button class="btn btn--filter" *ngFor="let tag of expertDetail.keywords">{{tag}}</button>
          </div>
        </div>
      </div>
    </section>
    <section class="container mb-1">
      <div class="projects">
        <ul class="expers-list projects__nav bg-white d-flex justify-content-xl-center overflow-scroll">
          <li class="navbar__item text-center mx-3 cursor-pointer"
              *ngFor="let mode of outcomeListModeDetails"
              (click)="setMode(mode)"
              [class.active]="(outcomeListMode$ | async) == mode.outcomeListMode">
            <fa-icon class="d-block text-x-lg" [icon]="mode.icon"></fa-icon>
            {{mode.title}} ({{expertDetail | getProperty:mode.countProperty}})
          </li>
        </ul>
        <div class="projects__body p-4">
          <app-expert-detail-commercialization *ngIf="(outcomeListMode$ | async) == outcomeListModes.COMMERCIALIZATION"
                                               [filter]="{query: filter.query}"
                                               [expertCode]="expertDetail.expertCode">
          </app-expert-detail-commercialization>
          <app-expert-detail-outcomes *ngIf="(outcomeListMode$ | async) == outcomeListModes.RESEARCH_OUTCOME"
                                      [precomputeFilter]="{query: filter.query}"
                                      [expertCode]="expertDetail.expertCode">
          </app-expert-detail-outcomes>
          <app-expert-detail-projects *ngIf="(outcomeListMode$ | async) == outcomeListModes.RESEARCH_PROJECT"
                                      [expertCode]="expertDetail.expertCode">
          </app-expert-detail-projects>
          <app-expert-detail-thesis *ngIf="(outcomeListMode$ | async) == outcomeListModes.THESIS"
                                    [filter]="{query: filter.query}"
                                    [expertCode]="expertDetail.expertCode">
          </app-expert-detail-thesis>
          <app-expert-detail-lectures *ngIf="(outcomeListMode$ | async) == outcomeListModes.LECTURES"
                                      [filter]="{query: filter.query}"
                                      [expertCode]="expertDetail.expertCode">
          </app-expert-detail-lectures>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
