<button class="btn collapsible-controller" type="button"
        (click)="collapse.toggle()"
        (click)="changeClass()"
        [attr.aria-expanded]="!isCollapsed"
         >
  {{ status ? 'Show filters' : '&nbsp;Hide filters' }}
  <fa-icon icon="chevron-down" class="dropdown-icon-filter"
           [ngClass]="status ? 'chevron-toggle-down' : 'chevron-toggle-up'"></fa-icon>
</button>
<div class="filter_wrapper">
  <section #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="bg-white p-2 border-bottom top-filters">
    <ng-content>

    </ng-content>
  </section>
</div>
