<section class="bg-white">
  <div class="d-flex align-items-center justify-content-between px-4 pt-5 pb-3 ml-0">
    <h3>Members</h3>
    <button class="btn btn--primary" (click)="openEditModal()">
      <svg class="mr-2" width="18px" height="18px" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.9167 8.0833h6.4166a.9167.9167 0 110 1.8334H9.9167v6.4166a.9167.9167 0 11-1.8334 0V9.9167H1.6667a.9167.9167 0 010-1.8334h6.4166V1.6667a.9167.9167 0 011.8334 0v6.4166z"
          fill="currentColor" fill-rule="evenodd"/>
      </svg>
      Add member
    </button>
  </div>
  <section class="filters d-flex align-items-center px-4" [formGroup]="filterFormGroup">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Search organizations</label>
          <div class="btn btn--light btn--input">
            <input class="input" aria-label="Search" formControlName="query">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <div class="filter">
          <label>Search type</label>
          <div class="btn btn--light btn--dropdown">
            <mat-select formControlName="exactMatch">
              <mat-option [value]="false">Partial match</mat-option>
              <mat-option [value]="true">Exact match</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <div class="filter">
          <label>Countries</label>
          <app-multi-select [options]="countries$ | async" formControlName="countryCodes"></app-multi-select>
        </div>
      </div>
    </div>
  </section>
</section>
<app-page-loader *ngIf="loading$ | async"></app-page-loader>
<ng-container *ngIf="data$ | async as wrapper">
  <ng-container *ngIf="(loading$ | async) == false">
    <section class="px-4 pt-3">
      <app-organization-card [organization]="organization" *ngFor="let organization of wrapper.organizationBaseDtos">
        <div>
          <a class="btn btn-danger" (click)="removeMember(organization.organizationId)">
            Remove
          </a>
        </div>
      </app-organization-card>
    </section>
    <app-pagination [pageInfo]="pageInfo$ | async"
                    [hidden]="loading$ | async"
                    [numberOfResults]="wrapper.numberOfAllItems"
                    (pageChanged)="pageInfo$.next($event)"></app-pagination>
  </ng-container>
</ng-container>
