<div class="modal__content" *ngIf="organization$ | async as organization">
  <div class="modal__header">
    <h3 class="modal__title">{{organization.substituteOrganizationAbbrev || organization.organizationName}}
      licences</h3>
  </div>
  <div class="modal__body">
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngIf="licences$ | async as licences">
        <div *ngIf="licences.length == 0" class="no-result-note">
          No licence added yet.
        </div>
        <div
          class="project-card font-weight-normal font-size-sm text-black w-100 h-auto mb-2 py-2 {{licence.valid ? 'green' : 'red'}}"
          *ngFor="let licence of licences"
          style="min-height: 20px">
          <div class="row align-items-center">
            <div class="col-5">
              {{roleTranslations[licence.licenceRole]}}
            </div>
            <div class="col-3">
              {{licence.numberOfUserLicences}} licences
            </div>
            <div class="col-2">
              {{licence.validUntil ? (licence.validUntil | baseDate) : 'Unlimited'}}
            </div>
            <div class="col-2 justify-content-end">
              <button class="btn btn-danger" (click)="removeLicence(licence)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="border-top pt-3 mt-3" [formGroup]="formGroup" *ngIf="addLicenceMode$ | async">
      <div class="row mb-4">
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
          <label class="font-weight-bold mb-2 mb-lg-0">Licence</label>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          <mat-select formControlName="role" class="input input--gray">
            <mat-option *ngFor="let role of rolesToChoose" [value]="role">
              {{roleTranslations[role]}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
          <label class="font-weight-bold mb-2 mb-lg-0">Valid Until</label>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          <div class="input input--gray input--gray-wrapper">
            <input aria-label="Valid until" formControlName="validUntil"
                   placeholder="Unlimited"
                   ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
            <button (click)="d1.toggle()" class="btn btn-primary">
              <fa-icon icon="calendar"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
          <label class="font-weight-bold mb-2 mb-lg-0">Number of licences</label>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          <input class="input input--gray" aria-label="Number of licences" formControlName="numberOfLicences">
        </div>
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()" *ngIf="(addLicenceMode$ | async) == false">
        Close
      </button>

      <button class="btn btn--gray mr-2" type="button" (click)="addLicenceMode$.next(false)"
              *ngIf="(addLicenceMode$ | async)">
        Cancel
      </button>

      <button class="btn btn--blue" type="button" (click)="addLicenceMode$.next(true)"
              *ngIf="(addLicenceMode$ | async) == false">
        Add licence
      </button>
      <button class="btn btn-success" type="button" (click)="addLicence()" *ngIf="addLicenceMode$ | async">
        Save licence
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
