<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Recent searches by {{ user.firstName }} {{ user.lastName }}</h3>
  </div>
  <div class="modal__body pb-0">

    <section class="w-100">
      <section class="container px-4">
        <app-page-loader *ngIf="loading$ | async"></app-page-loader>
        <div [hidden]="loading$ | async">
          <ng-container *ngFor="let rowWrapper of searchHistoryDtos$ | async">
            <app-search-history-row *ngIf="(rowWrapper.deleted$ | async) == false" [row]="rowWrapper.row">
              <button class="btn-plain btn-plain-gray"
                      type="button"
                      [disabled]="rowWrapper.saving$ | async"
                      (click)="deleteRow(rowWrapper)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </app-search-history-row>
          </ng-container>

          <app-pagination *ngIf="searchHistoryWrapper$ | async as wrapper"
                          [pageInfo]="pageInfo$ | async"
                          [disableUrl]="true"
                          [numberOfResults]="wrapper.numberOfResults"
                          (pageChanged)="pageInfo$.next($event)"></app-pagination>
        </div>
      </section>
    </section>

  </div>
  <div class="modal__footer">
    <ng-container>
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Close
      </button>
    </ng-container>
  </div>
</div>
