/**
 * About
 */

.about {
  &__desktop {
    display: none;
    width: 1000px;
    float: right;

    @include media-breakpoint-up('lg') {
      display: block;
    }
  }

  &__graph {
    display: none;
    width: 313px;
    position: absolute;
    top: 0;
    right: 20px;

    @include media-breakpoint-up('lg') {
      display: block;
    }
  }

  &__dots {
    display: none;
    width: 153px;
    position: absolute;
    top: 220px;
    right: 0;
    transform: scale(.7);
    z-index: -1;

    @include media-breakpoint-up('lg') {
      display: block;
    }
  }
}
