/**
 * Buttons
 */

.btn {
  display: inline-flex;
  height: 40px;
  padding: 0 1rem;
  font-size: .875rem;
  font-weight: $font-weight-bold;
  align-items: center;
  justify-content: center;
  border-radius: $btn-radius;
  transition: background .2s ease-in-out, color .2s ease-in-out;
  cursor: pointer;
  border: none;

  @each $color, $value in $colors {
    &.btn--#{$color} {
      background: $value;
      color: $white;

      @include button-states($value);
    }
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    pointer-events: none;
  }

  &--md {
    height: 48px;
    font-size: .9375rem;
  }

  &--lg {
    height: 56px;
    font-size: .9375rem;
  }
}
