/**
 * Category card
 */

.category-card {
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  background: $white;
  padding: 2.5rem 2.25rem 2.5rem .75rem;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(70, 69, 88, .04);
  transition: box-shadow .2s;
  direction: initial;
  margin-bottom: 1.5rem;

  &__icon {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 100%;

    @each $color, $value in $colors {
      &.#{$color} {
        background: rgba($value, .16);
        fill: $value;
      }
    }

    > svg {
      transform: scale(.45);
    }
  }

  > p {
    font-weight: $font-weight-bold;
    color: $black;
    white-space: nowrap;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover {
    box-shadow: 9px 12px 11px 0 rgba(70, 69, 88, .2);
  }
}
