/**
 * Controls
 */

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 142px;
  height: 19px;
  $this: &;

  &__arrow {
    display: flex;
    align-items: center;
    width: 26px;
    transition: width .2s;
    cursor: pointer;
    fill: #c1cad4;

    > svg {
      width: 10px;
      height: 18px;
    }

    &.left {
      margin-right: .25rem;
    }

    &.right {
      margin-left: .25rem;
    }

    &:hover {
      width: 75%;
      fill: #5e6771;

      #{$this}__line {
        background: #5e6771;
      }
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background: #c1cad4;
    border-radius: 1px;
  }
}
