/**
 * Customer card
 */

.customer-card {
  width: 100%;
  display: flex;
  padding: 0 1.5rem;
  background: $white;
  border-radius: 10px;

  @include media-breakpoint-up('sm') {
    padding: .5rem;
  }

  &__image {
    display: none;
    width: 315px;
    border-radius: 10px;
    overflow: hidden;

    @include media-breakpoint-up('lg') {
      display: block;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__quote {
    width: 28px;
    height: 20px;
    margin-bottom: 2rem;
  }

  &__paragraph {
    max-width: 441px;
    margin-bottom: 1.5rem;
    line-height: 36px;
    color: #171726;
    text-align: center;
    font-size: $font-size-lg;
  }

  &__institution {
    color: #5e6771;
    font-size: $font-size-sm;
  }
}
