/**
 * Custom cursor
 */

.custom-cursor {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s;

  @include media-breakpoint-up('lg') {
    display: block;

    .explore:hover & {
      opacity: 1;
    }
  }

  .circle {
    transform-origin: center center;
    animation: rotate 6s linear forwards infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
