/**
 * Customers
 */

.customers {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 1rem;
  color: $white;

  @include media-breakpoint-up('md') {
    padding-top: 15rem;
    padding-bottom: 6rem;
  }

  &__shape {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    //background: url('../images/customers-mask.svg') no-repeat;
    background-size: cover;

    @include media-breakpoint-up('md') {
      //background: url('../images/customers-mask.svg') no-repeat left top;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    color: $white;
  }

  &__paragraph {
    margin-bottom: 3rem;
    text-align: center;
  }

  &__control {
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    border-radius: 100%;
    background: $white;
    stroke: #5454d4;
    box-shadow: 0 4px 4px 0 rgba(70, 69, 88, .04);
    transition: background .2s;
    transform: translateY(-50%);

    &.right {
      right: -33px;
    }

    &.left {
      left: -33px;
    }

    > svg {
      width: 21px;
      height: 14px;
    }

    &:hover {
      background: $primary;
      stroke: #fff;
    }
  }

  &__logos {
    display: none;
    width: 100%;
    max-width: 920px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up('md') {
      display: flex;
    }

    > img {
      transform-origin: bottom left;
      opacity: .3;
      transition: opacity .2s;
    }

    > img.active {
      opacity: 1 !important;
    }
  }

  .owl-carousel {
    max-width: 920px;
    margin-bottom: 2rem;
  }

  .owl-nav,
  .owl-dots {
    height: 0;
  }
}
