/**
 * Expert card
 */

.expert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  background: $white;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(70, 69, 88, .04);
  margin-bottom: 7rem;
  width: 312px;

  &__avatar {
    width: 96px;
    height: 96px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: .5rem;
    color: $black;
    font-size: 1.3125rem;
    font-weight: $font-weight-bold;
  }

  &__stats {
    margin-right: 1.5rem;
    margin-bottom: .5rem;

    > svg {
      width: 20px;
      height: 18px;
      margin-right: .5rem;
    }
  }

  &__check {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    > svg {
      width: 14px;
      height: 14px;
      margin-right: .5rem;
    }

    > p {
      margin: 0;
      font-size: .8125rem;
      color: $primary;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 52px 54px 0 rgba(70, 69, 88, .3);
    z-index: 2;
  }
}

.owl-item:first-child .expert-card {
  opacity: 0;
  width: calc(calc(100vw - 1370px) / 2);
}
