/**
 * Explore
 */

.explore {
  position: relative;
  height: 540px;
  max-height: 540px;
  overflow: hidden;

  @include media-breakpoint-up('lg') {
    cursor: none;
  }

  &__carousels {
    height: 368px;
  }
}
