/**
 * Experts
 */

.experts {
  padding-top: 15rem;

  @include media-breakpoint-up('lg') {
    padding-top: 0;
  }

  @include media-breakpoint-up('xl') {
    // margin-left: calc(calc(100vw - 1340px) / 2);

    .owl-item:nth-child(odd) {
      padding-top: 6rem;
    }
  }

  &__all {
    display: flex;
    align-items: center;
  }
}
