/**
 * Footer
 */

.footer {
  background: #171726;

  &__logo {
    max-width: 142px;

    @include media-breakpoint-down('md') {
      margin-bottom: 2rem;
    }
  }

  &__logo-unico {
    max-width: 209px;
    opacity: .37;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
    }
  }

  &__heading {
    margin-bottom: 1rem;
    color: $white;

    @include media-breakpoint-up('sm') {
      margin-bottom: 2rem;
    }
  }

  &__link {
    display: block;
    color: rgba($white, .7);
    font-weight: $font-size-sm;
    margin-bottom: 1rem;
    transition: color .2s;

    &:hover {
      color: $white;
    }
  }

  &__social {
    a {
      display: inline-flex;
      transition: opacity .2s;

      &:hover {
        opacity: .7;
      }
    }
  }

  small {
    color: rgba($white, .7);
  }
}
