/**
 * Header
 */

.header {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 10;
  transition: background .2s;

  &__logo {
    max-width: 142px;
    margin-right: auto;
  }

  &__sign-in {
    margin-right: 1rem;
    color: $white;
    background: rgba($white, .14);
    white-space: nowrap;

    @include button-states(rgba($white, .2));
  }

  &__trigger {
    width: 100%;
    background: #00a380;
    position: absolute;
    top: 72px;
  }

  &__sign-up {
    color: #1e3043;
    background: $white;
    white-space: nowrap;

    @include button-states(rgba($white, .8));
  }

  //@include media-breakpoint-up('lg') {
  //  opacity: 0;
  //}
}
