/**
 * Hero
 */

.hero {
  position: relative;
  padding-top: 4rem;

  @include media-breakpoint-up('lg') {
    padding-top: 8rem;
    height: 750px;
  }

  &__shape {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;

    @include media-breakpoint-up('lg') {
      object-position: 30% 100%;
    }

    @include media-breakpoint-up('xl') {
      object-position: 60% 100%;
    }
  }

  &__title {
    color: $white;
    text-align: center;

    @include media-breakpoint-up('lg') {
      text-align: left;
    }

    > br {
      @include media-breakpoint-down('lg') {
        display: none;
      }
    }
  }

  &__title-mask {
    overflow: hidden;
  }

  &__dots {
    display: none;
    width: 153px;
    position: absolute;
    top: -40px;
    right: 110px;
    transform: scale(.7);

    @include media-breakpoint-up('lg') {
      display: block;
    }

    @include media-breakpoint-up('xl') {
      top: -25px;
      right: 140px;
    }
  }

  &__search {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: $btn-radius;
    box-shadow: 0 40px 40px 0 rgba(70, 69, 88, .3);

    @include media-breakpoint-up('lg') {
      margin-top: 2rem;
      margin-bottom: 0;
    }

    > input {
      width: 100%;
      height: 72px;
      padding: 1rem 7.2rem 1rem 1.5rem;
      border-radius: $btn-radius;
      transition: border-radius .1s .2s;

      &.is-expanded {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        transition: border-radius 0s;
      }

      @include media-breakpoint-up('xl') {
        padding: 1rem 6rem 1rem 1.5rem;
      }
    }

    > button {
      position: absolute;
      top: 50%;
      right: .75rem;
      transform: translateY(-50%);
    }
  }

  &__suggestions {
    width: 100%;
    //position: absolute;
    //top: 62px;
    background: $white;
    border-bottom-right-radius: $btn-radius;
    border-bottom-left-radius: $btn-radius;
    overflow: auto;
    transition: max-height .2s;
    z-index: 100;

    ::ng-deep.mat-list-item-content {
      padding: 0 1.5rem !important;
    }
  }

  &__devices {
    @include media-breakpoint-up('lg') {
      display: none;
    }
  }

  &__tablet {
    width: 800px;
    display: none;
    position: relative;
    left: -50px;

    @include media-breakpoint-up('lg') {
      display: block;
    }
  }

  &__mobile {
    width: 360px;
    display: none;
    position: absolute;

    @include media-breakpoint-up('lg') {
      display: block;
      top: 290px;
      left: 260px;
    }
  }
}
