/**
 * Institution card
 */

.institution-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $white;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(70, 69, 88, .04);
  transition: box-shadow .2s;
  cursor: pointer;

  @include media-breakpoint-up('xl') {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__logo {
    position: relative;
    left: -5px;
    width: 84px;
    height: 84px;
    margin-bottom: 1.7rem;
  }

  &__title {
    margin-bottom: 0;
    font-size: 1.3125rem;
    font-weight: $font-weight-bold;
    color: $black;
  }

  &__stats {
    margin-right: 1.5rem;

    > svg {
      width: 20px;
      height: 18px;
      margin-right: .5rem;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 52px 54px 0 rgba(70, 69, 88, .3);
    z-index: 2;
  }
}
