/**
 * Institutions
 */

.institutions {
  position: relative;

  @include media-breakpoint-up('lg') {
    padding-bottom: 11rem;
  }

  .wrapper {
    position: relative;
    width: 100%;

    @include media-breakpoint-up('xl') {
      padding-top: 100%;
    }
  }

  &__count,
  &__count--mobile {
    font-size: 5rem;
    font-weight: $font-weight-bolder;
    color: $white;
  }

  &__link {
    display: flex;
    align-items: center;

    > a {
      margin-right: 1.5rem;
      color: $white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      &:hover + svg {
        transform: translateX(10px);
      }
    }
  }

  &__chevron {
    width: 14px;
    height: 25px;
    transition: transform .2s ease-in-out;
  }

  &__shape {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 200px;

    @include media-breakpoint-down('md') {
      max-width: unset;
      height: 100%;
    }
  }
}
