/**
 * Loader
 */

.loader {
  min-height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: $blue;
  pointer-events: none;

  &__progress {
    position: relative;
    width: 300px;
    height: 2px;
    background: $white;
  }

  &__line {
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    left: 0;
    background: $blue;
  }

  &__image {
    height: 20px;

    > img {
      transform: scale(0);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media-breakpoint-down('md') {
      transform: translateY(-30px);
    }
  }
}
