/**
 * Relationship
 */

.relationship {
  padding-top: 2rem;
  text-align: center;

  @include media-breakpoint-down('md') {
    margin-top: -6rem;
  }

  @include media-breakpoint-up('lg') {
    padding-top: 12rem;
  }

  &__title {
    height: 110px;

    @include media-breakpoint-up('lg') {
      display: block;
    }

    > br {
      @include media-breakpoint-down('md') {
      }
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @include media-breakpoint-up('lg') {
      display: inline-flex;
    }
  }

  &__icon {
    width: 99px;
    height: 90px;
    margin-bottom: 2.5rem;
  }

  &__text {
    max-width: 293px;
    text-align: center;
  }

  &__line {
    width: 154px;
    height: 34px;

    @include media-breakpoint-down('md') {
      display: none;
    }

    &.first {
      position: absolute;
      top: 50px;
      right: -30%;

      @include media-breakpoint-up('xl') {
        right: -50%;
      }
    }

    &.second {
      position: absolute;
      top: 20px;
      right: -30%;
      transform: scaleY(-1);

      @include media-breakpoint-up('xl') {
        right: -50%;
      }
    }
  }
}
