/**
 * Sidebar
 */

.sidebar {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 3rem 1.5rem 5rem 1.5rem;
  z-index: 500;
  background: $white;
  overflow: scroll;
  transform: translateX(100%);
  transition: transform .2s;

  @include media-breakpoint-up('lg') {
    max-width: 668px;
    padding: 7vh 130px 0 130px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
  }

  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 1.5rem;
    transition: opacity .2s;
    cursor: pointer;

    @include media-breakpoint-up('lg') {
      right: 30px;
    }

    &:hover {
      opacity: .8;
    }
  }

  h2 {
    font-size: 1.25rem;
    display: inline-block;
    color: #c1cad4;
    cursor: pointer;
    transition: color .2s;

    &.active {
      color: $black;
    }

    &:hover:not(.active) {
      color: $body-color;
    }

    @include media-breakpoint-up('lg') {
      font-size: 2rem;
    }
  }

  label {
    display: block;
    font-size: .75rem;
    margin-bottom: .5rem;
  }

  input {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    font-size: $font-size-sm;
    background: #eff2f5;
    border-radius: $btn-radius;
  }

  button {
    width: 100%;
    color: #fff;
  }

  p {
    text-align: center;
    font-size: .8125rem;

    > a {
      color: $black;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child {
      margin-top: 2rem;
    }
  }

  #two {
    display: none;
  }

  &.open {
    transform: translateX(0);
  }
}
