/**
 * Tag
 */

.tag {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .5rem .75rem;
  white-space: nowrap;
  border: none;

  &--sm {
    padding: .3rem .75rem;
  }

  @each $color, $value in $colors {
    &.#{$color} {
      color: $value;
      font-size: .75rem;
      background: rgba($value, .16);
      border-radius: 6px;
      outline-color: $value;
      cursor: pointer;
    }
  }
}
