<div class="d-flex text-right align-items-center">
  <button class="btn btn-primary" [matMenuTriggerFor]="menu">
    Actions
    <fa-icon icon="angle-down" class="ml-2"></fa-icon>
  </button>

  <mat-menu #menu>
    <div style="min-width: 200px">
      <button mat-menu-item (click)="onVerifyClick(expertPreview)">
        <span>{{ verifyLabel }}</span>
      </button>

      <button mat-menu-item (click)="onRetiredInOrganizationClick(expertPreview)">
        <span>{{ retireInOrganizationLabel }}</span>
      </button>
      <button (click)="openMergeMenu(expertPreview)" mat-menu-item>
        <span>Claim experts</span>
      </button>
      <button mat-menu-item (click)="removeFromOrganization(expertPreview)">
        <span>Remove from organization</span>
      </button>
    </div>
  </mat-menu>
</div>
