<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Edit profile</h3>
  </div>
  <div class="modal__body" [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex justify-content-lg-end mb-2 mb-lg-0">
        <figure class="avatar avatar__md overflow-hidden">
          <img [hidden]="imgFilePreviewUrl$ | async" [src]="expert.userId | userImg" appOptionalImg
               [altSrc]="'images/avatar.png' | assets">
          <img *ngIf="imgFilePreviewUrl$ | async as file" [src]="file">
        </figure>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-file-drop (filesUpdated)="imgFile$.next($event[0])"
                       (fileUrlUpdated)="imgFilePreviewUrl$.next($event)"
                       class="w-100">
        </app-file-drop>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Name</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" formControlName="name">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Companies</label>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column">
        <div class="d-flex align-items-center mb-2" *ngFor="let o of formGroup.value.organizationDtos">
          <div class="w-100 mr-3 overflow-hidden">
            <button [title]="o.organizationName" class="btn btn--gray font-weight-normal font-size-sm text-black w-100 justify-content-start "
                    type="button">
              {{o.organizationName}}
            </button>

          </div>
          <button class="btn-plain btn-plain-gray dropdown__delete"
                  title="Remove organization" (click)="removeOrganization(o)">
            <fa-icon icon="trash"></fa-icon>
          </button>
          <button class="btn-plain btn-plain-gray dropdown__delete"
                  title="Set organization visibility" (click)="toggleHidden(o)">
            <fa-icon *ngIf="o.visible" icon="eye"></fa-icon>
            <fa-icon *ngIf="!o.visible" icon="eye-slash"></fa-icon>
          </button>
          <button class="btn-plain btn-plain-gray dropdown__delete"
                  title="Set main organization" (click)="toggleActive(o, formGroup.value.organizationDtos)">
            <fa-icon *ngIf="o.active" icon="star" style="color:#E4CC00"></fa-icon>
            <fa-icon *ngIf="!o.active" icon="star"></fa-icon>
          </button>
        </div>

        <div class="d-flex align-items-center mt-2">

          <input class="input input--gray mr-3" [matAutocomplete]="auto" [formControl]="searchOrganizationFc"
                 placeholder="Search existing organizations">

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addOrganization($event)">
            <mat-option *ngFor="let option of organizationOptions$ | async" [value]="option"
                        container="body"
                        [ngbTooltip]="option.organizationName">
              {{option.organizationAbbrev || option.organizationName}}
              <div class="sub-description" *ngIf="option.organizationAbbrev">
                {{option.organizationName}}
              </div>
            </mat-option>
          </mat-autocomplete>

          <!--          <button class="btn btn&#45;&#45;light-blue" type="button">-->
          <!--            <fa-icon icon="plus" class="mr-2"></fa-icon>-->
          <!--            Create new-->
          <!--          </button>-->
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">About</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" formControlName="description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0">Skills cloud</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-tags-input class="w-100" [searchFunction]="lookupKeywords" type="filled"
                        formControlName="keywords" [customTags]="true"></app-tags-input>
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="saveChanges()">
        Save
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
