@mixin button-states($color) {
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($color, .4);
  }

  &:hover {
    background: darken($color, 4.5%);
  }

  &:active {
    background: darken($color, 10%);
  }
}
