<div class="project-card {{ project.unitVerified ? 'green' : 'red' }} d-flex">
  <label class="checkbox mr-3">
    <input type="checkbox" class="form-check-input">
    <span class="checkbox__checkmark"></span>
    <svg width="14px" height="10px" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.7036 3.972C1.311 3.5834.6779 3.5866.2894 3.979c-.3886.3926-.3854 1.0257.007 1.4143l5.8254 5.7673c.4113.4071 1.0812.3812 1.4598-.0565l8.1747-9.4499c.3613-.4177.3156-1.0492-.102-1.4105-.4178-.3613-1.0493-.3156-1.4106.102l-7.4749 8.641L1.7036 3.972z" fill="inherit" fill-rule="nonzero"></path>
    </svg>
  </label>
  <div class="row">
    <div
      class="col-12 {{
        actionsContent?.innerHTML?.trim() ? 'col-lg-4' : 'col-lg-4'
      }} d-flex flex-column"
    >
      <h4 class="mb-2">
        <a
          [routerLink]="pathKey | path: project.projectCode"
          class="link-dark"
          (click)="clickedProject(project);scrollParent();"
        >{{ project.name }}</a
        >
      </h4>
      <p class="project-card__description" *ngIf="project.projectProgramName">
        {{ project.projectProgramName }}
      </p>
      <div *ngIf="project.organizationBaseDtos.length > 0">
        <a
          class="project-card__link link-dark"
          *ngFor="
            let organization of project.organizationBaseDtos.slice(
              0,
              SHOWN_ORGANIZATIONS
            )
          "
        >
          {{
          organization.organizationAbbrev
            ? organization.organizationAbbrev
            : organization.organizationName
          }}
        </a>
        <a
          class="expert-card__link text-nowrap"
          *ngIf="project.organizationBaseDtos.length > SHOWN_ORGANIZATIONS"
          [ngbPopover]="organizationsPopover"
          container="body"
        >
          +
          {{ project.organizationBaseDtos.length - SHOWN_ORGANIZATIONS }} other
        </a>
        <ng-template #organizationsPopover>
          <app-organizations-popover
            [organizations]="project.organizationBaseDtos"
          ></app-organizations-popover>
        </ng-template>
      </div>
      <div class="d-flex flex-wrap" *ngIf="project.keywords.length > 0">
        <button
          (click)="keyword$.emit(keyword)"
          class="tag cobalt mb-1"
          *ngFor="let keyword of project.keywords.slice(0, SHOWN_KEYWORDS)"
        >
          {{ keyword }}
        </button>
        <button
          class="tag cobalt mb-1"
          *ngIf="project.keywords.length > SHOWN_KEYWORDS"
          [ngbPopover]="keywordsPopover"
          container="body"
        >
          + {{ project.keywords.length - SHOWN_KEYWORDS }} more
        </button>
        <ng-template #keywordsPopover>
          <app-keywords-popover
            [keywords]="project.keywords"
          ></app-keywords-popover>
        </ng-template>
      </div>
    </div>
    <div class="col-12 col-lg-2 d-flex flex-column justify-content-around py-3">
      <!--      <div class="project-card__info">-->
      <!--        <span>Project identification</span>-->
      <!--        <b>GA13-03253S</b> &lt;!&ndash; todo what is identification &ndash;&gt;-->
      <!--      </div>-->
      <div class="project-card__info">
        <span>Project duration</span>
        <b
        >{{ project.startDate | date: "dd.MM.yyyy" }}-
          {{ project.endDate | date: "dd.MM.yyyy" }}</b
        >
      </div>
      <div class="project-card__info" *ngIf="project?.projectLink">
        <a [href]="project.projectLink" target="_blank">
          <fa-icon icon="link" class="mr-2"></fa-icon>
          Project Link</a
        >
      </div>
    </div>
    <div class="col-12 col-lg-2 d-flex align-items-center">
      <button
        class="btn_default tag {{
          project.confidentiality | confidentialityColor
        }}"
      >
        <span class="pt-1">{{
          project.confidentiality | confidentialityTitle
          }}</span>
      </button>
    </div>

    <div class="col-12 col-lg-2 d-flex align-items-center" *ngIf="sendRequestEnabled">
      <button class="btn btn-lg btn-success" (click)="openContactModal()"
              matTooltip="Are you interested in this particular project? Let us know by clicking this button and submitting the form,
      we will contact you and possibly arrange a discussion with the project team.">
        <fa-icon icon="envelope" class="mr-2"></fa-icon>
        Request
      </button>
    </div>

    <div class="col-12 col-lg-2">
      <app-members [experts]="project.projectExperts"></app-members>
    </div>

    <div #actionsContent class="col-12 col-lg-2 text-right">
      <ng-content select=".actions"></ng-content>
    </div>
  </div>
</div>
