<div class="members">
  <figure class="members__avatar cursor-pointer" *ngFor="let expert of experts.slice(0,numberOfExpertsShown)"
          [routerLink]="'widgetExpertDetail' | path: expert.expertCode">
    <img [src]="expert.userId | userImg" appOptionalImg [altSrc]="'images/avatar.png' | assets"
         container="body"
         [ngbTooltip]="expert.name">
  </figure>
  <figure class="members__avatar cursor-pointer"
          *ngIf="experts.length > numberOfExpertsShown"
          [ngbPopover]="popContent" placement="left auto" container="body">
          <span>
            +{{experts.length - numberOfExpertsShown}}
          </span>
    <ng-template #popContent>
      <app-experts-popover [experts]="experts"></app-experts-popover>
    </ng-template>
  </figure>
</div>
