<div class="vh-100 d-flex justify-content-center align-items-center">
  <div>
    <div class="mb-4 text-center box-div mx-3">
      <fa-icon [icon]="['fas', 'bell']" size="5x" class="subscribe-bell"></fa-icon>
      <h1>Check our subscription policies</h1>
      <div class="text-left">
        <!--        <h1>Check our subscription policies</h1>-->
        <ng-form [formGroup]="formGroup">
          <mat-radio-group class="tp-radio-group" name="opList" formControlName="subscriptionType" [value]="1">
            <ng-container *ngFor="let op of subscriptionTypes$ | async">
              <span><mat-radio-button [checked]="op.subscriptionGroup === 'A'"  [value]="op.id" name="opList"></mat-radio-button>{{ op.description }}</span>
            </ng-container>
          </mat-radio-group>
          <div>
            <label for="mail-input">Email address</label>
            <input id="mail-input" type="email" class="form-control" placeholder="email" formControlName="mail" />
          </div>
          <div class="text-right" (click)="onSubmit()">
            <button class="btn btn-primary btn--blue" type="button">Subscribe</button>
          </div>
        </ng-form>
        <p class="subscribe-text">By clicking on “subscribe”, you want to receive news with new job opportunities sent by the university via <a href="https://www.unico.ai">UNICO.ai</a>
          CZ, s.r.o. and consent to processing your e-mail. For more info, see the Personal Data Protection of the university.</p>
      </div>
    </div>
  </div>
</div>
