// Mixins
@import 'ng-src/app/homepage/scss/mixins/mixins';

// Core
@import 'ng-src/app/homepage/scss/variables';


.subscribe-bell {
  color: $green;
}


mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: $font-size-base;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.box-div {
  max-width: 40em !important;
}

.subscribe-text {
  font-size: small;
}
