<app-explore-header type="experts" (query)="query$.next($event)"></app-explore-header>

<section class="filters d-flex align-items-center mb-3" [formGroup]="filterFormGroup">
  <div class="container">
    <div class="row mx-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter">
          <label>Organizations</label>
          <app-tags-input [searchFunction]="autocompleteOrganizations" [loadTagsFunction]="loadOrganizations"
                          formControlName="organizationIds">
          </app-tags-input>
        </div>
      </div>

    </div>
  </div>
</section>

<app-page-loader *ngIf="loading$ | async"></app-page-loader>

<ng-container *ngIf="equipmentWrapper$ | async as equipmentWrapper">
  <section class="container" [hidden]="loading$ | async">
    <app-equipment-card [equipment]="equipment"
                        [linkType]="'standard'"
                        *ngFor="let equipment of equipmentWrapper.multilingualPreviews"></app-equipment-card>
  </section>
</ng-container>

<app-pagination [pageInfo]="pageInfo$ | async"
                (pageChanged)="pageInfo$.next($event)"
                [numberOfResults]="(equipmentWrapper$ | async)?.numberOfAllItems"></app-pagination>
