<article class="card d-flex flex-column">
  <h4 class="card__title mb-4">
    <a [routerLink]="'organizationProjects' | path: organizationId" class="link-dark">
      Research projects investment
    </a>
  </h4>
  <div class="d-flex justify-content-around align-items-center" *ngIf="generalInformation$ | async as information">
    <div class="d-flex align-items-center">
      <h5 class="mr-2" style="color: #00c96a">{{information.numberOfProject}}</h5>
      Total projects
    </div>
    <div class="d-flex align-items-center">
      <h5 class="mr-2" style="color: #303ffb">{{information.sumOfInvestment | number:'.1-1' }}M CZK</h5>
      Total project investment sum
    </div>
  </div>
  <ng-container *ngIf="columns$| async as columns">
    <google-chart [type]="chartType"
                  [data]="data"
                  [columns]="columns"
                  [dynamicResize]="true"
                  *ngIf="data$ | async as data"
                  [options]="options"
                  style="width: 100%; height: 100%; min-height: 300px">
    </google-chart>
  </ng-container>

</article>
