<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Add members</h3>
  </div>
  <div class="modal__body">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0">Search organizations</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" [formControl]="searchFormControl">
      </div>
    </div>
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngIf="organizations$ | async as organizations">
        <div class="no-result-note" *ngIf="organizations.length == 0">
          <ng-container *ngIf="organizations.length == 0">
            <ng-container *ngIf="searchFormControl.value">
              No organization matches your query
            </ng-container>
            <ng-container *ngIf="!searchFormControl.value">
              Search for the organization to add
            </ng-container>
          </ng-container>
        </div>
        <app-organization-card *ngFor="let organization of organizations" [organization]="organization">
          <div class="actions text-right">
            <button class="btn" disabled *ngIf="organization.loading$ | async; else actionButtons">
              <app-loader></app-loader>
              Adding
            </button>
            <ng-template #actionButtons>
              <button class="btn btn-success" disabled *ngIf="organization.added$ | async; else addButton">Added
              </button>
              <ng-template #addButton>
                <button class="btn btn-primary" (click)="addOrganization(organization)">Add</button>
              </ng-template>
            </ng-template>
          </div>
        </app-organization-card>
      </ng-container>
    </div>
  </div>
</div>

<div class=" modal__footer
            ">
  <button class="btn btn--gray mr-2" type="button" (click)="close()">
    Close
  </button>
</div>
