<ng-container *ngIf="currentPage$ | async as currentPage">
  <div class="pagination my-4">
    <span>Page</span>
    <input class="mx-3" value="1" aria-label="Current page" [formControl]="currentPageFc">
    <span class="mr-3">of {{numberOfPages$ | async}}</span>
    <button class="btn btn--light-blue mr-1" type="button"
            [disabled]="(prevPageAvailable$ | async) == false"
            (click)="nextPage$.next(currentPage - 1)">
      <fa-icon icon="angle-left"></fa-icon>
    </button>
    <button class="btn btn--light-blue ml-1" type="button"
            [disabled]="(nextPageAvailable$ | async) == false"
            (click)="nextPage$.next(currentPage$.value + 1)">
      <fa-icon icon="angle-right"></fa-icon>
    </button>
  </div>
</ng-container>
