<section class="w-100">
  <div class="d-flex align-items-center box-shadow pl-4 py-2 bg-white mb-3 flex-wrap">
    <button class="btn btn-outline-primary mr-2" (click)="workspacesToFilter$.next([])"
            [class.btn--blue]="(workspacesToFilter$ | async)?.length === 0">
      All workspaces
    </button>
    <button class="btn btn--blue mr-2 my-1" *ngFor="let workspace of workspaces$ | async"
            [class.btn--light]="((workspacesToFilter$ | async) | contains: workspace.workspaceName) == false"
            (click)="toggleWorkspace(workspace)">
      {{workspace.workspaceName}}
    </button>
  </div>
  <section class="container px-4">
    <app-page-loader *ngIf="loading$ | async"></app-page-loader>
    <div [hidden]="loading$ | async">
      <ng-container *ngFor="let rowWrapper of followedProfiles$ | async">
        <div class="expert-card font-weight-normal font-size-sm text-black w-100 h-auto mb-2 py-2"
             style="min-height: 20px" *ngIf="(rowWrapper.deleted$ | async) == false">
          <div class="row align-items-center" *ngIf="rowWrapper.row as row">
            <div class="col-auto align-items-center">
              <figure class="avatar circle flex-shrink-0 flex-grow-0">
                <img [src]="row.userId | userImg" appOptionalImg [altSrc]="'images/avatar.png' | assets">
                <fa-icon icon="check-circle" class="avatar__badge text-success-light"></fa-icon>
              </figure>
            </div>
            <div class="col-auto ml-0 mr-auto">
              <div class="row align-items-center">
                <div class="col-12 text-break text-left">
                  <a [routerLink]="'expertDetail' | path: (row | expertCode)">
                    {{row.name}}
                  </a>
                </div>
                <div class="col-12">
                  <div class="workspaces d-flex flex-wrap">
                    <ng-container *ngIf="rowWrapper.workspaces$ | async as workspaces">
                      <ng-container *ngIf="workspaces.length > 0">
                        <span class="tag tag--sm cobalt mr-1 mb-1"
                              *ngFor="let workspace of rowWrapper.workspaces$ | async">
                            {{workspace}}
                        </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-right pr-0 py-2 ml-auto text-nowrap">
              <button class="btn-plain btn-plain-gray"
                      [ngbPopover]="menu"
                      popoverClass="workspace-select-popover"
                      autoClose="outside"
                      ngbTooltip="Edit workspaces"
                      [disabled]="rowWrapper.saving$ | async">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <ng-template #menu>
                <div style="min-width: 200px">
                  <ng-container *ngIf="rowWrapper.workspaces$ | async as rowWorkspaces">
                    <ng-container *ngFor="let workspace of workspaces$ | async">
                      <div class="d-flex justify-content-between w-100 btn btn--gray mb-2 align-items-center pr-1"
                           [ngbTooltip]="(rowWorkspaces | contains:workspace.workspaceName) ? 'Remove from workspace' : 'Add to workspace'"
                           (click)="toggleRowWorkspace(rowWrapper, workspace.workspaceName)"
                           [class.bg-success-light]="rowWorkspaces | contains:workspace.workspaceName">
                        {{workspace.workspaceName}}
                        <button
                          class="btn-plain btn-plain-blue"
                          [class.btn-plain-danger]="rowWorkspaces | contains:workspace.workspaceName">
                          <fa-icon class="text-base" icon="plus"
                                   *ngIf="(rowWorkspaces | contains:workspace.workspaceName) == false"></fa-icon>
                          <fa-icon class="text-base" icon="times"
                                   *ngIf="rowWorkspaces | contains:workspace.workspaceName"></fa-icon>
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                  <div class="d-flex border-top pt-2">
                    <input class="input input--gray" [formControl]="rowWrapper.newWorkspaceFc">
                    <button class="btn-plain btn-plain-success"
                            (click)="addNewWorkspace(rowWrapper)">
                      <fa-icon icon="plus" class="ml-2 text-base"></fa-icon>
                    </button>
                  </div>
                </div>
              </ng-template>

              <button class="btn-plain btn-plain-gray"
                      type="button"
                      ngbTooltip="Remove from favorite searches"
                      [disabled]="rowWrapper.saving$ | async"
                      (click)="removeFollowing(rowWrapper)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <app-pagination *ngIf="followedProfilesWrapper$ | async as wrapper"
                      [pageInfo]="pageInfo$ | async"
                      [numberOfResults]="wrapper.numberOfResults"
                      (pageChanged)="pageInfo$.next($event)"></app-pagination>
    </div>
  </section>
</section>
