<div class="modal__content">
  <div class="modal__header">
    <h3 class="modal__title">Edit profile</h3>
  </div>
  <div class="modal__body" [formGroup]="formGroup">
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex justify-content-lg-end mb-2 mb-lg-0">
        <figure class="avatar avatar__md overflow-hidden">
          <img [hidden]="imgFilePreviewUrl$ | async" [src]="organization.organizationId | organizationImg"
               appOptionalImg
               [altSrc]="'icons/building.svg' | assets">
          <img *ngIf="imgFilePreviewUrl$ | async as file" [src]="file">
        </figure>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <app-file-drop (filesUpdated)="imgFile$.next($event[0])"
                       (fileUrlUpdated)="imgFilePreviewUrl$.next($event)"
                       class="w-100">
        </app-file-drop>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="organizationName">Organization name</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" id="organizationName" aria-label="Name" formControlName="organizationName"
               appDisableAutofill>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="organizationAbbrev">Abbreviation</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Name" id="organizationAbbrev" formControlName="organizationAbbrev"
               appDisableAutofill>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-start justify-content-lg-end">
        <label class="font-weight-bold mt-2 mb-2 mb-lg-0" for="organizationDescription">About</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <textarea class="textarea" rows="10" aria-label="About" id="organizationDescription"
                  formControlName="organizationDescription"></textarea>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="phone">Phone</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Phone" id="phone" formControlName="phone">
      </div>
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="email">Email</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Email" id="email" formControlName="email">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="web">Web</label>
      </div>
      <div class="col-12 col-lg-10 d-flex align-items-center">
        <input class="input input--gray" aria-label="Web" id="web" formControlName="web">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="street">Street</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="Street" id="street" formControlName="street">
      </div>
      <div class="col-12 col-lg-2 d-flex align-items-center justify-content-lg-end">
        <label class="font-weight-bold mb-2 mb-lg-0" for="city">City</label>
      </div>
      <div class="col-12 col-lg-4 d-flex align-items-center">
        <input class="input input--gray" aria-label="City" id="city" formControlName="city">
      </div>
    </div>

  </div>
  <div class="modal__footer">
    <ng-container *ngIf="(saving$ | async) == false">
      <button class="btn btn--gray mr-2" type="button" (click)="dismiss()">
        Cancel
      </button>
      <button class="btn btn--blue" type="button" (click)="saveChanges()">
        Save
      </button>
    </ng-container>
    <button disabled class="btn" *ngIf="saving$ | async">
      <app-loader></app-loader>
      Saving
    </button>
  </div>
</div>
