<div class="go-back-wrapper" *ngIf="(detailLoading$ | async) == false">
  <button class="btn btn--gray mb-4" (click)="back()">
    <fa-icon icon="arrow-left" class="mr-2"></fa-icon>
    Back
  </button>
</div>
<app-page-loader *ngIf="detailLoading$ | async"></app-page-loader>
<ng-container *ngIf="expertDetail$ | async as expertDetail">
  <special-abilities-bar class="special-abilities-bar"></special-abilities-bar>
  <ng-container *ngIf="(detailLoading$ | async) == false">
    <section class="container mt-5 mb-4">
      <div class="expert-detail">
        <div class="expert-detail__header">
          <img [src]="(expertDetail.userId | userImg: 'XL':'COVER')"
               appOptionalImg [altSrc]="'images/expert-bg.jpg' | assets" alt="Graphic">
        </div>
        <div class="expert-detail__body">
        <span class="avatar avatar__lg">
          <img [src]="(expertDetail.userId | userImg: 'M')" appOptionalImg
               [altSrc]="'images/avatar.png' | assets">
          <span class="avatar__count" *ngIf="expertDetail.rank">
            <fa-icon icon="star" style="color: #fd7d27"></fa-icon>
            <span>{{expertDetail.rank}}</span>
          </span>
        </span>
          <div
            class="d-flex justify-content-start justify-content-sm-center justify-content-lg-end mt-9 mt-lg-0 mb-3 mb-lg-6 py-1 overflow-scroll">
            <!--            <button class="btn btn&#45;&#45;light-blue mr-2" *ngIf="editable$ | async">-->
            <!--              <fa-icon icon="adjust" class="mr-2"></fa-icon>-->
            <!--              Public options-->
            <!--            </button>-->
            <!--<button class="btn btn&#45;&#45;light-blue mr-2">
              <fa-icon icon="share"></fa-icon>
            </button>-->
            <!--          <button class="btn btn&#45;&#45;light-blue">-->
            <!--            <fa-icon icon="ellipsis-h"></fa-icon>-->
            <!--          </button>-->
          </div>
          <h3 class="text-center mb-2">{{expertDetail.name}}</h3>
          <div class="d-flex justify-content-center align-items-center mb-4 pl-4 text-success">
            <fa-icon icon="check-circle" class="mr-2 text-success-light text-lg"></fa-icon>
            <span class="font-size-sm">Verified expert</span>
          </div>
          <p class="expert-detail__title mb-4" *ngIf="expertDetail.description">{{expertDetail.description}}</p>
          <div class="overflow-scroll">
            <div class="d-flex mb-4 m-auto justify-content-center" style="width: max-content">
              <ng-container  *ngFor="let organization of expertDetail.organizationDtos">
                <ng-container *ngIf="organization.visible">
                  <a [routerLink]="'organizationDetail' | path: organization.organizationId" class="expert-detail__company">
                    <span>
                      <img appOptionalImg [src]="organization.organizationId | organizationImg: 's'">
                      <span class="ml-2">{{organization.organizationAbbrev || organization.organizationName}}</span>
                      <fa-icon icon="star" class="ml-1 text-lg" style="color:#E4CC00" title="Organization is active" *ngIf="organization.active"></fa-icon>
                    </span>
                  </a>
                </ng-container>
              </ng-container>

            </div>
          </div>
          <div class="expert-detail__tags pt-2" *ngIf="expertDetail.keywords.length > 0">
            <button class="btn btn--filter" *ngFor="let tag of expertDetail.keywords">{{tag}}</button>
          </div>
        </div>
      </div>
    </section>

    <section class="container mb-1">
      <div class="projects">
        <ul class="expers-list projects__nav d-flex justify-content-md-between overflow-scroll">
          <li class="navbar__item text-center mx-3 cursor-pointer"
              *ngFor="let mode of outcomeListModeDetails"
              (click)="setMode(mode, expertDetail)"
              [class.cursor-disabled]="(expertDetail | getProperty: mode.countProperty) == 0"
              [class.active]="(outcomeListMode$ | async) == mode.outcomeListMode">
            <fa-icon class="d-block text-x-lg" [icon]="mode.icon"></fa-icon>
            {{mode.title}} ({{expertDetail | getProperty:mode.countProperty}})
          </li>
        </ul>
        <div class="projects__body p-4">
          <app-widget-expert-detail-commercialization
            *ngIf="(outcomeListMode$ | async) == outcomeListModes.COMMERCIALIZATION"
            [filter]="{query: filter.query}"
            [expertCode]="expertDetail.expertCode">
          </app-widget-expert-detail-commercialization>
          <app-widget-expert-detail-outcomes *ngIf="(outcomeListMode$ | async) == outcomeListModes.RESEARCH_OUTCOME"
                                             [filter]="{query: filter.query}"
                                             [expertCode]="expertDetail.expertCode">
          </app-widget-expert-detail-outcomes>
          <app-widget-expert-detail-projects *ngIf="(outcomeListMode$ | async) == outcomeListModes.RESEARCH_PROJECT"
                                             [expertCode]="expertDetail.expertCode">
          </app-widget-expert-detail-projects>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
