<article class="card">
  <h4 class="card__title mb-4">Top Visited Experts</h4>
  <div class="data-table">
    <div class="data-table__wrapper">
      <div class="data-table__header row">
        <div class="col-7">Expert</div>
        <div class="col-5 text-right">Number of visitations</div>
      </div>
      <div class="data-table__row row" *ngFor="let row of (statisticsWrapper$ | async)?.mostVisitedProfiles">
        <div class="col-7">{{row.fullName}}</div>
        <div class="col-5 text-right">{{row.numberOfVisitations}}</div>
      </div>
    </div>
  </div>
  <app-pagination [pageInfo]="pageInfo$ | async"
                  [disableUrl]="true"
                  [numberOfResults]="(statisticsWrapper$ | async)?.numberOfProfilesVisited"
                  (pageChanged)="pageInfo$.next($event)">
  </app-pagination>
</article>
