<div #infiniteScroll class="infinite" (scroll)="onScroll($event)">
  <div *ngIf="pageStats$ | async as pageStats" class="infinite__stats px-3 px-md-4">
    <p class="infinite__stats">
      Showing
      <span>{{ pageStats.current }}</span> out of
      <span>{{ pageStats.all >= 1000 ? '1000+' : pageStats.all }}{{ addedPlus ? '+' : ''}}</span> items
    </p>
  </div>
  <ng-content>
  </ng-content>
  <app-page-loader *ngIf="loadingNew$ | async"></app-page-loader>
</div>
