<nav class="navbar pb-0">
  <ul class="container d-flex justify-content-start align-items-end">
    <li class="navbar__item"
        [routerLink]="'exploreExperts' | path"
        [queryParams]="{searchQuery: this.searchQuery$ | async}"
        routerLinkActive="active">
      <fa-icon icon="users"></fa-icon>
      Experts
    </li>
    <li class="navbar__item"
        [routerLink]="'exploreOrganizations' | path"
        [queryParams]="{searchQuery: this.searchQuery$ | async}"
        routerLinkActive="active">
      <fa-icon icon="university"></fa-icon>
      Organizations
    </li>
    <!--    <li class="navbar__item"
            [routerLink]="'exploreCommercialization' | path"
            [queryParams]="{searchQuery: this.searchQuery$ | async}"
            routerLinkActive="active">
          <fa-icon icon="rocket"></fa-icon>
          Commercialization
        </li>-->
    <li class="navbar__item"
        [routerLink]="'exploreEquipment' | path"
        [queryParams]="{searchQuery: this.searchQuery$ | async}"
        routerLinkActive="active">
      <fa-icon icon="atom"></fa-icon>
      Equipment/Service
    </li>
    <li class="navbar__item"
        [routerLink]="'exploreThesis' | path"
        [queryParams]="{searchQuery: this.searchQuery$ | async}"
        routerLinkActive="active">
      <fa-icon icon="graduation-cap"></fa-icon>
      Supervision
    </li>
    <li class="navbar__item"
        [routerLink]="'exploreLectures' | path"
        [queryParams]="{searchQuery: this.searchQuery$ | async}"
        routerLinkActive="active">
      <fa-icon icon="graduation-cap"></fa-icon>
      Lectures
    </li>

    <!--    <li class="navbar__item">-->
    <!--      <svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">-->
    <!--        <path-->
    <!--          d="M.5167.3433c.3195-.2704.7439-.3877 1.162-.3281L1.7.0183 10.8583 1.41a1.4592 1.4592 0 011.2249 1.4202l.0001.0215v17H8.5417v-4.375c0-.8003-.6371-1.4453-1.4342-1.4582l-.0242-.0002H5c-.8002 0-1.4453.6371-1.4581 1.4342l-.0002.0242v4.375H.8333c-.4537 0-.8258-.3676-.8333-.8196V1.46C0 1.035.1917.6267.5167.3433zm12.4 7.3009L18.85 8.8867c.674.1493 1.1406.725 1.1499 1.4043l.0001.0207v8.0816c0 .7962-.6411 1.4453-1.4343 1.4582l-.024.0002h-5.625V7.6442zm3.9583 8.4575h-1.25c-.345 0-.625.28-.625.625 0 .3409.2734.6183.6127.6248l.0123.0002h1.25c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.625h-.0123zm0-2.5h-1.25c-.345 0-.625.28-.625.625 0 .3409.2734.6183.6127.6248l.0123.0002h1.25c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.625h-.0123zm0-2.5h-1.25c-.345 0-.625.28-.625.625 0 .3409.2734.6183.6127.6248l.0123.0002h1.25c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.625h-.0123zm-12.2917-.2084h-1.25c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625h1.2623c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248l-.0123-.0002zm4.1667 0H7.5c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625H8.75c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248l-.0123-.0002zm-4.1667-2.5h-1.25c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625h1.2623c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248l-.0123-.0002zm4.1667 0H7.5c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625H8.75c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248L8.75 8.3933zm-4.1667-2.5h-1.25c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625h1.2623c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248l-.0123-.0002zm4.1667 0H7.5c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625H8.75c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248L8.75 5.8933zm-4.1667-2.5h-1.25c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625h1.2623c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248l-.0123-.0002zm4.1667 0H7.5c-.345 0-.625.28-.625.625 0 .341.2734.6184.6127.625H8.75c.345 0 .625-.28.625-.625a.6252.6252 0 00-.6127-.6248L8.75 3.3933z"-->
    <!--          fill="currentColor"-->
    <!--          fill-rule="nonzero"-->
    <!--        />-->
    <!--      </svg>-->
    <!--      Organizations-->
    <!--    </li>-->
    <!--    <li class="navbar__item">-->
    <!--      <svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">-->
    <!--        <path-->
    <!--          d="M10.5946 14.2562v2.2776c.696.243 1.1969.9056 1.1969 1.6834 0 .983-.7998 1.7828-1.7828 1.7828s-1.7828-.7998-1.7828-1.7828c0-.77.4909-1.4272 1.176-1.676l.0208-.0074v-2.2775h1.172zm2.2845 0v.864l2.2383 1.3228c.9013.0882 1.608.8502 1.608 1.7742 0 .983-.7998 1.7828-1.7829 1.7828-.983 0-1.7828-.7998-1.7828-1.7828 0-.4838.1938-.9233.5078-1.2448l.0155-.0158-1.976-1.1678v-1.5326h1.172zm-4.5726 0v1.5335l-1.9877 1.1687c.322.3228.5215.7679.5215 1.2587 0 .9831-.7998 1.7829-1.7828 1.7829s-1.7829-.7998-1.7829-1.7829c0-.915.693-1.671 1.5817-1.7713l.027-.0028 2.2512-1.3237v-.863h1.172zm7.4832-2.5627l1.1687 1.9877a1.7773 1.7773 0 011.2587-.5215c.9831 0 1.7829.7998 1.7829 1.7828s-.7998 1.7829-1.7829 1.7829c-.915 0-1.671-.693-1.7713-1.5817l-.0028-.027-1.3237-2.2512h-.845v-1.172h1.5154zm-10.064-.0001v1.172h-.845L3.557 15.1166c-.0878.9016-.8499 1.6087-1.7741 1.6087C.7998 16.7253 0 15.9255 0 14.9425s.7998-1.7829 1.7829-1.7829c.4829 0 .9216.193 1.243.506l.0157.0155 1.1687-1.9877h1.5153zm7.4159-4.853v6.283H6.8584v-6.283h6.2832zm5.0756 1.3681c.983 0 1.7828.7998 1.7828 1.7828s-.7998 1.7828-1.7828 1.7828c-.77 0-1.4272-.4909-1.676-1.176l-.0074-.0208h-2.2594v-1.172h2.2594c.243-.696.9056-1.1968 1.6834-1.1968zm-16.4344 0c.77 0 1.4272.491 1.676 1.176l.0074.0209h2.2594v1.1719H3.4662c-.243.696-.9056 1.1968-1.6834 1.1968C.7998 11.7741 0 10.9744 0 9.9913c0-.983.7998-1.7828 1.7828-1.7828zm9.8303.1602H8.3869v3.2263h3.2262V8.3687zm-1.172 1.172v.8823H9.559v-.8823h.8822zm7.776-6.266c.9831 0 1.7829.7997 1.7829 1.7828 0 .983-.7998 1.7828-1.7828 1.7828a1.777 1.777 0 01-1.2448-.5078l-.0158-.0155-1.1678 1.976h-1.5144V7.121h.8458l1.3228-2.2384c.0882-.9013.8502-1.608 1.7742-1.608zm-16.4342 0c.9147 0 1.6707.6926 1.7712 1.581l.0029.027L4.8799 7.121h.8458v1.172H4.2112L3.0434 6.317a1.7774 1.7774 0 01-1.2606.5233C.7998 6.8403 0 6.0405 0 5.0575s.7998-1.7828 1.7829-1.7828zM5.0575 0c.983 0 1.7829.7998 1.7829 1.7829 0 .4829-.193.9216-.506 1.243l-.0155.0157 1.9877 1.1687v1.4972h-1.172v-.8268L4.8834 3.557c-.9016-.0878-1.6087-.8499-1.6087-1.7741C3.2747.7998 4.0745 0 5.0575 0zm9.885 0c.983 0 1.7828.7998 1.7828 1.7829 0 .9147-.6926 1.6707-1.581 1.7712l-.027.0029-2.2383 1.3229v.8276h-1.172V4.2112l1.976-1.1678a1.7772 1.7772 0 01-.5233-1.2605C13.1597.7998 13.9595 0 14.9425 0zm-4.9338 0c.983 0 1.7828.7998 1.7828 1.7828 0 .77-.491 1.4272-1.176 1.676l-.0209.0074v2.2413H9.4227V3.4662c-.696-.243-1.1968-.9056-1.1968-1.6834C8.2259.7998 9.0256 0 10.0087 0z"-->
    <!--          fill="currentColor"-->
    <!--          fill-rule="nonzero"-->
    <!--        />-->
    <!--      </svg>-->
    <!--      Technologies-->
    <!--    </li>-->
    <!--    <li class="navbar__item mr-auto">-->
    <!--      <svg width="20px" height="21px" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">-->
    <!--        <path-->
    <!--          d="M1.0094 1.8699V.5754A.5754.5754 0 011.5848 0h12.1003a.5754.5754 0 01.5754.5754v1.2945a.5754.5754 0 01-.5754.5753H1.5848a.5754.5754 0 01-.5754-.5753zm12.2418 3.347V3.9225a.5754.5754 0 00-.5754-.5754H.5754A.5754.5754 0 000 3.9225v1.2944c0 .3178.2575.5754.5754.5754h12.1003a.5754.5754 0 00.5755-.5754zm.4129 3.347V7.2695a.5754.5754 0 00-.5754-.5753H.9883a.5754.5754 0 00-.5754.5753V8.564c0 .3177.2575.5754.5754.5754h12.1004a.5754.5754 0 00.5754-.5754zM1.93 12.4864h6.8945A6.4103 6.4103 0 0110.54 10.041H1.93a.5754.5754 0 00-.5753.5754v1.2945c0 .3178.2575.5754.5753.5754zm.4602.9018a.5754.5754 0 00-.5753.5754v1.2945c0 .3177.2575.5754.5753.5754h6.0704a6.4032 6.4032 0 01-.0808-1.0106c0-.4934.0581-.9732.1646-1.4347H2.3903zm6.2825 3.3471H1.93a.5754.5754 0 00-.5753.5754v1.2945c0 .3177.2575.5753.5753.5753h8.174c-.6456-.6902-1.141-1.5224-1.4312-2.4452zm4.366-3.3628c0 .4417.359.8008.8003.8008h.3509V12.572h-.351c-.4412 0-.8003.359-.8003.8004zm2.302 3.5526h.3507c.4414 0 .8005-.3592.8005-.8006 0-.4414-.3591-.8006-.8005-.8006h-.3508v1.6012zM20 14.823c0 2.8864-2.3482 5.2347-5.2347 5.2347-2.8864 0-5.2346-2.3483-5.2346-5.2347 0-2.8865 2.3482-5.2347 5.2346-5.2347C17.6518 9.5883 20 11.9365 20 14.823zm-4.6593-.6497V12.572h1.7267a.5754.5754 0 100-1.1507h-1.7267v-.2252a.5754.5754 0 10-1.1507 0v.2252h-.351c-1.0758 0-1.951.8752-1.951 1.9515 0 1.0759.8752 1.9511 1.951 1.9511h.351v1.601h-1.7266a.5754.5754 0 100 1.1508H14.19v.3738a.5754.5754 0 101.1507 0v-.3738h.3508c1.076 0 1.9513-.8752 1.9513-1.9513 0-1.076-.8753-1.9513-1.9513-1.9513h-.3508z"-->
    <!--          fill="currentColor"-->
    <!--          fill-rule="nonzero"-->
    <!--        />-->
    <!--      </svg>-->
    <!--      Commercialization-->
    <!--    </li>-->
    <!--    <li class="my-auto mr-3">-->
    <!--      <button class="btn btn&#45;&#45;primary" type="button">-->
    <!--        <svg class="mr-2" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
    <!--          <path-->
    <!--            d="M15 12.9125V18a1 1 0 01-.5528.8944l-4 2C9.7823 21.227 9 20.7434 9 20v-7.0875L2.226 4.6332C1.6918 3.9803 2.1564 3 3 3h18c.8436 0 1.3082.9803.774 1.6332L15 12.9125zm-2 4.4695v-4.8264a1 1 0 01.226-.6333L18.8898 5H5.1102l5.6638 6.9223a1 1 0 01.226.6333v5.8264l2-1z"-->
    <!--            fill="currentColor"-->
    <!--            fill-rule="nonzero"-->
    <!--          />-->
    <!--        </svg>-->
    <!--        Filters-->
    <!--        <span class="btn&#45;&#45;counter ml-3">2</span>-->
    <!--      </button>-->
    <!--    </li>-->
    <!--    <li class="my-auto">-->
    <!--      <div class="dropdown">-->
    <!--        <button class="btn btn&#45;&#45;light-blue" type="button">-->
    <!--          Load search-->
    <!--          <svg class="ml-2" width="12px" height="7px" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg">-->
    <!--            <path-->
    <!--              d="M6 4.5858l4.2929-4.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143l-5 5c-.3905.3905-1.0237.3905-1.4142 0l-5-5C-.0976 1.3166-.0976.6834.2929.293c.3905-.3905 1.0237-.3905 1.4142 0L6 4.5858z"-->
    <!--              fill="currentColor"-->
    <!--              fill-rule="nonzero"-->
    <!--            />-->
    <!--          </svg>-->
    <!--        </button>-->
    <!--        <ul class="dropdown__body">-->
    <!--          <li>Filter Item 1</li>-->
    <!--          <li>Filter Item 2</li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </li>-->
  </ul>
</nav>
