@import 'node_modules/@angular/material/theming';

@include mat-core();
$platform-primary: mat-palette($mat-indigo);
$platform-accent: mat-palette($mat-pink, A200, A100, A400);
$platform-warn: mat-palette($mat-red);
$platform-theme: mat-light-theme((
  color: (
    primary: $platform-primary,
    accent: $platform-accent,
    warn: $platform-warn,
  )
));
@include angular-material-theme($platform-theme);
@import "common-styles";

