@import 'node_modules/@angular/material/theming';

@include mat-core();
$platform-primary: mat-palette($mat-gray);
$platform-accent: mat-palette($mat-amber);
$platform-warn: mat-palette($mat-red);
$platform-theme: mat-dark-theme((
  color: (
    primary: $platform-primary,
    accent: $platform-accent,
    warn: $platform-warn,
  )
));
@include angular-material-theme($platform-theme);
@import "common-styles";
body {
  background: red !important;
}


