<header class="container-fluid header py-3 px-4">
  <img class="header__logo" [src]="'homepage-images/logo-ai.svg' | assets" alt="experts.ai">

  <app-header-session-box></app-header-session-box>
</header>

<div class="header__trigger"></div>

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-7 pr-lg-0">
        <div class="hero__title-mask">
          <h1 class="hero__title">We help you find top experts<br> in research &amp; development<br> and connect them
            with<br> business</h1>
        </div>
        <form class="hero__search" (submit)="$event.preventDefault();doSearch(formControl.value)">
          <input class="js-input" placeholder="Search experts, institutions, technology…" aria-label="Search"
                 #input
                 [matAutocomplete]="auto"
                 [formControl]="formControl">
          <button class="btn btn--primary btn--md px-4" type="submit">
            Search
          </button>
          <mat-autocomplete #auto="matAutocomplete" style="width: 100%"
                            (optionSelected)="doSearch($event.option.value)">
            <div class="hero__suggestions">
              <ng-template #empty>
                <mat-option hidden disabled></mat-option>
                <div class="p-4">
                  <!--                  <h5 class="mt-0 mb-2">CATEGORIES</h5>-->
                  <!--                  <div class="d-flex flex-wrap mb-3">-->
                  <!--                    <button class="tag tag&#45;&#45;sm green">Technology transfer</button>-->
                  <!--                    <button class="tag tag&#45;&#45;sm red">Artificial intelligence</button>-->
                  <!--                    <button class="tag tag&#45;&#45;sm orange">Self-cooling</button>-->
                  <!--                    <button class="tag tag&#45;&#45;sm cobalt">Patent</button>-->
                  <!--                  </div>-->
                  <h5 class="mt-0 mb-2">TRENDING SEARCHES</h5>
                  <div class="d-flex flex-wrap">
                    <button class="tag tag--sm cobalt"
                            (click)="doSearch(suggestion.searchExpression)"
                            *ngFor="let suggestion of trending$ | async">
                      {{suggestion.searchExpression}}
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-container *ngIf="suggestions$ | async as suggestions; else empty">
                <ng-container *ngIf="suggestions.length > 0">
                  <!--                  <h5 class="mt-0 mb-0 pl-4 pt-4 pr-4">SUGGESTIONS</h5>-->
                  <mat-nav-list class="pt-0">
                    <mat-option class="pt-2 pb-2 pl-4 pr-4" *ngFor="let suggestion of suggestions"
                                [value]="suggestion.searchExpression">
                      {{suggestion.searchExpression}}
                    </mat-option>
                  </mat-nav-list>
                </ng-container>
              </ng-container>
            </div>
          </mat-autocomplete>
        </form>
      </div>
      <div class="col-lg-6 pt-lg-8 pl-lg-0">
        <svg class="hero__dots">
          <use xlink:href="#hero-dots"></use>
        </svg>
        <picture class="hero__tablet">
          <img [src]="'homepage-images/tablet.png' | assets" alt="Tablet">
        </picture>
        <picture class="hero__mobile">
          <img [src]="'homepage-images/phone.png' | assets" alt="Tablet">
        </picture>
        <picture class="d-lg-none">
          <img [src]="'homepage-images/devices.png' | assets" alt="Devices">
        </picture>
      </div>
    </div>
  </div>
  <img class="hero__shape" [src]="'homepage-images/hero-shape.svg' | assets" alt="Shape">
</section>

<section class="relationship container">
  <h2 class="relationship__title text-center mb-6 mb-lg-9">
    We help evolve the relationship between<br> business and science
  </h2>
  <h2 class="relationship__title--mobile text-center d-lg-none mb-6 mb-lg-9">
    We help evolve the relationship between business and science
  </h2>
  <article class="relationship__card">
    <img class="relationship__icon" [src]="'homepage-icons/experts.svg' | assets" alt="Experts">
    <h3 class="mb-3">Experts</h3>
    <p class="relationship__text">
      Validate your profile, increase visibility of your research for business
    </p>
    <svg class="relationship__line first" width="156px" height="32px" viewBox="0 0 156 32"
         xmlns="http://www.w3.org/2000/svg">
      <path
        class="path"
        d="M154.7954 1.6772C110.453 34.7143 49.0192 39.817-.0822 14.914"
        stroke="#303FFB"
        stroke-width="2"
        fill="none"
        fill-rule="evenodd"
      />
    </svg>
  </article>
  <article class="relationship__card mx-md-3 mx-xl-10">
    <img class="relationship__icon" [src]="'homepage-icons/companies.svg' | assets" alt="Companies">
    <h3 class="mb-3">Companies</h3>
    <p class="relationship__text">
      Find experts to collaborate with, improve your company profile to be percepted as innovation leader
    </p>
    <svg class="relationship__line second" width="156px" height="32px" viewBox="0 0 156 32"
         xmlns="http://www.w3.org/2000/svg">
      <path
        class="path"
        d="M154.7954 1.6772C110.453 34.7143 49.0192 39.817-.0822 14.914"
        stroke="#303FFB"
        stroke-width="2"
        fill="none"
        fill-rule="evenodd"
      />
    </svg>
  </article>
  <article class="relationship__card">
    <img class="relationship__icon" [src]="'homepage-icons/universities.svg' | assets" alt="Universities">
    <h3 class="mb-3">Universities</h3>
    <p class="relationship__text">
      Present your experts and reseach to companies
    </p>
  </article>
  <div class="d-flex justify-content-center mt-md-4">
    <a class="relationship__cta btn btn--primary btn--lg px-4" (click)="register()">Get started for free</a>
  </div>
</section>

<!--<section class="explore pt-lg-6">-->
<!--  <div class="container text-center text-lg-left mt-6 mt-lg-1 mb-6">-->
<!--    <h2 class="explore__title">Explore<br class="d-none d-lg-block"> by category</h2>-->
<!--  </div>-->

<!--  <div class="explore__carousels">-->
<!--    <div class="owl-carousel owl-carousel01">-->
<!--      <div class="category-card">-->
<!--        <div class="category-card__icon primary">-->
<!--          <svg>-->
<!--            <use xlink:href="#ai"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Artificial intelligence</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon orange">-->
<!--          <svg>-->
<!--            <use xlink:href="#bd"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Big data</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon cobalt">-->
<!--          <svg>-->
<!--            <use xlink:href="#rd"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Relational data</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon azure">-->
<!--          <svg>-->
<!--            <use xlink:href="#co"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Combinatorial optimization</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon red">-->
<!--          <svg>-->
<!--            <use xlink:href="#ml"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Machine learning</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon purple">-->
<!--          <svg>-->
<!--            <use xlink:href="#uo"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Unconstrained optimization</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="owl-carousel owl-carousel02">-->
<!--      <div class="category-card">-->
<!--        <div class="category-card__icon orange">-->
<!--          <svg>-->
<!--            <use xlink:href="#bd"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Big data</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon primary">-->
<!--          <svg>-->
<!--            <use xlink:href="#ai"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Artificial intelligence</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon red">-->
<!--          <svg>-->
<!--            <use xlink:href="#ml"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Machine learning</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon azure">-->
<!--          <svg>-->
<!--            <use xlink:href="#co"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Combinatorial optimization</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon cobalt">-->
<!--          <svg>-->
<!--            <use xlink:href="#rd"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Relational data</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon purple">-->
<!--          <svg>-->
<!--            <use xlink:href="#uo"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Unconstrained optimization</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="owl-carousel owl-carousel03">-->
<!--      <div class="category-card">-->
<!--        <div class="category-card__icon red">-->
<!--          <svg>-->
<!--            <use xlink:href="#ml"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Machine learning</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon cobalt">-->
<!--          <svg>-->
<!--            <use xlink:href="#rd"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Relational data</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon orange">-->
<!--          <svg>-->
<!--            <use xlink:href="#bd"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Big data</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon purple">-->
<!--          <svg>-->
<!--            <use xlink:href="#uo"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Unconstrained optimization</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon primary">-->
<!--          <svg>-->
<!--            <use xlink:href="#ai"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Artificial intelligence</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->

<!--      <div class="category-card">-->
<!--        <div class="category-card__icon azure">-->
<!--          <svg>-->
<!--            <use xlink:href="#co"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <p>Combinatorial optimization</p>-->
<!--        <a class="category-card__link" href="#"></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <svg class="custom-cursor" width="131px" height="82px" viewBox="0 0 131 82" xmlns="http://www.w3.org/2000/svg">-->
<!--    <g fill="none" fill-rule="evenodd">-->
<!--      <path class="circle" d="M66 1c22.0914 0 40 17.9086 40 40S88.0914 81 66 81 26 63.0914 26 41 43.9086 1 66 1z"-->
<!--            stroke="#303ffb"-->
<!--            stroke-width="1.5" stroke-dasharray="4,4" />-->
<!--      <g fill="#171726">-->
<!--        <path-->
<!--          d="M126.0563 43.128c.3906-.3905 1.0237-.3905 1.4142 0 .3906.3905.3906 1.0237 0 1.4142l-4.9497 4.9498c-.3905.3905-1.0237.3905-1.4142 0-.3905-.3905-.3905-1.0237 0-1.4142zm-3.5-10.8351l7.7782 7.7782c.3905.3905.3905 1.0237 0 1.4142-.3905.3905-1.0237.3905-1.4142 0l-7.7782-7.7782c-.3905-.3905-.3905-1.0237 0-1.4142.3905-.3905 1.0237-.3905 1.4142 0zM4.571 43.128c-.3905-.3905-1.0236-.3905-1.4142 0-.3905.3905-.3905 1.0237 0 1.4142l4.9498 4.9498c.3905.3905 1.0237.3905 1.4142 0 .3905-.3905.3905-1.0237 0-1.4142zm3.5-10.8351L.293 40.071c-.3905.3905-.3905 1.0237 0 1.4142.3905.3905 1.0237.3905 1.4142 0l7.7782-7.7782c.3905-.3905.3905-1.0237 0-1.4142-.3905-.3905-1.0237-.3905-1.4142 0z" />-->
<!--        <text font-family="AvenirNext-DemiBold, Avenir Next" font-size="15" font-weight="500"-->
<!--              transform="translate(0 31)">-->
<!--          <tspan x="47.9886883" y="15">Drag</tspan>-->
<!--        </text>-->
<!--      </g>-->
<!--    </g>-->
<!--  </svg>-->
<!--</section>-->


<section class="about pt-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-10 order-2 order-lg-1">
        <picture class="about__desktop">
          <img [src]="'homepage-images/computer.png' | assets" alt="Desktop">
        </picture>
        <picture class="about__graph">
          <img [src]="'homepage-images/graph.png' | assets" alt="Graph">
        </picture>
        <svg class="about__dots">
          <use xlink:href="#about-dots"></use>
        </svg>
        <picture class="d-lg-none">
          <img [src]="'homepage-images/desktop.png' | assets" alt="Desktop">
        </picture>
      </div>
      <div class="col-lg-6 pl-lg-7 order-lg-2">
        <h2 class="about__title mt-4 mb-lg-5">About<br> Experts.ai</h2>
        <p class="about__paragraph mb-4">
          The EXPERTS.AI platform makes the cooperation
          between academia and businesses more effective
          through standardization and automation.
        </p>
        <p class="about__paragraph mb-4 mb-lg-5">
          The "Search experts" module enables to search huge
          amount of data on research and development outcomes,
          which it links with a specific expert. When a specific
          expertise is searched for, the most suitable expert
          is recommended. The search is based on a semantic
          search and quality of the expert's outcomes. Moreover,
          the search is personalized based on information provided
          upon registration.
        </p>
        <a href="#" class="about__btn btn btn--lg btn--primary px-4" (click)="learnMoreAboutExperts()">Learn more</a>
      </div>
    </div>
  </div>
</section>

<!--<section class="institutions pt-5 pt-lg-10">-->
<!--  <img class="institutions__shape" [src]="'homepage-images/institutions-shape.svg' | assets" alt="Shape">-->
<!--  <div class="container">-->
<!--    <h2 class="institutions__title mb-5 mb-md-6">Explore <br> by institutions &amp; labs</h2>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 col-lg-4 d-flex">-->
<!--        <div class="wrapper">-->
<!--          <article class="institution-card">-->
<!--            <img class="institution-card__logo" [src]="'homepage-images/skoda.png' | assets" alt="Škoda Auto a.s.">-->
<!--            <p class="institution-card__title mb-2">ŠKODA AUTO a.s.</p>-->
<!--            <small class="d-block mb-4">Automotive</small>-->
<!--            <div class="d-flex mb-3">-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#spaceship"></use>-->
<!--                </svg>-->
<!--                <span>12</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#paper"></use>-->
<!--                </svg>-->
<!--                <span>89</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#microscope"></use>-->
<!--                </svg>-->
<!--                <span>23</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex flex-wrap mt-auto">-->
<!--              <div class="tag cobalt">Technology transfer</div>-->
<!--              <div class="tag cobalt">Artificial intelligence</div>-->
<!--              <div class="tag cobalt">Self-cooling</div>-->
<!--              <div class="tag cobalt">Patent</div>-->
<!--            </div>-->
<!--            <a class="institution-card__link" href="#"></a>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-4 d-flex">-->
<!--        <div class="wrapper">-->
<!--          <article class="institution-card">-->
<!--            <img class="institution-card__logo" [src]="'homepage-images/cvut.png' | assets" alt="ČVUT">-->
<!--            <p class="institution-card__title mb-2">ČVUT</p>-->
<!--            <small class="d-block mb-4">Mechanical or Industrial Engineering</small>-->
<!--            <div class="d-flex mb-3">-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#spaceship"></use>-->
<!--                </svg>-->
<!--                <span>12</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#paper"></use>-->
<!--                </svg>-->
<!--                <span>89</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#microscope"></use>-->
<!--                </svg>-->
<!--                <span>23</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex flex-wrap mt-auto">-->
<!--              <div class="tag cobalt">Technology transfer</div>-->
<!--              <div class="tag cobalt">Artificial intelligence</div>-->
<!--              <div class="tag cobalt">Self-cooling</div>-->
<!--              <div class="tag cobalt">Patent</div>-->
<!--            </div>-->
<!--            <a class="institution-card__link" href="#"></a>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-4">-->
<!--        <div class="wrapper">-->
<!--          <article class="institution-card">-->
<!--            <img class="institution-card__logo" [src]="'homepage-images/wdf.png' | assets" alt="WDF">-->
<!--            <p class="institution-card__title mb-2">WDF</p>-->
<!--            <small class="d-block mb-4">Software Development</small>-->
<!--            <div class="d-flex mb-3">-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#spaceship"></use>-->
<!--                </svg>-->
<!--                <span>12</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#paper"></use>-->
<!--                </svg>-->
<!--                <span>89</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#microscope"></use>-->
<!--                </svg>-->
<!--                <span>23</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex flex-wrap mt-auto">-->
<!--              <div class="tag cobalt">Technology transfer</div>-->
<!--              <div class="tag cobalt">Artificial intelligence</div>-->
<!--              <div class="tag cobalt">Self-cooling</div>-->
<!--              <div class="tag cobalt">Patent</div>-->
<!--            </div>-->
<!--            <a class="institution-card__link" href="#"></a>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-4">-->
<!--        <div class="wrapper">-->
<!--          <article class="institution-card">-->
<!--            <img class="institution-card__logo" [src]="'homepage-images/cez.png' | assets" alt="ČEZ">-->
<!--            <p class="institution-card__title mb-2">ČEZ</p>-->
<!--            <small class="d-block mb-4">Oil &amp; Energy</small>-->
<!--            <div class="d-flex mb-3">-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#spaceship"></use>-->
<!--                </svg>-->
<!--                <span>12</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#paper"></use>-->
<!--                </svg>-->
<!--                <span>89</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#microscope"></use>-->
<!--                </svg>-->
<!--                <span>23</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex flex-wrap mt-auto">-->
<!--              <div class="tag cobalt">Technology transfer</div>-->
<!--              <div class="tag cobalt">Artificial intelligence</div>-->
<!--              <div class="tag cobalt">Self-cooling</div>-->
<!--              <div class="tag cobalt">Patent</div>-->
<!--            </div>-->
<!--            <a class="institution-card__link" href="#"></a>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-4">-->
<!--        <div class="wrapper">-->
<!--          <article class="institution-card">-->
<!--            <img class="institution-card__logo" [src]="'homepage-images/csa.png' | assets" alt="ČSA">-->
<!--            <p class="institution-card__title mb-2">ČEZ</p>-->
<!--            <small class="d-block mb-4">Airlines / Aviation</small>-->
<!--            <div class="d-flex mb-3">-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#spaceship"></use>-->
<!--                </svg>-->
<!--                <span>12</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#paper"></use>-->
<!--                </svg>-->
<!--                <span>89</span>-->
<!--              </div>-->
<!--              <div class="institution-card__stats">-->
<!--                <svg>-->
<!--                  <use xlink:href="#microscope"></use>-->
<!--                </svg>-->
<!--                <span>23</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex flex-wrap mt-auto">-->
<!--              <div class="tag cobalt">Technology transfer</div>-->
<!--              <div class="tag cobalt">Artificial intelligence</div>-->
<!--              <div class="tag cobalt">Self-cooling</div>-->
<!--              <div class="tag cobalt">Patent</div>-->
<!--            </div>-->
<!--            <a class="institution-card__link" href="#"></a>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">-->
<!--        <span class="institutions__count d-none d-lg-block" data-limit="6382">1</span>-->
<!--        <span class="institutions__count&#45;&#45;mobile d-lg-none">6382</span>-->
<!--        <div class="institutions__link">-->
<!--          <a href="#">Explore all institutions</a>-->
<!--          <svg class="institutions__chevron">-->
<!--            <use xlink:href="#chevron-right"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="experts">-->
<!--  <div class="d-flex justify-content-between mb-4 mb-lg-7">-->
<!--    <div class="container d-flex justify-content-between">-->
<!--      <h2 class="experts__title">Explore<br> by experts</h2>-->
<!--      <div class="controls">-->
<!--        <div class="controls__arrow left">-->
<!--          <svg>-->
<!--            <use xlink:href="#arrow-left"></use>-->
<!--          </svg>-->
<!--          <div class="controls__line"></div>-->
<!--        </div>-->
<!--        <div class="controls__arrow right">-->
<!--          <div class="controls__line"></div>-->
<!--          <svg>-->
<!--            <use xlink:href="#arrow-right"></use>-->
<!--          </svg>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="owl-carousel owl-carousel04">-->
<!--    <article class="expert-card">-->
<!--      <figure class="expert-card__avatar">-->
<!--        <img [src]="'homepage-images/avatar.jpg' | assets" alt="Avatar">-->
<!--      </figure>-->
<!--      <p class="expert-card__name">Cheryl Gomez</p>-->
<!--      <div class="expert-card__check">-->
<!--        <svg>-->
<!--          <use xlink:href="#check"></use>-->
<!--        </svg>-->
<!--        <p>Verified expert</p>-->
<!--      </div>-->
<!--      <div class="d-flex mb-3">-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#spaceship"></use>-->
<!--          </svg>-->
<!--          <span>12</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#paper"></use>-->
<!--          </svg>-->
<!--          <span>89</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#microscope"></use>-->
<!--          </svg>-->
<!--          <span>23</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-wrap justify-content-center mt-auto">-->
<!--        <div class="tag cobalt">Technology transfer</div>-->
<!--        <div class="tag cobalt">Artificial intelligence</div>-->
<!--        <div class="tag cobalt">Self-cooling</div>-->
<!--        <div class="tag cobalt">Patent</div>-->
<!--      </div>-->
<!--      <a class="expert-card__link" href="#"></a>-->
<!--    </article>-->
<!--    <article class="expert-card">-->
<!--      <figure class="expert-card__avatar">-->
<!--        <img [src]="'homepage-images/avatar.jpg' | assets" alt="Avatar">-->
<!--      </figure>-->
<!--      <p class="expert-card__name">Cheryl Gomez</p>-->
<!--      <div class="expert-card__check">-->
<!--        <svg>-->
<!--          <use xlink:href="#check"></use>-->
<!--        </svg>-->
<!--        <p>Verified expert</p>-->
<!--      </div>-->
<!--      <div class="d-flex mb-3">-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#spaceship"></use>-->
<!--          </svg>-->
<!--          <span>12</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#paper"></use>-->
<!--          </svg>-->
<!--          <span>89</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#microscope"></use>-->
<!--          </svg>-->
<!--          <span>23</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-wrap justify-content-center mt-auto">-->
<!--        <div class="tag cobalt">Technology transfer</div>-->
<!--        <div class="tag cobalt">Artificial intelligence</div>-->
<!--        <div class="tag cobalt">Self-cooling</div>-->
<!--        <div class="tag cobalt">Patent</div>-->
<!--      </div>-->
<!--      <a class="expert-card__link" href="#"></a>-->
<!--    </article>-->
<!--    <article class="expert-card">-->
<!--      <figure class="expert-card__avatar">-->
<!--        <img [src]="'homepage-images/avatar.jpg' | assets" alt="Avatar">-->
<!--      </figure>-->
<!--      <p class="expert-card__name">Cheryl Gomez</p>-->
<!--      <div class="expert-card__check">-->
<!--        <svg>-->
<!--          <use xlink:href="#check"></use>-->
<!--        </svg>-->
<!--        <p>Verified expert</p>-->
<!--      </div>-->
<!--      <div class="d-flex mb-3">-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#spaceship"></use>-->
<!--          </svg>-->
<!--          <span>12</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#paper"></use>-->
<!--          </svg>-->
<!--          <span>89</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#microscope"></use>-->
<!--          </svg>-->
<!--          <span>23</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-wrap justify-content-center mt-auto">-->
<!--        <div class="tag cobalt">Technology transfer</div>-->
<!--        <div class="tag cobalt">Artificial intelligence</div>-->
<!--        <div class="tag cobalt">Self-cooling</div>-->
<!--        <div class="tag cobalt">Patent</div>-->
<!--      </div>-->
<!--      <a class="expert-card__link" href="#"></a>-->
<!--    </article>-->
<!--    <article class="expert-card">-->
<!--      <figure class="expert-card__avatar">-->
<!--        <img [src]="'homepage-images/avatar.jpg' | assets" alt="Avatar">-->
<!--      </figure>-->
<!--      <p class="expert-card__name">Cheryl Gomez</p>-->
<!--      <div class="expert-card__check">-->
<!--        <svg>-->
<!--          <use xlink:href="#check"></use>-->
<!--        </svg>-->
<!--        <p>Verified expert</p>-->
<!--      </div>-->
<!--      <div class="d-flex mb-3">-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#spaceship"></use>-->
<!--          </svg>-->
<!--          <span>12</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#paper"></use>-->
<!--          </svg>-->
<!--          <span>89</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#microscope"></use>-->
<!--          </svg>-->
<!--          <span>23</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-wrap justify-content-center mt-auto">-->
<!--        <div class="tag cobalt">Technology transfer</div>-->
<!--        <div class="tag cobalt">Artificial intelligence</div>-->
<!--        <div class="tag cobalt">Self-cooling</div>-->
<!--        <div class="tag cobalt">Patent</div>-->
<!--      </div>-->
<!--      <a class="expert-card__link" href="#"></a>-->
<!--    </article>-->
<!--    <article class="expert-card">-->
<!--      <figure class="expert-card__avatar">-->
<!--        <img [src]="'homepage-images/avatar.jpg' | assets" alt="Avatar">-->
<!--      </figure>-->
<!--      <p class="expert-card__name">Cheryl Gomez</p>-->
<!--      <div class="expert-card__check">-->
<!--        <svg>-->
<!--          <use xlink:href="#check"></use>-->
<!--        </svg>-->
<!--        <p>Verified expert</p>-->
<!--      </div>-->
<!--      <div class="d-flex mb-3">-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#spaceship"></use>-->
<!--          </svg>-->
<!--          <span>12</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#paper"></use>-->
<!--          </svg>-->
<!--          <span>89</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#microscope"></use>-->
<!--          </svg>-->
<!--          <span>23</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-wrap justify-content-center mt-auto">-->
<!--        <div class="tag cobalt">Technology transfer</div>-->
<!--        <div class="tag cobalt">Artificial intelligence</div>-->
<!--        <div class="tag cobalt">Self-cooling</div>-->
<!--        <div class="tag cobalt">Patent</div>-->
<!--      </div>-->
<!--      <a class="expert-card__link" href="#"></a>-->
<!--    </article>-->
<!--    <article class="expert-card">-->
<!--      <figure class="expert-card__avatar">-->
<!--        <img [src]="'homepage-images/avatar.jpg' | assets" alt="Avatar">-->
<!--      </figure>-->
<!--      <p class="expert-card__name">Cheryl Gomez</p>-->
<!--      <div class="expert-card__check">-->
<!--        <svg>-->
<!--          <use xlink:href="#check"></use>-->
<!--        </svg>-->
<!--        <p>Verified expert</p>-->
<!--      </div>-->
<!--      <div class="d-flex mb-3">-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#spaceship"></use>-->
<!--          </svg>-->
<!--          <span>12</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#paper"></use>-->
<!--          </svg>-->
<!--          <span>89</span>-->
<!--        </div>-->
<!--        <div class="expert-card__stats">-->
<!--          <svg>-->
<!--            <use xlink:href="#microscope"></use>-->
<!--          </svg>-->
<!--          <span>23</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="d-flex flex-wrap justify-content-center mt-auto">-->
<!--        <div class="tag cobalt">Technology transfer</div>-->
<!--        <div class="tag cobalt">Artificial intelligence</div>-->
<!--        <div class="tag cobalt">Self-cooling</div>-->
<!--        <div class="tag cobalt">Patent</div>-->
<!--      </div>-->
<!--      <a class="expert-card__link" href="#"></a>-->
<!--    </article>-->
<!--    <div class="experts__all">-->
<!--      <a class="mr-2" href="#">Explore all institutions</a>-->
<!--      <svg class="institutions__chevron">-->
<!--        <use xlink:href="#chevron-right"></use>-->
<!--      </svg>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="customers">-->
<!--  <div class="customers__shape"></div>-->
<!--  <div class="container d-flex flex-column justify-content-center align-items-center">-->
<!--    <h2 class="customers__title">Customers love us</h2>-->
<!--    <p class="customers__paragraph">We help to create a connection between the world of science and business</p>-->
<!--    <div class="owl-carousel owl-carousel05">-->
<!--      <article class="customer-card">-->
<!--        <figure class="customer-card__image">-->
<!--          <img [src]="'homepage-images/person.jpg' | assets" alt="Person">-->
<!--        </figure>-->
<!--        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 py-7">-->
<!--          <svg class="customer-card__quote">-->
<!--            <use xlink:href="#quote"></use>-->
<!--          </svg>-->
<!--          <p class="customer-card__paragraph">-->
<!--            This is what is really lacking in the rapidly evolving world of technology.-->
<!--            Exterts.ai helps us look for new connections every day.-->
<!--          </p>-->
<!--          <h3 class="mb-2">Jonathan Taylor</h3>-->
<!--          <span class="customer-card__institution">Accenture</span>-->
<!--        </div>-->
<!--      </article>-->
<!--      <article class="customer-card">-->
<!--        <figure class="customer-card__image">-->
<!--          <img [src]="'homepage-images/person.jpg' | assets" alt="Person">-->
<!--        </figure>-->
<!--        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 py-7">-->
<!--          <svg class="customer-card__quote">-->
<!--            <use xlink:href="#quote"></use>-->
<!--          </svg>-->
<!--          <p class="customer-card__paragraph">-->
<!--            This is what is really lacking in the rapidly evolving world of technology.-->
<!--            Exterts.ai helps us look for new connections every day.-->
<!--          </p>-->
<!--          <h3 class="mb-2">Jonathan Taylor</h3>-->
<!--          <span class="customer-card__institution">ČVUT</span>-->
<!--        </div>-->
<!--      </article>-->
<!--      <article class="customer-card">-->
<!--        <figure class="customer-card__image">-->
<!--          <img [src]="'homepage-images/person.jpg' | assets" alt="Person">-->
<!--        </figure>-->
<!--        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 py-7">-->
<!--          <svg class="customer-card__quote">-->
<!--            <use xlink:href="#quote"></use>-->
<!--          </svg>-->
<!--          <p class="customer-card__paragraph">-->
<!--            This is what is really lacking in the rapidly evolving world of technology.-->
<!--            Exterts.ai helps us look for new connections every day.-->
<!--          </p>-->
<!--          <h3 class="mb-2">Jonathan Taylor</h3>-->
<!--          <span class="customer-card__institution">Facebook</span>-->
<!--        </div>-->
<!--      </article>-->
<!--      <article class="customer-card">-->
<!--        <figure class="customer-card__image">-->
<!--          <img [src]="'homepage-images/person.jpg' | assets" alt="Person">-->
<!--        </figure>-->
<!--        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 py-7">-->
<!--          <svg class="customer-card__quote">-->
<!--            <use xlink:href="#quote"></use>-->
<!--          </svg>-->
<!--          <p class="customer-card__paragraph">-->
<!--            This is what is really lacking in the rapidly evolving world of technology.-->
<!--            Exterts.ai helps us look for new connections every day.-->
<!--          </p>-->
<!--          <h3 class="mb-2">Jonathan Taylor</h3>-->
<!--          <span class="customer-card__institution">Škoda</span>-->
<!--        </div>-->
<!--      </article>-->
<!--      <article class="customer-card">-->
<!--        <figure class="customer-card__image">-->
<!--          <img [src]="'homepage-images/person.jpg' | assets" alt="Person">-->
<!--        </figure>-->
<!--        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1 py-7">-->
<!--          <svg class="customer-card__quote">-->
<!--            <use xlink:href="#quote"></use>-->
<!--          </svg>-->
<!--          <p class="customer-card__paragraph">-->
<!--            This is what is really lacking in the rapidly evolving world of technology.-->
<!--            Exterts.ai helps us look for new connections every day.-->
<!--          </p>-->
<!--          <h3 class="mb-2">Jonathan Taylor</h3>-->
<!--          <span class="customer-card__institution">Forbes</span>-->
<!--        </div>-->
<!--      </article>-->
<!--    </div>-->
<!--    <div class="customers__logos">-->
<!--      <img class="active" width="151" [src]="'homepage-images/accenture-logo.png' | assets" alt="Accenture" />-->
<!--      <img width="123" [src]="'homepage-images/cvut-logo.png' | assets" alt="ČVUT" />-->
<!--      <img width="144" [src]="'homepage-images/facebook-logo.png' | assets" alt="Facebook" />-->
<!--      <img width="76" [src]="'homepage-images/skoda-logo.png' | assets" alt="Škoda" />-->
<!--      <img width="103" [src]="'homepage-images/forbes-logo.png' | assets" alt="Forbes" />-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<footer class="footer pt-6 pt-lg-8">
  <div class="container">
    <div class="row mb-3 mb-lg-5">
      <div class="col-lg-5">
        <img class="footer__logo" [src]="'homepage-images/logo-ai.svg' | assets" alt="experts.ai">
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <h4 class="footer__heading">Company</h4>
        <a class="footer__link" href="#">About us</a>
        <a class="footer__link" href="#">News</a>
        <a class="footer__link" href="#">Contact us</a>
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <h4 class="footer__heading">Solutions</h4>
        <a class="footer__link" href="#">For experts</a>
        <a class="footer__link" href="#">For institutions</a>
        <a class="footer__link" href="#">For business</a>
      </div>
      <div class="col-12 col-sm-4 col-lg-3">
        <h4 class="footer__heading">Product</h4>
        <a class="footer__link" href="#">Sign up</a>
        <a class="footer__link" href="#">FAQ</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between flex-wrap">
        <a href="https://unico.ai/" class="py-3 py-sm-0">
          <img class="footer__logo-unico" [src]="'homepage-images/logo-unico.svg' | assets" alt="experts.ai">
        </a>
        <div class="footer__social">
          <a href="#">
            <svg width="20" height="20">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
          <a class="mx-3" href="#">
            <svg width="20" height="20">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a href="#">
            <svg width="24" height="23">
              <use xlink:href="#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-12 py-3 py-lg-5">
        <div class="border-bottom"></div>
      </div>
    </div>
    <div class="row pt-4 pt-lg-0 pb-5">
      <div class="col-12 d-flex justify-content-between align-items-center flex-wrap">
        <div class="d-flex align-items-center">
          <small>&copy; 2020 Experts.ai, All Rights Reserved</small>
          <small class="mx-4"></small>
          <small><a class="footer__link mb-0" href="#">Terms and Conditions</a></small>
        </div>
        <div class="d-flex align-items-center mt-4 mt-md-0">
          <small>
            Created by
            <a class="footer__link d-inline-block mb-0" href="https://www.wdf.cz/">WDF</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>

<app-login-sidebar></app-login-sidebar>
