<div *ngFor="let expert of experts">
  <a (click)="clickedExpert()" [routerLink]="'expertDetail' | path: expert.expertCode" class="d-flex">
    <figure class="avatar avatar__xs mr-1 flex-shrink-0 flex-grow-0">
      <img [src]="expert.userId | userImg" appOptionalImg [altSrc]="'images/avatar.png' | assets">
    </figure>
    <div>
    </div>
  </a>
</div>
